/**
 * config.js
 */

exports.CONTESTAPP        = 'xxxxxxxx'
exports.CONTESTAPP_SECRET = 'xxxxxxxx'
exports.TRIBOXAPP         = 'xxxxxxxx'
exports.TRIBOXAPP_SECRET  = 'xxxxxxxx'
exports.WCAAPP            = 'xxxxxxxx'
exports.WCAAPP_SECRET     = 'xxxxxxxx'

// スクランブル用のシード値
exports.SEED = 'xxxxxxxx'

// Sarumawashi のパス (FMC の解答チェック用)
exports.PATH_TO_SARUMAWASHI = '/path/to/Sarumawashi'

exports.DUMMY_USERS = [
    'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
];
