# MySQL
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_HOST=tribox-contest-mysql-server
MYSQL_DATABASE=tribox
TZ=Asia/Tokyo

# MySQL (store)
MYSQL_STORE_USER=user
MYSQL_STORE_PASSWORD=password
MYSQL_STORE_HOST=tribox-store-mysql-server
MYSQL_STORE_DATABASE=tribox

# Contest web site
CONTEST_NAME="tribox Contest"
CONTEST_DESCRIPTION="TORIBOコンテストは、誰でも参加可能。毎週開催のお得なネットコンテストです。"
CONTEST_URL="https://contest.tribox.com/"
CONTEST_PATH="/path/to/app"

# Firebase app
FIREBASEAPP_CONTEST="firebase-contest-app"
FIREBASEAPP_CONTEST_APIKEY="firebase-contest-app apiKey"
FIREBASEAPP_CONTEST_SENDERID="firebase-contest-app messagingSenderId"
FIREBASEAPP_WCA="firebase-wca-app"
FIREBASEAPP_WCA_APIKEY="firebase-wca-app apiKey"
FIREBASEAPP_WCA_SENDERID="firebase-wca-app messagingSenderId"

# Admin API token
ADMIN_API_TOKEN="xxxx"

# Google verification (optional)
GOOGLE_VERIFICATION=""
