# Play stuffs
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.sbtserver
.sbtserver.lock

/conf/dev.conf
/conf/prod.conf

# Contest Manager
/contestmanager/node_modules*
/contestmanager/config.js
/contestmanager/secret/serviceAccountKey.json
/contestmanager/secret/wca/serviceAccountKey.json
/contestmanager/appendlogs/*.log
/contestmanager/deletelogs/*.log
/contestmanager/PHPMailer

# FMC images
/public/333fm/*.png

# Backup
/backup/*.json
/backup/*.sql
/backup.archives/*.tar.gz

# SSL auth file
fileauth.txt
fileauth_*.txt
