[% set title = "Contest Result " + cid + " (" + eid + ")"%] [% set page_url =
contest_url + "/contest/result/" + cid + "/" + eid %]

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
  >
    [% import "components/header.html" as header %] [[ header.print(title=title,
    description=contest_description, sitename=contest_name,
    contest_url=contest_url, page_url=page_url) ]]
    <!-- Load c3.css -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Load d3.js and c3.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
      charset="utf-8"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

    [% import "components/basejs.html" as basejs %] [[
    basejs.print(firebaseapp_contest, firebaseapp_contest_apikey,
    firebaseapp_contest_senderid, firebaseapp_wca) ]]

    <link
      rel="stylesheet"
      media="screen"
      href="[[ url_for('static', filename='stylesheets/contestresult.css') ]]"
    />
  </head>
  <body>
    <div class="container">
      [% import "components/bodyheader.html" as bodyheader %] [[
      bodyheader.print(title=title, contest_name=contest_name) ]]

      <div ng-controller="AuthCtrl">
        <div ng-controller="ContestCtrl">
          <div ng-controller="ContestResultCtrl">
            <div ng-hide="authLoaded && contestLoaded && contestResultLoaded">
              <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
              <span class="sr-only">Loading...</span>
              Loading...
            </div>
            <div
              id="main-content"
              class="hide"
              ng-show="authLoaded && contestLoaded && contestResultLoaded"
            >
              [% import "components/authinfo.html" as authinfo %] [[
              authinfo.print() ]]

              <div ng-hide="existsContest">
                <p class="color-error">存在しないコンテストです。</p>
              </div>
              <div ng-hide="existsEvent">
                <p class="color-error">存在しない競技です。</p>
              </div>
              <div ng-hide="countdown < 0">
                <p class="color-error">
                  終了していないコンテストです。結果を表示できません。
                </p>
              </div>
              <div
                ng-hide="0 <= countdown || contestData.resultsStatus == 'public' || usersecretData.isAdmin"
              >
                <p class="color-error notice-error">
                  記録を集計中です。集計完了後に結果が公開されます。公開までしばらくお待ちください。
                </p>
              </div>

              <div
                ng-show="existsContest && existsEvent && countdown < 0 && (contestData.resultsStatus == 'public' || usersecretData.isAdmin)"
              >
                <div class="contestresult-info">
                  <div class="contestresult-picker-nav">
                    <div class="contestresult-picker-season">
                      <a
                        class="contestresult-picker-season-arrow"
                        ng-if="prevSeason"
                        href="/contest/result/{{ prevSeason.firstCid }}/[[ eid ]]"
                      ><img src="/assets/images/icons/chevron_right_arrow.png" class="contestresult-picker-season-arrow-flip" width="32" height="32" alt="前へ" /></a>
                      <span class="contestresult-picker-season-arrow" ng-if="!prevSeason"
                      ><img src="/assets/images/icons/chevron_right_gray.png" class="contestresult-picker-season-arrow-flip" width="32" height="32" alt="前へ" /></span>
                      <span class="contestresult-picker-season-label contestresult-gradient-border">{{ currentSeasonLabel }}</span>
                      <a
                        class="contestresult-picker-season-arrow"
                        ng-if="nextSeason"
                        href="/contest/result/{{ nextSeason.firstCid }}/[[ eid ]]"
                      ><img src="/assets/images/icons/chevron_right_arrow.png" width="32" height="32" alt="次へ" /></a>
                      <span class="contestresult-picker-season-arrow" ng-if="!nextSeason"
                      ><img src="/assets/images/icons/chevron_right_gray.png" width="32" height="32" alt="次へ" /></span>
                    </div>
                    <div class="contestresult-picker-contest">
                      <span ng-repeat="c in contestsList">
                        <a
                          class="contestresult-picker-contest-item"
                          ng-class="{'active contestresult-gradient-border': (c.id | removeHead) == '[[ cid ]]'}"
                          ng-if="!c.disabled"
                          href="/contest/result/{{ c.id | removeHead }}/[[ eid ]]"
                        >{{ c.number }}</a>
                        <span
                          class="contestresult-picker-contest-item disabled"
                          ng-if="c.disabled"
                        >{{ c.number }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="contestresult-info-title">{{ currentSeasonLabel }} 第{{ currentContestNumber }}節</div>

                  <div class="contestresult-picker-event">
                    <a
                      class="contestresult-picker-event-item"
                      href="/contest/[[ cid ]]"
                    >
                      <span class="contestresult-picker-event-label">TOP</span>
                      <img class="contestresult-picker-event-icon" src="/assets/images/icons/event_top.png" width="24" height="24" alt="TOP" />
                    </a>
                    <a
                      class="contestresult-picker-event-item"
                      ng-class="{'active contestresult-gradient-border': (e | removeHead) == '[[ eid ]]'}"
                      ng-repeat="e in contestData.events"
                      href="/contest/result/[[ cid ]]/{{ e | removeHead }}"
                    >
                      <span class="contestresult-picker-event-label">{{ eventShortNames[e] || events[e].name }}</span>
                      <img class="contestresult-picker-event-icon" ng-src="/assets/images/icons/{{ eventIcons[e] }}" width="24" height="24" alt="{{ eventShortNames[e] }}" />
                    </a>
                  </div>
                </div>

                <div class="contestresult-puzzle-section">
                  <div class="contestresult-puzzle-section-title contestresult-hide-mobile">参加者全員のパズル</div>
                  <div class="contestresult-puzzle-content">
                    <div class="contestresult-puzzle-chart">
                      <div id="chartall"></div>
                    </div>
                    <div class="contestresult-puzzle-list">
                      <div
                        class="contestresult-puzzle-item"
                        ng-repeat="p in resultsPuzzlesAll.e[[ eid ]]"
                      >
                        <span class="contestresult-puzzle-color-wrapper">
                          <span class="contestresult-puzzle-color" ng-style="{'background-color': puzzleColors[$index] || '#808080', 'width': p.percentage + '%'}"></span>
                        </span>
                        <span class="contestresult-puzzle-pct">{{ p.percentage }}%</span>
                        <img
                          class="contestresult-puzzle-brand"
                          ng-if="p.brand"
                          ng-src="https://store.tribox.com/user_data/img/category/{{ p.brand }}.png"
                          height="24"
                        />
                        <span class="contestresult-puzzle-brand-placeholder" ng-if="!p.brand"></span>
                        <div class="contestresult-puzzle-bar-wrapper">
                          <a
                            class="contestresult-puzzle-name"
                            ng-if="p.productId != -1"
                            href="https://store.tribox.com/products/detail.php?product_id={{ p.productId }}"
                            target="_blank"
                          >{{ p.productName }}</a>
                          <span class="contestresult-puzzle-name contestresult-puzzle-name-other" ng-if="p.productId == -1">その他</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="contestresult-puzzle-section">
                  <div class="contestresult-puzzle-section-title contestresult-hide-mobile">入賞者のパズル</div>
                  <div class="contestresult-puzzle-content">
                    <div class="contestresult-puzzle-chart">
                      <div id="chart"></div>
                    </div>
                    <div class="contestresult-puzzle-list">
                      <div
                        class="contestresult-puzzle-item"
                        ng-repeat="p in resultsPuzzles.e[[ eid ]]"
                      >
                        <span class="contestresult-puzzle-color-wrapper">
                          <span class="contestresult-puzzle-color" ng-style="{'background-color': puzzleColors[$index] || '#808080', 'width': p.percentage + '%'}"></span>
                        </span>
                        <span class="contestresult-puzzle-pct">{{ p.percentage }}%</span>
                        <img
                          class="contestresult-puzzle-brand"
                          ng-if="p.brand"
                          ng-src="https://store.tribox.com/user_data/img/category/{{ p.brand }}.png"
                          height="24"
                        />
                        <span class="contestresult-puzzle-brand-placeholder" ng-if="!p.brand"></span>
                        <div class="contestresult-puzzle-bar-wrapper">
                          <a
                            class="contestresult-puzzle-name"
                            ng-if="p.productId != -1"
                            href="https://store.tribox.com/products/detail.php?product_id={{ p.productId }}"
                            target="_blank"
                          >{{ p.productName }}</a>
                          <span class="contestresult-puzzle-name contestresult-puzzle-name-other" ng-if="p.productId == -1">その他</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <h4>キューブ使用率ランキング</h4>
                <div class="row">
                  <div class="col sm-12"><b>集計対象: 参加者全員</b></div>
                  <div class="col sm-4">
                    <ol>
                      <li ng-repeat="p in resultsPuzzlesAll.e[[ eid ]]">
                        <a
                          href="https://store.tribox.com/products/detail.php?product_id={{ p.productId }}"
                          target="_blank"
                          ng-show="p.productId != -1"
                        >
                          {{ p.productName }}
                        </a>
                        <span ng-show="p.productId == -1"> その他 </span>
                        ({{ p.percentage }}%)
                      </li>
                    </ol>
                  </div>
                  <div class="col sm-8">
                    <div id="chartall"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col sm-12"><b>集計対象: 入賞者</b></div>
                  <div class="col sm-4">
                    <ol>
                      <li ng-repeat="p in resultsPuzzles.e[[ eid ]]">
                        <a
                          href="https://store.tribox.com/products/detail.php?product_id={{ p.productId }}"
                          target="_blank"
                          ng-show="p.productId != -1"
                        >
                          {{ p.productName }}
                        </a>
                        <span ng-show="p.productId == -1"> その他 </span>
                        ({{ p.percentage }}%)
                      </li>
                    </ol>
                  </div>
                  <div class="col sm-8">
                    <div id="chart"></div>
                  </div>
                </div>
                <script>
                  var drawChart = function (dataall, data) {
                    if (0 < dataall.length) {
                      var chart = c3.generate({
                        bindto: "#chartall",
                        data: {
                          columns: dataall,
                          type: "pie",
                          order: null,
                        },
                        size: {
                          height: 240,
                        },
                      });
                    }
                    if (0 < data.length) {
                      var chart = c3.generate({
                        bindto: "#chart",
                        data: {
                          columns: data,
                          type: "pie",
                          order: null,
                        },
                        size: {
                          height: 240,
                        },
                      });
                    }
                  };
                </script> -->

                <!-- <h4>コンテスト結果</h4>
                <p><i class="fa fa-star color-star"></i>: 当選ポイント獲得</p> -->
                <table class="contestresult-table">
                  <thead
                      class="contestresult-table-header"
                  >
                    <tr>
                      <th class="contestresult-table-text-align-center contestresult-table-col-sp contestresult-table-hide-mobile">SP</th>
                      <th class="contestresult-table-text-align-end contestresult-table-col-place">順位</th>
                      [% if eid != "333fm" %]
                      <th class="contestresult-table-text-align-end contestresult-table-col-avg">Avg. of 5</th>
                      [% endif %]
                      <th class="[% if eid == '333fm' %]contestresult-table-col-detail-body[% else %]contestresult-table-col-deploy[% endif %]">
                        [% if eid != "333fm" %]
                        <div class="contestresult-table-deploy-button-container">
                          <button class="contestresult-table-deploy-button">
                            <img
                              src="/assets/images/icons/deploy.png"
                              height="24"
                              title="deploy"
                              alt="deploy"
                            />
                          </button>
                        </div>
                        [% endif %]
                      </th>
                      <th class="contestresult-table-detail-records contestresult-table-cell-padded">個々の記録</th>
                      <th class="contestresult-table-cell-padded">競技者 / 所属</th>
                      <th class="contestresult-table-cell-padded contestresult-table-col-puzzle">
                        <img class="contestresult-table-show-mobile" src="/assets/images/icons/cube_empty.png" height="24" title="パズル" alt="パズル" />
                        <span class="contestresult-table-hide-mobile">パズル</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="contestresult-table-body-item"
                      id="e[[ eid ]]-{{ $index }}"
                      ng-repeat="r in resultsAll.e[[ eid ]]"
                    >
                      <td class="contestresult-table-hide-mobile">
                        <div class="contestresult-table-placement">
                          <span></span>
                          <span ng-if="r.seasonPoint + r.seasonPointVideoBonus">
                            {{ r.seasonPoint + r.seasonPointVideoBonus }}p
                          </span>
                          <span class="lottery" ng-show="r.lottery">
                            <i class="fa fa-star color-star"></i>
                          </span>
                        </div>
                      </td>
                      <td class="contestresult-table-text-align-end">{{ r.place }}位</td>
                      [% if eid != "333fm" %]
                      <td class="contestresult-table-text-align-end contestresult-table-font-bold">{{ r.resultF }}</td>
                      [% endif %]
                      <td class="[% if eid == '333fm' %]contestresult-table-col-detail-body[% else %]contestresult-table-col-deploy-body[% endif %]">
                        [% if eid == "333fm" %]
                        <div class="contestresult-table-deploy-button-container">
                          <button class="contestresult-table-deploy-button" ng-click="showDetail($index)">
                            <img
                              src="/assets/images/icons/detail.png"
                              height="18"
                              title="detail"
                              alt="detail"
                            />
                          </button>
                        </div>
                        [% endif %]
                      </td>
                      <td class="contestresult-table-detail-records contestresult-table-cell-padded">
                        <div class="contestresult-table-records">
                          <div class="contestresult-table-record-items" ng-repeat="d in r.detailsF.split(' ')">{{ d }}</div>
                        </div>
                      </td>
                      <td class="contestresult-table-cell-padded">
                        <div class="contestresult-table-name">
                          <img
                            src="https://flagcdn.com/{{ r.user.iso2.toLowerCase() }}.svg"
                            ng-show="r.user.iso2"
                            height="16"
                          />
                          <a
                            class="contestresult-table-line-clamp contestresult-table-link"
                            href="/user/{{ r.user.username }}"
                          >
                            <span ng-if="r.user.organization">
                              {{ r.user.organization }} /
                            </span>{{ r.user.displayname }}
                          </a>
                        </div>
                      </td>
                      <td class="contestresult-table-cell-padded contestresult-table-col-puzzle">
                        <div class="contestresult-table-puzzle">
                          <img
                            src="https://store.tribox.com/user_data/img/category/{{ r.puzzle.brand }}.png"
                            ng-show="r.user.iso2"
                            height="24"
                          />
                          <a
                            class="contestresult-table-line-clamp contestresult-table-link-default-color contestresult-table-hide-mobile"
                            ng-if="r.puzzle.type == 'database'"
                            href="https://store.tribox.com/products/detail.php?product_id={{ r.puzzle.product }}"
                            target="_blank"
                          >{{ r.puzzleF }}</a>
                          <span class="contestresult-table-hide-mobile" ng-if="r.puzzle.type != 'database'">{{ r.puzzleF }}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <h4>スクランブル</h4>

                <table class="table table-striped">
                  <tbody>
                    <tr ng-repeat="s in scramblesData.e[[ eid ]]">
                      <td>{{ $index + 1 }}</td>
                      <td ng-bind-html="s"></td>
                    </tr>
                  </tbody>
                </table>

                [#
                <!--<p>usersecretData:</p>
                <pre>{{ usersecretData | json }}</pre>-->
                #] [#
                <!--<p>[[ cid ]] -> contestData:</p>
                <pre>{{ contestData | json }}</pre>-->
                #] [#
                <!--<pre>{{ resultsAll.e[[ eid ]] | json }}</pre>-->
                #] [#
                <!--<pre>{{ resultsPuzzles.e[[ eid ]] | json }}</pre>-->
                #] [#
                <!--<pre>{{ resultsTop3.e[[ eid ]] | json }}</pre>-->
                #] [#
                <!--<pre>{{ scramblesData | json }}</pre>-->
                #]
              </div>
            </div>
          </div>
        </div>
      </div>

      [% include "components/bodyfooter.html" %] [% import
      "components/authjs.html" as authjs %] [[ authjs.print(redirect_login="",
      redirect_logout="", check_first=True) ]] [% import
      "components/contestjs.html" as contestjs %] [[ contestjs.print(cid=cid,
      eid=eid, fetch_scrambles=True, fetch_results_top3=False,
      fetch_results_all=True)]]
      <script>
        app.controller("ContestResultCtrl", [
          "$scope",
          function ($scope) {
            $scope.contestResultLoaded = false;
            $scope.currentContest = "[[ cid ]]";
            $scope.currentEvent = "[[ eid ]]";
            $scope.contestsList = null;
            $scope.eventShortNames = {
              e333: "3x3", e222: "2x2", e444: "4x4", e555: "5x5",
              e666: "6x6", e777: "7x7", e333bf: "BF", e333fm: "FMC",
              e333oh: "OH", eminx: "Mega", epyram: "Pyra", eskewb: "Skewb",
              esq1: "SQ-1", eclock: "Clock"
            };
            $scope.eventIcons = {
              e333: "event_3x3.png", e222: "event_2x2.png", e444: "event_4x4.png",
              e555: "event_5x5.png", e666: "event_6x6.png", e777: "event_7x7.png",
              e333bf: "event_bld.png", e333fm: "event_fmc.png", e333oh: "event_oh.png",
              eminx: "event_megaminx.png", epyram: "event_pyraminx.png",
              eskewb: "event_skewb.png", esq1: "event_sq1.png", eclock: "event_clock.png"
            };

            // 今シーズンの開催済みコンテストリスト
            // とりあえず contests テーブルから引っ張ってくる
            contestRef.child("contests").once("value", function (snapContests) {
              contestRef
                .child("inProgress")
                .once("value", function (snapInProgress) {
                  var lastContest = snapInProgress.val().lastContest;
                  var contests = snapContests.val();
                  var currentSeason = "[[ cid ]]".slice(0, 5);
                  var _contestsList = [];
                  var seasonsMap = {};
                  Object.keys(snapContests.val()).forEach(function (contestId) {
                    var cid = contestId.replace(/^c/, "");
                    var season = cid.slice(0, 5);
                    if (contestId <= lastContest) {
                      if (!seasonsMap[season]) {
                        var year = season.slice(0, 4);
                        var half = season.charAt(4) === "1" ? "前半期" : "後半期";
                        seasonsMap[season] = { id: season, label: year + " " + half, firstCid: cid };
                      }
                    }
                    if (season === currentSeason) {
                      _contestsList.push({
                        id: contestId,
                        number: parseInt(cid.slice(5), 10),
                        disabled: contestId > lastContest,
                      });
                    }
                  });
                  var sortedSeasons = Object.keys(seasonsMap).sort().map(function(k) { return seasonsMap[k]; });
                  var currentIndex = -1;
                  for (var i = 0; i < sortedSeasons.length; i++) {
                    if (sortedSeasons[i].id === currentSeason) { currentIndex = i; break; }
                  }
                  $scope.currentSeasonLabel = currentIndex >= 0 ? sortedSeasons[currentIndex].label : "";
                  $scope.prevSeason = currentIndex > 0 ? sortedSeasons[currentIndex - 1] : null;
                  $scope.nextSeason = currentIndex < sortedSeasons.length - 1 ? sortedSeasons[currentIndex + 1] : null;
                  $scope.currentSeason = currentSeason;
                  $scope.currentContestNumber = parseInt("[[ cid ]]".slice(5), 10);
                  $scope.contestsList = _contestsList;
                  $scope.contestResultLoaded = true;
                });
            });

            // 円グラフ描画 (contestjs.html から drawChart が呼ばれる)
            var pieColors = ["#2690D9", "#E87D7E", "#FF8000", "#29A329", "#B470C2"];
            $scope.puzzleColors = pieColors;
            var pieOtherColor = "#808080";

            function getPieColorMap(columns) {
              var map = {};
              columns.forEach(function(col, i) {
                if (col[0] === "その他") {
                  map[col[0]] = pieOtherColor;
                } else {
                  map[col[0]] = pieColors[i] || pieOtherColor;
                }
              });
              return map;
            }

            window.drawChart = function(dataall, data) {
              if (dataall && dataall.length > 0) {
                c3.generate({
                  bindto: "#chartall",
                  data: { columns: dataall, type: "pie", order: null, labels: false, colors: getPieColorMap(dataall) },
                  size: { height: 240 },
                  legend: { show: false },
                  pie: { label: { show: false } },
                  tooltip: { format: { value: function(v) { return v + "%"; } } }
                });
              }
              if (data && data.length > 0) {
                c3.generate({
                  bindto: "#chart",
                  data: { columns: data, type: "pie", order: null, labels: false, colors: getPieColorMap(data) },
                  size: { height: 240 },
                  legend: { show: false },
                  pie: { label: { show: false } },
                  tooltip: { format: { value: function(v) { return v + "%"; } } }
                });
              }
            };

            [% if eid == "333fm" %]
            var showDetailList = [];

            function getVisibleColspan() {
              var row = document.querySelector('.contestresult-table-header tr');
              if (!row) return 6;
              var count = 0;
              var cells = row.children;
              for (var i = 0; i < cells.length; i++) {
                if (window.getComputedStyle(cells[i]).display !== 'none') {
                  count++;
                }
              }
              return count;
            }

            $scope.showDetail = function (index) {
              var rowId = 'row-detail-' + index;
              var existing = document.getElementById(rowId);

              if (!showDetailList[index]) {
                showDetailList[index] = true;
                var colspan = getVisibleColspan();
                var html =
                  '<tr id="' + rowId + '" class="row-detail">' +
                  '<td colspan="' + colspan + '" style="padding:0;border:none;">' +
                  '<div class="contestresult-table-detail-slide">' +
                  '<p><b>解答:</b><br>' +
                  TriboxContest.escapeHTML(
                    $scope.resultsAll["e333fm"][index].details[0].solution
                  ) +
                  '</p>' +
                  '<p><b>解説コメント:</b><br>' +
                  TriboxContest.escapeHTML(
                    $scope.resultsAll["e333fm"][index].details[0].note
                  ) +
                  '</p>' +
                  '</div></td></tr>';
                angular
                  .element(document.getElementById("e333fm-" + index))
                  .after(html);
                var slideEl = document.getElementById(rowId).querySelector('.contestresult-table-detail-slide');
                requestAnimationFrame(function() {
                  requestAnimationFrame(function() {
                    slideEl.classList.add('open');
                  });
                });
              } else {
                showDetailList[index] = false;
                if (existing) {
                  var slideEl = existing.querySelector('.contestresult-table-detail-slide');
                  slideEl.classList.remove('open');
                  slideEl.addEventListener('transitionend', function() {
                    angular.element(existing).remove();
                  }, { once: true });
                }
              }
            };
            [% endif %]

            $scope.deleteResult = function (username, displayname, url) {
              var ok = confirm(
                "【確認】" +
                  displayname +
                  " (ユーザー名 " +
                  username +
                  ") の記録を削除しますか？"
              );
              if (ok) {
                window.open(url, "_blank");
              }
            };
          },
        ]);
      </script>
      <script
        type="text/javascript"
        src="[[ url_for('products_js') ]]"
      ></script>
      <script
        type="text/javascript"
        src="[[ url_for('static', filename='javascripts/contestresult.js') ]]"
      ></script>
    </div>
  </body>
</html>
