[% set title = "Logout" %]

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
  >
    [% import "components/header.html" as header %] [[ header.print(title=title,
    description=contest_description, sitename=contest_name,
    contest_url=contest_url, page_url=page_url) ]] [% import
    "components/basejs.html" as basejs %] [[ basejs.print(firebaseapp_contest,
    firebaseapp_contest_apikey, firebaseapp_contest_senderid) ]][% import
    "components/authjs.html" as authjs %] [[ authjs.print(redirect_login="",
    redirect_logout="", check_first=False) ]]

    <link
      rel="stylesheet"
      media="screen"
      href="[[ url_for('static', filename='stylesheets/login.css') ]]"
    />

    <script>
      app.controller("AuthLogoutCtrl", [
        "$scope",
        "Auth",
        function ($scope, Auth) {
          $scope.logout = function () {
            Auth.$signOut();
            location.href = "[[ url_for('index') ]]?logout=1";
          };
        },
      ]);
    </script>
  </head>
  <body>
    <div class="container">
      [% import "components/bodyheader.html" as bodyheader %] [[
      bodyheader.print(title=title, contest_name=contest_name) ]]

      <div ng-controller="AuthCtrl">
        <div ng-controller="AuthLogoutCtrl">
          <div ng-hide="authLoaded">
            <div class="cube-loader"><div class="cube-loader-grid"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div><div class="cube-loader-text">Loading...</div></div>
          </div>
          <div ng-show="authLoaded">
            [% import "components/authinfo.html" as authinfo %] [[
            authinfo.print() ]]

            <div class="auth-page">
              <div class="auth-card">
                <h2 class="auth-title">ログアウト</h2>
                <p class="auth-desc">ログアウトしますか？</p>
                <form name="logoutForm" ng-submit="logout()">
                  <button class="auth-submit" type="submit">ログアウト</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      [% include "components/bodyfooter.html" %]
    </div>
  </body>
</html>
