[% set title = "Ranking" + sid[0:4] + " " + sid[4:5] + "H" %]
[% set page_url = contest_url + "/ranking" + sid %]

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
  >
  [% import "components/header.html" as header %]
  [[ header.print(title=title, description=contest_description, sitename=contest_name, contest_url=contest_url, page_url=page_url) ]]
  [% import "components/basejs.html" as basejs %]
  [[ basejs.print(firebaseapp_contest, firebaseapp_contest_apikey, firebaseapp_contest_senderid, firebaseapp_wca) ]]
  [% import "components/authjs.html" as authjs %]
  [[ authjs.print(redirect_login="", redirect_logout="", check_first=True) ]]

  <link
    rel="stylesheet"
    media="screen"
    href="[[ url_for('static', filename='stylesheets/contestresult.css') ]]"
  />
  <link
    rel="stylesheet"
    media="screen"
    href="[[ url_for('static', filename='stylesheets/ranking.css') ]]"
  />
</head>
<body><div class="container">
  [% import "components/bodyheader.html" as bodyheader %]
  [[ bodyheader.print(title=title, contest_name=contest_name) ]]

  <div ng-controller="AuthCtrl">
    <div ng-controller="RankingCtrl">
      <div ng-hide="authLoaded && rankingLoaded">
        <div class="cube-loader"><div class="cube-loader-grid"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div><div class="cube-loader-text">Loading...</div></div>
      </div>
      <div ng-show="authLoaded && rankingLoaded">
        [% import "components/authinfo.html" as authinfo %]
        [[ authinfo.print() ]]

        <div ng-hide="existsSeason">
          <p class="color-error">存在しないシーズンです。</p>
        </div>

        <div ng-show="existsSeason">
          <div class="ranking-head">
            <div class="ranking-head-text">
              <h2 class="ranking-title">{{ seasonName }} SPランキング</h2>
              <p class="ranking-period">
                <b>{{ targetContestFrom.contestName }}</b> ({{
                targetContestFrom.beginAt | toDateShort }} 開始) ~
                <b>{{ targetContestTo.contestName }}</b> ({{
                targetContestTo.endAt | toDateShort }} 終了)
              </p>
            </div>

            <div class="contestresult-picker-season ranking-season-picker">
              <a
                class="contestresult-picker-season-arrow"
                ng-if="prevSeason"
                href="/ranking/{{ prevSeason.id }}"
              ><img src="/assets/images/icons/chevron_right_arrow.png" class="contestresult-picker-season-arrow-flip" width="32" height="32" alt="前へ" /></a>
              <span class="contestresult-picker-season-arrow" ng-if="!prevSeason"
              ><img src="/assets/images/icons/chevron_right_gray.png" class="contestresult-picker-season-arrow-flip" width="32" height="32" alt="前へ" /></span>
              <span class="contestresult-picker-season-label contestresult-gradient-border">{{ currentSeasonLabel }}</span>
              <a
                class="contestresult-picker-season-arrow"
                ng-if="nextSeason"
                href="/ranking/{{ nextSeason.id }}"
              ><img src="/assets/images/icons/chevron_right_arrow.png" width="32" height="32" alt="次へ" /></a>
              <span class="contestresult-picker-season-arrow" ng-if="!nextSeason"
              ><img src="/assets/images/icons/chevron_right_gray.png" width="32" height="32" alt="次へ" /></span>
            </div>
          </div>

          <div class="contestresult-picker-event">
            <a
              class="contestresult-picker-event-item"
              ng-repeat="(eid, e) in events"
              href="#{{ eid | removeHead }}"
            >
              <span class="contestresult-picker-event-label">{{ eventShortNames[eid] || events[eid].name }}</span>
              <img class="contestresult-picker-event-icon" ng-src="/assets/images/icons/{{ eventIcons[eid] }}" width="24" height="24" alt="{{ events[eid].name }}" />
            </a>
          </div>

          <div class="ranking-event-section" ng-repeat="(eid, e) in events">
            <h3 class="ranking-event-title" id="{{ eid | removeHead }}">
              <span class="cubing-icon event-{{ eid | removeHead }}"></span>
              {{ events[eid].name }}
            </h3>

            <table class="ranking-table">
              <thead class="ranking-table-header">
                <tr>
                  <th class="ranking-col-rank">順位</th>
                  <th class="ranking-cell-padded">競技者 / 所属</th>
                  <th class="ranking-col-sp">SP</th>
                  <th class="ranking-cell-padded ranking-col-puzzle">
                    <img class="ranking-show-mobile" src="/assets/images/icons/cube_empty.png" height="24" alt="パズル" />
                    <span class="ranking-hide-mobile">パズル</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="ranking-table-row" ng-repeat="data in seasonPointsSorted[eid]">
                  <td class="ranking-col-rank">{{ data.rank }}</td>
                  <td class="ranking-cell-padded">
                    <div class="ranking-name">
                      <div class="contestresult-table-flag">
                        <img
                          src="https://flagcdn.com/{{ data.user.iso2.toLowerCase() }}.svg"
                          ng-show="data.user.iso2"
                          height="16"
                        />
                      </div>
                      <a class="ranking-link" href="/user/{{ data.user.username }}">
                        {{ data.user.displayname }}<span ng-if="data.user.organization">
                          / {{ data.user.organization }}
                        </span>
                      </a>
                    </div>
                  </td>
                  <td class="ranking-col-sp">{{ data.seasonPoint }}</td>
                  <td class="ranking-cell-padded ranking-col-puzzle">
                    <div class="ranking-puzzle" ng-show="data.lastUsedPuzzleId != -1">
                      <a
                        class="ranking-puzzle-brand-link"
                        ng-show="data.lastUsedPuzzleBrand"
                        href="https://store.tribox.com/products/detail.php?product_id={{ data.lastUsedPuzzleId }}"
                        target="_blank"
                      >
                        <img
                          class="ranking-puzzle-brand"
                          ng-src="https://store.tribox.com/user_data/img/category/{{ data.lastUsedPuzzleBrand }}.png"
                          height="24"
                        />
                      </a>
                      <a
                        class="ranking-link ranking-hide-mobile"
                        href="https://store.tribox.com/products/detail.php?product_id={{ data.lastUsedPuzzleId }}"
                        target="_blank"
                      >{{ data.lastUsedPuzzleName }}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

    [% include "components/bodyfooter.html" %] [% import
    "components/authjs.html" as authjs %] [[ authjs.print(redirect_login="",
    redirect_logout="", check_first=True) ]]
    [% import "components/contestpickerjs.html" as contestpickerjs %]
    [[ contestpickerjs.print(cid=sid, eid="") ]]

<script>
    app.controller('RankingCtrl', ['$scope', '$timeout', function($scope, $timeout) {
        $scope.rankingLoaded = false;
        $scope.existsSeason = false;
        ContestPicker.initScope($scope);
        ContestPicker.loadSeasons($scope, contestRef, '[[ sid ]]', function() {});

        $scope.seasonName = null;
        $scope.targetContestFrom = null;
        $scope.targetContestTo = null;
        $scope.events = null;
        $scope.seasonPointsSorted = null;

        contestRef.child('events').once('value', function(snapEvents) {
            var events = snapEvents.val();

        contestRef.child('users').once('value', function(snapUsers) {
            var users = snapUsers.val();

        contestRef.child('inProgress').once('value', function(snapInProgress) {
            var inProgress = snapInProgress.val();

        contestRef.child('contests').once('value', function(snapContests) {
            var contests = snapContests.val();

            var seasonName = '';
            var targetContests = [];
            var targetContestFrom = '';
            var targetContestTo = '';
            Object.keys(contests).forEach(function(cid) {
                if ('' + contests[cid].year + contests[cid].season == '[[ sid ]]') {
                    if (cid < inProgress.contest) {
                        targetContests.push(cid);

                        if (targetContestFrom == '' && targetContestTo == '') {
                            targetContestFrom = cid;
                            targetContestTo = cid;
                        } else {
                            if (cid < targetContestFrom) {
                                targetContestFrom = cid;
                            }
                            if (targetContestTo < cid) {
                                targetContestTo = cid;
                            }
                        }

                        if (seasonName == '') {
                            seasonName = contests[cid].year + '年';
                            if (contests[cid].season == 1) {
                                seasonName += ' 前半期';
                            } else if (contests[cid].season == 2) {
                                seasonName += ' 後半期';
                            }
                        }
                    }
                }
            });
            if (0 < targetContests.length) {

                var results = {};
                var numResultsFetched = 0;
                targetContests.forEach(function(cid) {
                    contestRef.child('results').child(cid).once('value', function(snapResult) {
                        results[cid] = snapResult.val();
                        numResultsFetched++;
                        if (numResultsFetched == targetContests.length) {
                            // Now, All results fetched

                            // シーズンポイント・使用キューブ集計
                            var seasonPoints = {};
                            var usedPuzzles = {};
                            var lastUsedPuzzles = {};
                            var lastUsedPuzzleBrands = {};
                            Object.keys(events).forEach(function(eid) {
                                seasonPoints[eid] = {};
                                usedPuzzles[eid] = {};
                                lastUsedPuzzles[eid] = {};
                                lastUsedPuzzleBrands[eid] = {};
                            });
                            Object.keys(results).forEach(function(cid) {
                                Object.keys(results[cid]).forEach(function(eid) {
                                    Object.keys(results[cid][eid]).forEach(function(uid) {
                                        if (!(results[cid][eid][uid]._dummy)) {
                                            if (!(uid in seasonPoints[eid])) {
                                                seasonPoints[eid][uid] = 0;
                                                usedPuzzles[eid][uid] = {};
                                            }
                                            if (!(uid in lastUsedPuzzles[eid])) {
                                                lastUsedPuzzles[eid][uid] = 0;
                                            }
                                            if (results[cid][eid][uid].seasonPoint || results[cid][eid][uid].seasonPointVideoBonus) {
                                                // シーズンポイント
                                                if (results[cid][eid][uid].seasonPoint) {
                                                    seasonPoints[eid][uid] += results[cid][eid][uid].seasonPoint;
                                                }
                                                // シーズンポイント（ビデオボーナス）
                                                if (results[cid][eid][uid].seasonPointVideoBonus) {
                                                    seasonPoints[eid][uid] += results[cid][eid][uid].seasonPointVideoBonus;
                                                }
                                                if (results[cid][eid][uid].puzzle && results[cid][eid][uid].puzzle.type == 'database') {
                                                    var productId = results[cid][eid][uid].puzzle.product;
                                                    if (!(productId in usedPuzzles[eid][uid])) {
                                                        usedPuzzles[eid][uid][productId] = 0;
                                                    }
                                                    (usedPuzzles[eid][uid][productId])++;
                                                    lastUsedPuzzles[eid][uid] = productId;
                                                    lastUsedPuzzleBrands[eid][uid] = results[cid][eid][uid].puzzle.brand;
                                                }
                                            }
                                        }
                                    });
                                });
                            });

                            // 最も使用されたパズル
                            // 同数の場合は productId が大きいパズル
                            var bestUsedPuzzles = {};
                            Object.keys(usedPuzzles).forEach(function(eid) {
                                bestUsedPuzzles[eid] = {};
                                Object.keys(usedPuzzles[eid]).forEach(function(uid) {
                                    var bestProductId = -1;
                                    var maxCount = -1;
                                    Object.keys(usedPuzzles[eid][uid]).forEach(function(productId) {
                                        if (maxCount <= usedPuzzles[eid][uid][productId] && bestProductId < productId) {
                                            bestProductId = productId;
                                            maxCount = usedPuzzles[eid][uid][productId];
                                        }
                                    });
                                    bestUsedPuzzles[eid][uid] = bestProductId;
                                });
                            });

                            // 配列化・ソート・ランク付け
                            // 0 シーズンポイントのユーザを排除してユーザ情報を入れる
                            var seasonPointsSorted = {};
                            Object.keys(seasonPoints).forEach(function(eid) {
                                // 配列化
                                seasonPointsSorted[eid] = [];
                                Object.keys(seasonPoints[eid]).forEach(function(uid) {
                                    if (0 < seasonPoints[eid][uid]) {
                                        var bestUsedPuzzleId = bestUsedPuzzles[eid][uid];
                                        var bestUsedPuzzleName = '';
                                        if (0 < bestUsedPuzzleId) {
                                            bestUsedPuzzleName = TriboxContest.Products[bestUsedPuzzleId];
                                        }
                                        var lastUsedPuzzleId = lastUsedPuzzles[eid][uid];
                                        var lastUsedPuzzleName = '';
                                        if (0 < lastUsedPuzzleId) {
                                            lastUsedPuzzleName = TriboxContest.Products[lastUsedPuzzleId];
                                        }
                                        seasonPointsSorted[eid].push({
                                            'uid': uid, 'seasonPoint': seasonPoints[eid][uid],
                                            'user': users[uid],
                                            'bestUsedPuzzleId': bestUsedPuzzleId,
                                            'bestUsedPuzzleName': bestUsedPuzzleName,
                                            'lastUsedPuzzleId': lastUsedPuzzleId,
                                            'lastUsedPuzzleName': lastUsedPuzzleName,
                                            'lastUsedPuzzleBrand': lastUsedPuzzleBrands[eid][uid]
                                        });
                                    }
                                });

                                // ソート
                                seasonPointsSorted[eid].sort(function(a, b) {
                                    if (a.seasonPoint < b.seasonPoint) return 1;
                                    if (a.seasonPoint > b.seasonPoint) return -1;
                                    return 0;
                                });

                                // ランク付け
                                var prevSP = -1;
                                var prevRank = -1;
                                seasonPointsSorted[eid].forEach(function(data, index) {
                                    if (data.seasonPoint != prevSP) {
                                        seasonPointsSorted[eid][index].rank = index + 1;
                                    } else {
                                        seasonPointsSorted[eid][index].rank = prevRank;
                                    }
                                    prevSP = data.seasonPoint;
                                    prevRank = seasonPointsSorted[eid][index].rank;
                                });
                            });

                            $timeout(function() {
                                $scope.rankingLoaded = true;
                                $scope.existsSeason = true;

                                $scope.seasonName = seasonName;
                                $scope.targetContestFrom = contests[targetContestFrom];
                                $scope.targetContestTo = contests[targetContestTo];

                                $scope.events = events;
                                $scope.seasonPointsSorted = seasonPointsSorted;
                            });

                            // ユーザの国籍を非同期に読み込む
                            Object.keys(seasonPointsSorted).forEach(function(eid) {
                                seasonPointsSorted[eid].forEach(function(data, index) {
                                    if (wcaRef && data.user.wcaId) {
                                        wcaRef.child('persons').child(data.user.wcaId).once('value', function(snapPerson) {
                                            if (snapPerson.exists()) {
                                                wcaRef.child('countries').child(snapPerson.val().countryId).once('value', function(snapCountry) {
                                                    if (snapCountry.exists()) {
                                                        seasonPointsSorted[eid][index].user.iso2 = snapCountry.val().iso2;
                                                        $timeout(function() {
                                                            $scope.seasonPointsSorted = seasonPointsSorted;
                                                        });
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            });

                        }
                    });
                });
            } else {
                $timeout(function() {
                    $scope.rankingLoaded = true;
                });
            }

        });
        });
        });
        });
    }]);
    </script>
    <script type="text/javascript" src="[[ url_for('products_js') ]]"></script>

</div></body>
</html>


