[% set page_url = contest_url + "ranking/" + sid + "/puzzle/all" %] [% set title
= "Puzzle Ranking All" + sid[0:4] + " " + sid[4:5] + "H" %]

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
  >
    [% import "components/header.html" as header %] [[ header.print(title=title,
    description=contest_description, sitename=contest_name,
    contest_url=contest_url, page_url=page_url) ]]
    [% import "components/basejs.html" as basejs %] [[
    basejs.print(firebaseapp_contest, firebaseapp_contest_apikey,
    firebaseapp_contest_senderid, firebaseapp_wca) ]]

    <link
      rel="stylesheet"
      media="screen"
      href="[[ url_for('static', filename='stylesheets/contestresult.css') ]]"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="[[ url_for('static', filename='stylesheets/ranking.css') ]]"
    />
  </head>
  <body>
    <div class="container">
      [% import "components/bodyheader.html" as bodyheader %] [[
      bodyheader.print(title=title, contest_name=contest_name) ]]

      <div ng-controller="AuthCtrl">
        <div ng-controller="RankingPuzzleCtrl">
          <div ng-hide="authLoaded && rankingPuzzleLoaded">
            <div class="cube-loader"><div class="cube-loader-grid"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div><div class="cube-loader-text">Loading...</div></div>
          </div>
          <div ng-show="authLoaded && rankingPuzzleLoaded">
            [% import "components/authinfo.html" as authinfo %] [[
            authinfo.print() ]]

            <div ng-hide="existsSeason">
              <p class="color-error">存在しないシーズンです。</p>
            </div>

            <div ng-show="existsSeason">
              <div class="ranking-head">
                <div class="ranking-head-text">
                  <h2 class="ranking-title">{{ seasonName }} キューブ使用率ランキング</h2>
                  <p class="ranking-period">
                    対象: <b>参加者全員</b><br />
                    <b>{{ targetContestFrom.contestName }}</b> ({{
                    targetContestFrom.beginAt | toDateShort }} 開始) ~
                    <b>{{ targetContestTo.contestName }}</b> ({{
                    targetContestTo.endAt | toDateShort }} 終了)
                  </p>
                </div>

                <div class="contestresult-picker-season ranking-season-picker">
                  <a
                    class="contestresult-picker-season-arrow"
                    ng-if="prevSeason"
                    href="/ranking/{{ prevSeason.id }}/puzzle/all"
                  ><img src="/assets/images/icons/chevron_right_arrow.png" class="contestresult-picker-season-arrow-flip" width="32" height="32" alt="前へ" /></a>
                  <span class="contestresult-picker-season-arrow" ng-if="!prevSeason"
                  ><img src="/assets/images/icons/chevron_right_gray.png" class="contestresult-picker-season-arrow-flip" width="32" height="32" alt="前へ" /></span>
                  <span class="contestresult-picker-season-label contestresult-gradient-border">{{ currentSeasonLabel }}</span>
                  <a
                    class="contestresult-picker-season-arrow"
                    ng-if="nextSeason"
                    href="/ranking/{{ nextSeason.id }}/puzzle/all"
                  ><img src="/assets/images/icons/chevron_right_arrow.png" width="32" height="32" alt="次へ" /></a>
                  <span class="contestresult-picker-season-arrow" ng-if="!nextSeason"
                  ><img src="/assets/images/icons/chevron_right_gray.png" width="32" height="32" alt="次へ" /></span>
                </div>
              </div>

              <p class="ranking-puzzle-switch">
                <a href="/ranking/[[ sid ]]/puzzle">入賞者のキューブ使用率ランキングに切り替える</a>
              </p>

              <div class="contestresult-picker-event">
                <a
                  class="contestresult-picker-event-item"
                  ng-repeat="(eid, e) in events"
                  href="#{{ eid | removeHead }}"
                >
                  <span class="contestresult-picker-event-label">{{ eventShortNames[eid] || events[eid].name }}</span>
                  <img class="contestresult-picker-event-icon" ng-src="/assets/images/icons/{{ eventIcons[eid] }}" width="24" height="24" alt="{{ events[eid].name }}" />
                </a>
              </div>

              <div class="ranking-event-section" ng-repeat="(eid, e) in events">
                <h3 class="ranking-event-title" id="{{ eid | removeHead }}">
                  <span class="cubing-icon event-{{ eid | removeHead }}"></span>
                  {{ events[eid].name }}
                </h3>

                <div class="contestresult-puzzle-content">
                  <div class="contestresult-puzzle-list">
                    <div
                      class="contestresult-puzzle-item"
                      ng-repeat="p in usedPuzzlesSummary[eid]"
                    >
                      <span class="contestresult-puzzle-color-wrapper">
                        <span class="contestresult-puzzle-color" ng-style="{'background-color': puzzleColors[$index] || '#808080', 'width': p.percentage + '%'}"></span>
                      </span>
                      <span class="contestresult-puzzle-pct">{{ p.percentage }}%</span>
                      <img
                        class="contestresult-puzzle-brand"
                        ng-if="p.brand"
                        ng-src="https://store.tribox.com/user_data/img/category/{{ p.brand }}.png"
                        height="24"
                      />
                      <span class="contestresult-puzzle-brand-placeholder" ng-if="!p.brand"></span>
                      <div class="contestresult-puzzle-bar-wrapper">
                        <a
                          class="contestresult-puzzle-name"
                          ng-if="p.productId != -1"
                          href="https://store.tribox.com/products/detail.php?product_id={{ p.productId }}"
                          target="_blank"
                        >{{ p.productName }}</a>
                        <span class="contestresult-puzzle-name contestresult-puzzle-name-other" ng-if="p.productId == -1">その他</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      [% include "components/bodyfooter.html" %] [% import
      "components/authjs.html" as authjs %] [[ authjs.print(redirect_login="",
      redirect_logout="", check_first=True) ]]
      [% import "components/contestpickerjs.html" as contestpickerjs %]
      [[ contestpickerjs.print(cid=sid, eid="") ]]
      <script>
        app.controller("RankingPuzzleCtrl", [
          "$scope",
          "$timeout",
          function ($scope, $timeout) {
            $scope.rankingPuzzleLoaded = false;
            $scope.existsSeason = false;
            ContestPicker.initScope($scope);
            ContestPicker.loadSeasons($scope, contestRef, '[[ sid ]]', function() {});
            $scope.puzzleColors = ["#2690D9", "#E87D7E", "#FF8000", "#29A329", "#B470C2"];

            $scope.seasonName = null;
            $scope.targetContestFrom = null;
            $scope.targetContestTo = null;
            $scope.events = null;
            $scope.resultsPuzzlesSummary = null;

            contestRef.child("events").once("value", function (snapEvents) {
              var events = snapEvents.val();

              contestRef.child("users").once("value", function (snapUsers) {
                var users = snapUsers.val();

                contestRef
                  .child("inProgress")
                  .once("value", function (snapInProgress) {
                    var inProgress = snapInProgress.val();

                    contestRef
                      .child("contests")
                      .once("value", function (snapContests) {
                        var contests = snapContests.val();

                        var seasonName = "";
                        var targetContests = [];
                        var targetContestFrom = "";
                        var targetContestTo = "";
                        Object.keys(contests).forEach(function (cid) {
                          if (
                            "" + contests[cid].year + contests[cid].season ==
                            "[[ sid ]]"
                          ) {
                            if (cid < inProgress.contest) {
                              targetContests.push(cid);

                              if (
                                targetContestFrom == "" &&
                                targetContestTo == ""
                              ) {
                                targetContestFrom = cid;
                                targetContestTo = cid;
                              } else {
                                if (cid < targetContestFrom) {
                                  targetContestFrom = cid;
                                }
                                if (targetContestTo < cid) {
                                  targetContestTo = cid;
                                }
                              }

                              if (seasonName == "") {
                                seasonName = contests[cid].year + "年";
                                if (contests[cid].season == 1) {
                                  seasonName += " 前半期";
                                } else if (contests[cid].season == 2) {
                                  seasonName += " 後半期";
                                }
                              }
                            }
                          }
                        });
                        if (0 < targetContests.length) {
                          var results = {};
                          var numResultsFetched = 0;
                          targetContests.forEach(function (cid) {
                            contestRef
                              .child("results")
                              .child(cid)
                              .once("value", function (snapResult) {
                                results[cid] = snapResult.val();
                                numResultsFetched++;
                                if (
                                  numResultsFetched == targetContests.length
                                ) {
                                  // Now, All results fetched

                                  // 使用キューブ集計
                                  var usedPuzzles = {};
                                  var puzzleBrands = {};
                                  Object.keys(events).forEach(function (eid) {
                                    usedPuzzles[eid] = {};
                                    puzzleBrands[eid] = {};
                                  });
                                  Object.keys(results).forEach(function (cid) {
                                    Object.keys(results[cid]).forEach(function (
                                      eid
                                    ) {
                                      Object.keys(results[cid][eid]).forEach(
                                        function (uid) {
                                          if (!results[cid][eid][uid]._dummy) {
                                            if (
                                              results[cid][eid][uid].puzzle &&
                                              results[cid][eid][uid].puzzle
                                                .type == "database"
                                            ) {
                                              var productId =
                                                results[cid][eid][uid].puzzle
                                                  .product;
                                              if (
                                                !(productId in usedPuzzles[eid])
                                              ) {
                                                usedPuzzles[eid][productId] = 0;
                                              }
                                              usedPuzzles[eid][productId]++;
                                              puzzleBrands[eid][productId] =
                                                results[cid][eid][uid].puzzle.brand;
                                            }
                                          }
                                        }
                                      );
                                    });
                                  });

                                  // 使用キューブを
                                  // 配列化・ソート
                                  var usedPuzzlesSorted = {};
                                  var usedPuzzlesSummary = {};
                                  Object.keys(usedPuzzles).forEach(function (
                                    eid
                                  ) {
                                    var usedPuzzlesSum = 0;

                                    // 配列化
                                    usedPuzzlesSorted[eid] = [];
                                    usedPuzzlesSummary[eid] = [];
                                    Object.keys(usedPuzzles[eid]).forEach(
                                      function (productId) {
                                        var productName = "";
                                        if (0 < productId) {
                                          productName =
                                            TriboxContest.Products[productId];
                                        }
                                        usedPuzzlesSorted[eid].push({
                                          productId: productId,
                                          productName: productName,
                                          brand: puzzleBrands[eid][productId],
                                          count: usedPuzzles[eid][productId],
                                        });
                                        usedPuzzlesSum +=
                                          usedPuzzles[eid][productId];
                                      }
                                    );

                                    // ソート
                                    usedPuzzlesSorted[eid].sort(function (
                                      a,
                                      b
                                    ) {
                                      if (a.count < b.count) return 1;
                                      if (a.count > b.count) return -1;
                                      if (a.productId < b.productId) return 1;
                                      if (a.productId > b.productId) return -1;
                                      return 0;
                                    });

                                    // 上位5パズル以外はその他にする
                                    var countOthers = 0;
                                    usedPuzzlesSorted[eid].forEach(function (
                                      puzzleObj,
                                      index
                                    ) {
                                      if (index < 5) {
                                        puzzleObj.percentage = Math.round(
                                          (puzzleObj.count / usedPuzzlesSum) *
                                            100
                                        );
                                        usedPuzzlesSummary[eid].push(puzzleObj);
                                      } else {
                                        countOthers += puzzleObj.count;
                                      }
                                    });
                                    if (0 < countOthers) {
                                      usedPuzzlesSummary[eid].push({
                                        productId: -1,
                                        productName: "その他",
                                        count: countOthers,
                                        percentage: Math.round(
                                          (countOthers / usedPuzzlesSum) * 100
                                        ),
                                      });
                                    }
                                  });

                                  $timeout(function () {
                                    $scope.rankingPuzzleLoaded = true;
                                    $scope.existsSeason = true;

                                    $scope.seasonName = seasonName;
                                    $scope.targetContestFrom =
                                      contests[targetContestFrom];
                                    $scope.targetContestTo =
                                      contests[targetContestTo];

                                    $scope.events = events;
                                    $scope.usedPuzzlesSummary =
                                      usedPuzzlesSummary;
                                  });
                                }
                              });
                          });
                        } else {
                          $timeout(function () {
                            $scope.rankingLoaded = true;
                          });
                        }
                      });
                  });
              });
            });
          },
        ]);
      </script>
      <script type="text/javascript" src="[[ url_for('products_js') ]]"></script>
    </div>
  </body>
</html>
