<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
  <head>
    [% import "components/headeronlyfire.html" as headeronlyfire %] [[
    headeronlyfire.print() ]] [% import "components/basejs.html" as basejs %] [[
    basejs.print(firebaseapp_contest, firebaseapp_contest_apikey,
    firebaseapp_contest_senderid) ]]
  </head>
  <body ng-controller="RedirectCtrl">
    Redirecting...

    <script>
      app.controller("RedirectCtrl", [
        "$scope",
        function ($scope) {
          contestRef
            .child("inProgress")
            .once("value", function (snapInProgress) {
              contestRef
                .child("contests")
                .child(snapInProgress.val().contest)
                .once("value", function (snapContest) {
                  var contest = snapContest.val();
                  window.location =
                    "/ranking/" + contest.year + contest.season + "/puzzle";
                });
            });
        },
      ]);
    </script>
  </body>
</html>
