include "application.conf"

# 1) Change secret key.
play.crypto.secret = "changeme"

# 2) Change database configurations.
db {
    # Default database configuration using MySQL database engine
    # Connect to playdb as playdbuser
    default.driver = com.mysql.jdbc.Driver
    default.url = "jdbc:mysql://localhost/playdb?characterEncoding=UTF-8"
    default.username = playdbuser
    default.password = "playdbpassword"

    store.driver = com.mysql.jdbc.Driver
    store.url = "jdbc:mysql://localhost/storedb?characterEncoding=UTF-8"
    store.username = storedbuser
    store.password = "storedbpassword"

    #stickers.driver = com.mysql.jdbc.Driver
    #stickers.url = "jdbc:mysql://localhost/stickersdb?characterEncoding=UTF-8"
    #stickers.username = stickersdbuser
    #stickers.password = "stickersdbpassword"

    #wca.driver = com.mysql.jdbc.Driver
    #wca.url = "jdbc:mysql://localhost/wcadb?characterEncoding=UTF-8"
    #wca.username = wcadbuser
    #wca.password = "wcadbpassword"
}

# 3) Change contest info.
contest.name = "tribox Contest トリコン"
contest.description = "triboxコンテストは、誰でも参加可能。毎週開催のお得なネットコンテストです。"
contest.url = "https://contest.tribox.com"
contest.playpath = "/path/to/playapp"

# 4) Change firebase app name.
firebaseapp.contest = "firebase-contest-app"
firebaseapp.contestapikey = "firebase-contest-app_apiKey"
firebaseapp.contestmessagingsenderid = "firebase-contest-app_messagingSenderId"
firebaseapp.wca = "firebase-wca-app"

# 5) Google verification (optional)
google.verification = ""
