[% macro print(eid='') -%]

[% if eid == 'demo' %]
    <p id="event-info" class="margin-bottom-0">
        Demo Timer
    </p>
[% else %]
    [% if eid != '' %]
        <p id="event-info" class="margin-bottom-0">
            {{ events[eid].name }}
        </p>
    [% endif %]
[% endif %]

<p id="auth-info" class="margin-bottom-30 hide" ng-show="isLoggingin">
    {{ userData.displayname }}<span ng-show="userData.organization">, {{ userData.organization }}</span>
    <span class="color-error" ng-show="isTemporaryPassword">
        一時パスワードが変更されていません。<a href="/setting/password" class="underlined">パスワードを変更</a>してください。
    </span>
</p>

[%- endmacro %]
