<footer id="footer">
  <div id="footer-inner">
    <nav id="footer-nav">
      <a class="footer-nav-item" href="https://store.tribox.com/" target="_blank" rel="noreferrer">
        <img class="footer-nav-icon" src="/assets/images/icons/store_gray90.svg" alt="store icon" /><span>ストア</span>
      </a>
      <a class="footer-nav-item active" href="[[ url_for('index') ]]">
        <img class="footer-nav-icon" src="/assets/images/icons/contest_gray90.svg" alt="contest icon" /><span>コンテスト</span>
        <span class="footer-nav-bar"></span>
      </a>
      <a class="footer-nav-item" href="https://about.tribox.com/" target="_blank" rel="noreferrer">
        <img class="footer-nav-icon" src="/assets/images/icons/company_gray90.svg" alt="company icon" /><span>カンパニー</span>
      </a>
    </nav>
    <p id="footer-copyright">
      Copyright &copy; 2016&ndash;2026 <a href="https://about.tribox.com/">Tribox Inc.</a> All Rights Reserved.<br />
      <a href="https://github.com/tribox/tribox-contest">This software is distributed in the Apache License 2.0.</a>
    </p>
  </div>
</footer>
