@(redirectLogin: String, redirectLogout: String, checkFirst: Boolean)

<script>
// A process is an auth thing in progress or not.
// When in progress, redirection is not disable.
var authProcessing = false;

app.factory('Auth', ['$firebaseAuth', function($firebaseAuth) {
    return $firebaseAuth();
}]);

app.controller('AuthCtrl', ['$scope', '$firebaseObject', 'Auth', function($scope, $firebaseObject, Auth) {
    $scope.message = null;
    $scope.authData = null;
    $scope.userData = null;
    $scope.usersecretData = null;
    $scope.isLoggingin = false;
    $scope.isTemporaryPassword = false;
    $scope.authLoaded = false;

    Auth.$onAuthStateChanged(function(authData) {
        if (authData) {
            angular.element(document.getElementById('auth-info')).removeClass('hide');
            $scope.message = 'Logged in as: ' + authData.uid + ' (' + authData.email + ')';
            $scope.authData = authData;
            $scope.userData = $firebaseObject(contestRef.child('users').child(authData.uid));
            $scope.userData.$loaded().then(function() {
                @* Issue #32 凍結してたら強制ログアウトする *@
                if ($scope.userData.isSuspended) {
                    Auth.$unauth();
                    location.href = '@routes.HomeController.index?logout=1';
                }
                $scope.authLoaded = true;
            });
            $scope.usersecretData = $firebaseObject(contestRef.child('usersecrets').child(authData.uid));
            $scope.isLoggingin = true;
            @* これは emailVerified で取れるようになったが、一旦trueにします *@
            //$scope.isTemporaryPassword = authData.password.isTemporaryPassword;
            $scope.isTemporaryPassword = true;
            @if(!redirectLogin.isEmpty){
                if (!authProcessing) {
                    location.href = '@redirectLogin';
                }
            }
            @if(checkFirst){
                // Get users list from DB
                contestRef.child('users').child(authData.uid).once('value', function(snapshot) {
                    if (!(snapshot.exists())) {
                        // First login because no user data yet
                        console.log('Logged in as: ' + authData.uid + ' (first login)');
                        location.href = '@routes.SettingController.settingfirst';
                    }
                }, function(error) {
                    Auth.$unauth();
                    $scope.error = error;
                });
            }
        } else {
            $scope.message = 'Logged out';
            $scope.authData = null;
            $scope.userData = null;
            $scope.usersecretData = null;
            $scope.isLoggingin = false;
            $scope.authLoaded = true;
            @if(!redirectLogout.isEmpty){
                if (!authProcessing) {
                    location.href = '@redirectLogout';
                }
            }
        }
    });
}]);
</script>
