@(redirectLogin: String, redirectLogout: String, checkFirst: Boolean)

<script>
app.factory('Auth', ['$firebaseAuth', function($firebaseAuth) {
    return $firebaseAuth(contestRef);
}]);

app.controller('AuthCtrl', ['$scope', '$firebaseObject', 'Auth', function($scope, $firebaseObject, Auth) {
    $scope.message = null;
    $scope.authData = null;
    $scope.userData = null;
    $scope.usersecretData = null;
    $scope.isLoggingin = false;
    $scope.isTemporaryPassword = false;

    Auth.$onAuth(function(authData) {
        if (authData) {
            $scope.message = 'Logged in as: ' + authData.uid + ' (' + authData.password.email + ')';
            $scope.authData = authData;
            $scope.userData = $firebaseObject(contestRef.child('users').child(authData.uid));
            $scope.usersecretData = $firebaseObject(contestRef.child('usersecrets').child(authData.uid));
            $scope.isLoggingin = true;
            $scope.isTemporaryPassword = authData.password.isTemporaryPassword;
            @if(!redirectLogin.isEmpty){
                location.href = '@redirectLogin';
            }
            @if(checkFirst){
                // Get users list from DB
                contestRef.child('users').child(authData.uid).once('value', function(snapshot) {
                    if (!(snapshot.exists())) {
                        // First login because no user data yet
                        console.log('Logged in as: ' + authData.uid + ' (first login)');
                        location.href = '@routes.SettingController.settingfirst';
                    }
                }, function(error) {
                    Auth.$unauth();
                    $scope.error = error;
                });
            }
        } else {
            $scope.message = 'Logged out';
            $scope.authData = null;
            $scope.userData = null;
            $scope.usersecretData = null;
            $scope.isLoggingin = false;
            @if(!redirectLogout.isEmpty){
                location.href = '@redirectLogout';
            }
        }
    });
}]);
</script>
