@(eid: String = "")

@if(eid == "demo") {
        <p class="margin-bottom-0">
            Demo Timer
        </p>
} else { @if(eid != "") {
        <p class="margin-bottom-0">
            {{ events.e@{eid}.name }}
        </p>
} }

        <p id="auth-info" class="margin-bottom-30 hide" ng-show="isLoggingin">
            {{ userData.displayname }}<span ng-show="userData.organization">, {{ userData.organization }}</span>
            <span class="color-error" ng-show="isTemporaryPassword">
                一時パスワードが変更されていません。<a href="/setting/password" class="underlined">パスワードを変更</a>してください。
            </span>
        </p>
