@(title: String, contestName: String, cid: String = "", eid: String = "")

<div id="header">
    <div id="header-logo">
        <a href="/">
            <img src="/assets/images/triboxContest_H60px.png" height="30" title="triboxContest" alt="triboxContest" />
            <span>@contestName</span>
        </a>
    </div>
    @if(cid == "" || eid == "") {
        <div id="header-menu" ng-controller="AuthCtrl">
            <span ng-show="!isLoggingin && authLoaded">
                <a href="@routes.HomeController.login">ログイン</a> /
                <a href="@routes.HomeController.join">会員登録</a>
            </span>
            <span ng-show="isLoggingin && authLoaded">
                <a href="/user/{{ userData.username }}">マイページ</a> /
                <a href="@routes.SettingController.setting">設定</a> /
                <a href="@routes.HomeController.logout">ログアウト</a>
            </span>
        </div>
    } else {
        <div id="header-menu">
            <a href="/contest/@{cid}?suspended=@{eid}">中断</a>
        </div>
    }
</div>

@if(cid == "") {
    <div id="main-menu" class="row">
        <div class="col sm-3">
            <a href="@routes.HomeController.about">トライボックスコンテストとは</a>
        </div>
        <div class="col sm-3" ng-controller="InProgressCtrl">
            <a href="/contest/{{ lastContest | removeHead }}">最新のコンテストの結果</a>
        </div>
        <div class="col sm-3">
            <a href="#">シーズンランキング</a>
        </div>
        <div class="col sm-3">
            <a href="#">キューブ使用率ランキング</a>
        </div>
    </div>

<script>
app.controller('InProgressCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.lastContest = null;

    contestRef.child('inProgress').child('lastContest').once('value', function(snap) {
        $timeout(function() {
            $scope.lastContest = snap.val();
        });
    });
}]);
</script>

} else {
    <hr id="header-line">
}

@*
@if(title.isEmpty){
    <!--<h1>@contestName</h1>-->
}else{
    <!--<h1>@title &mdash; @contestName</h1>-->
}
*@
