@(title: String, contestName: String, cid: String = "", eid: String = "")

<div id="header">
    <div id="header-logo">
        <a href="/">
            <img src="/assets/images/triboxContest_H60px.png" height="30" title="triboxContest" alt="triboxContest" />
            <span>@contestName</span>
        </a>
    </div>
    @if(cid == "" || eid == "") {
        <div id="header-menu" ng-controller="AuthCtrl">
            <span ng-show="!isLoggingin && authLoaded">
                <a href="@routes.HomeController.login">ログイン</a> /
                <a href="@routes.HomeController.join">会員登録</a>
            </span>
            <span ng-show="isLoggingin && authLoaded">
                <a href="/user/{{ userData.username }}">マイページ</a> /
                <a href="@routes.SettingController.setting">設定</a> /
                <a href="@routes.HomeController.logout">ログアウト</a>
            </span>
        </div>
    } else {
        <div id="header-menu">
            <a href="/contest/@{cid}?suspended=@{eid}">中断</a>
        </div>
    }
</div>

@if(cid == "") {
    <div id="main-menu" class="row" ng-controller="InProgressCtrl">
        <div id="main-menu-1" class="col sm-3">
            <a href="@routes.HomeController.about">トライボックスコンテストとは</a>
        </div>
        <div id="main-menu-2" class="col sm-3">
            <a href="/contest/{{ inProgress.lastContest | removeHead }}">最新のコンテストの結果</a>
        </div>
        <div id="main-menu-3" class="col sm-3">
            <a href="/ranking/{{ inProgressContest.year }}{{ inProgressContest.season }}">シーズンランキング</a>
        </div>
        <div id="main-menu-4" class="col sm-3">
            <a href="/ranking/{{ inProgressContest.year }}{{ inProgressContest.season }}/puzzle">キューブ使用率ランキング</a>
        </div>
    </div>
<script>
app.controller('InProgressCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.inProgress = null;
    $scope.inProgressContest = null;

    contestRef.child('inProgress').once('value', function(snapInProgress) {
        contestRef.child('contests').child(snapInProgress.val().contest).once('value', function(snapContest) {
            $timeout(function() {
                $scope.inProgress = snapInProgress.val();
                $scope.inProgressContest = snapContest.val();
            });
        });
    });

    var refHeight = document.getElementById('main-menu-1').offsetHeight;
    angular.element(document.getElementById('main-menu-1')).css('height', refHeight + 'px');
    angular.element(document.getElementById('main-menu-2')).css('height', refHeight + 'px');
    angular.element(document.getElementById('main-menu-3')).css('height', refHeight + 'px');
    angular.element(document.getElementById('main-menu-4')).css('height', refHeight + 'px');
}]);
</script>

} else {
    <hr id="header-line">
}
