@(firebaseapp: String)

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Firebase チャットアプリ</title>
    </head>
    <body>
        <div>
            <input id="name" placeholder="名前" />
            <input id="message" placeholder="メッセージ" />
            <button id="send">投稿</button>
        </div>
        <ul id="messages">
        </ul>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
        <script>
            var firebaseRef = new Firebase('https://@{firebaseapp}.firebaseio.com');
            var messagesRef = firebaseRef.child('messages');

            messagesRef.on('child_added', function(snapshot) {
                var msg = snapshot.val();
                $('<li>').text(msg.name + ': ' + msg.body).prependTo('#messages');
            });

            $('#send').click(function() {
                messagesRef.push({
                    name: $('#name').val(),
                    body: $('#message').val()
                });
            });
        </script>
    </body>
</html>
