@(eid: String)

        <div class="row" ng-if="events.e@{eid}.attempts == 5">
            <div class="col md-1"></div>
            <div class="col md-2 timeform-wrap" ng-repeat="s in scramblesData.e@{eid}">
                <div class="timeform">
                    <div class="timeform-time">
                        <input id="result-{{ $index }}" ng-model="results[$index]" type="text" placeholder="-:--.---" required>
                    </div>
                    <div class="timeform-penalty">
                        <div class="timeform-penalty-btn" ng-click="applyOK($index)">OK</div>
                        <div class="timeform-penalty-btn" ng-click="applyPenalty($index)">+2</div>
                        <div class="timeform-penalty-btn" ng-click="applyDNF($index)">DNF</div>
                    </div>
                </div>
            </div>
            <div class="col md-1"></div>
        </div>
        <div class="row" ng-if="events.e@{eid}.attempts == 3">
            <div class="col md-1"></div>
            <div class="col md-3 timeform-wrap" ng-repeat="s in scramblesData.e@{eid}">
                <div class="timeform">
                    <div class="timeform-time">
                        <input id="result-{{ $index }}" ng-model="results[$index]" type="text" placeholder="-:--.---" required>
                    </div>
                    <div class="timeform-penalty">
                        <div class="timeform-penalty-btn" ng-click="applyOK($index)">OK</div>
                        <div class="timeform-penalty-btn" ng-click="applyPenalty($index)">+2</div>
                        <div class="timeform-penalty-btn" ng-click="applyDNF($index)">DNF</div>
                    </div>
                </div>
            </div>
            <div class="col md-2"></div>
        </div>
