@(cid: String)

<script>
var formatTime = function(input) {
    var post = '.000';
    var second = input - 0;
    if (String(input).indexOf('.') != -1) {
        second = String(input).split('.')[0] - 0;
        post = '.' + (String(input).split('.')[1] + '000').substr(0, 3);
    }
    if (second < 10) {
        return (second + post).substr(0, 5);
    } else if (second < 60) {
        return (second + post).substr(0, 6);
    } else {
        var minute = Math.floor(Math.floor(second) / 60);
        var s = ('0' + (second - minute * 60)).slice(-2);
        if (minute < 10) {
            return (minute + ':' + s + post).substr(0, 8);
        } else {
            return (minute + ':' + s + post).substr(0, 9);
        }
    }
};

app.controller('ContestCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.contestData = null;
    $scope.scramblesData = null;
    $scope.resultsData = null;
    $scope.events = null;
    $scope.existsContest = false;

    $scope.contestLoaded = false;
    $scope.loadedMain = false;
    $scope.loadedScrambles = false;
    $scope.loadedResults = false;

    @* /* コンテストが、進行中 (0) か、終了済み (負) か、これからやるやつ (正) か */ *@
    $scope.inProgress = null;
    $scope.countdown = null;

    // Fetch event data followed by contest data
    contestRef.child('events').once('value', function(snapEvents) {
        if (snapEvents.exists()) {
            contestRef.child('contests').child('c@cid').once('value', function(snapContest) {
                if (snapContest.exists() && snapContest.val()._dummy == null) {
                    contestRef.child('inProgress').once('value', function(snapInProgress) {
                        $scope.$apply(function() {
                            $scope.events = snapEvents.val();
                            $scope.contestData = snapContest.val();
                            $scope.inProgress = snapInProgress.val();
                            $scope.countdown = @cid - parseInt(snapInProgress.val().contest.substr(1));
                            $scope.existsContest = true;
                            $scope.loadedMain = true;
                            $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
                        });
                    });
                } else {
                    console.error('Invalid contest: @cid');
                    $scope.$apply(function() {
                        $scope.loadedMain = true;
                        $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
                    });
                }
            }, function(error) {
                console.error(error);
            });
        } else {
            console.error('Undefined: events');
        }
    }, function(error) {
        console.error(error);
    });

    // Fetch scrambles data
    contestRef.child('scrambles').child('c@cid').once('value', function(snapScrambles) {
        if (snapScrambles.exists() && snapScrambles.val()._dummy == null) {
            $scope.$apply(function() {
                $scope.scramblesData = snapScrambles.val();
            });
        } else {
            console.error('Invalid: contest (@cid)');
        }
        $scope.$apply(function() {
            $scope.loadedScrambles = true;
            $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
        });
    }, function(error) {
        //console.error(error);
        console.error('Cannot access scrambles (@cid)');
        $scope.$apply(function() {
            $scope.loadedScrambles = true;
            $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
        });
    });

    // Fetch results data
    contestRef.child('results').child('c@cid').once('value', function(snapResults) {
        if (snapResults.exists() && snapResults.val()._dummy == null) {
            $scope.$apply(function() {
                $scope.resultsData = snapResults.val();
            });
        } else {
            console.error('Invalid: contest (@cid)');
        }
        $scope.$apply(function() {
            $scope.loadedResults = true;
            $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
        });
    }, function(error) {
        //console.error(error);
        console.error('Cannot access results (@cid)');
        $scope.$apply(function() {
            $scope.loadedResults = true;
            $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
        });
    });
}]);
</script>
