@(eid: String, showIndividual: Boolean = false)

        <table class="scrambles">
            <thead>
                <tr>
                    @if(showIndividual) {
                        <th>{{ scrambleIndexText }} Scramble:</th>
                    } else {
                        <th colspan="2">Scrambles:</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if(!showIndividual) {
                    <tr ng-repeat="s in scramblesData.e@{eid}" id="scramble-{{ $index }}">
                        <td>{{ $index + 1 | ordinal }}:</td>
                        <td>{{ s }}</td>
                    </tr>
                } else { @if(eid != "demo") {
                    <tr ng-repeat="s in scramblesData.e@{eid}" id="scramble-{{ $index }}" class="hide">
                        <td>{{ s }}</td>
                    </tr>
                } else {
                    <tr ng-repeat="s in scramblesData.demo" id="scramble-{{ $index }}" class="hide">
                        <td>{{ s | removeHead }}</td>
                    </tr>
                } }
            </tbody>
        </table>
