@**
 * デモ用
 * Javascript コンテストタイマー
 *@

@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String)

@defining("Demo Timer") { title =>
@defining(contestUrl + "/demo/timer") { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl, userScalable=false)
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/timer.css")">

@basejs(firebaseappContest)

</head>
<body><div class="container">
    @bodyheader(title, contestName, cid="demo", eid="demo")

    <div ng-controller="AuthCtrl"><div ng-controller="ContestCtrl"><div ng-controller="ContestTimerCtrl">
    <div ng-hide="authLoaded && contestLoaded && contestTimerLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && contestLoaded && contestTimerLoaded">

    @authinfo(eid="demo")

    <div>

        <div id="touchArea">

            @contestscrambles(eid="demo", showIndividual=true)

            <div id="timerArea">
                <div id="timerText">0.000</div>

                <div id="timerNote"></div>
                <div id="timerNoteMb"></div>

                <!--
                    <button id="start">START</button>
                    <button id="stop">STOP</button>
                    <button id="reset">RESET</button>
                -->

                <!--
                    <div id="keydown"></div>
                    <div id="keyup"></div>
                    <div id="info"></div>
                -->
            </div>

        </div><!-- /#touchArea -->

        @contesttimeform(eid="demo", useInput=false, clickable=true)

        <p id="input-completed" class="margin-top-20 text-center hide">
            計測が完了しました。結果 (average of 5): <b>{{ resultResult }}</b><br>
            <a class="btn margin-top-10" style="cursor: pointer;" ng-click="resetAndBack()">記録をリセットしてトップページへ戻る</a>
        </p>

        <!--
        <div id="tabs-timer" class="row pc-hide">
            <div class="col xs-6 text-center">
                <span style="color: #659ac9; border-bottom: 2px solid #659ac9; padding-bottom: 4px;">
                    <i class="fa fa-clock-o"></i> タイマー
                </span>
            </div>
            <div class="col xs-6 text-center">
                <a style="cursor: pointer;" ng-click="showHistory()">
                    <i class="fa fa-list-ol"></i> タイム履歴
                </a>
            </div>
        </div>
        <div id="tabs-history" class="row pc-hide hide" style="margin-bottom: 20px;">
            <div class="col xs-6 text-center">
                <a style="cursor: pointer;" ng-click="showTimer()">
                    <i class="fa fa-clock-o"></i> タイマー
                </a>
            </div>
            <div class="col xs-6 text-center">
                <span style="color: #659ac9; border-bottom: 2px solid #659ac9; padding-bottom: 4px;">
                    <i class="fa fa-list-ol"></i> タイム履歴
                </span>
            </div>
        </div>
        -->

    </div></div></div></div></div>

    @bodyfooter(contestName)

@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
@contestjs(cid="demo", eid="demo", fetchScrambles=true, fetchResultsTop3=false, fetchResultsAll=false)
<script>
window.TriboxContest.timerIdlingText = 'スペースキーを押してインスペクションタイムをスタート';
window.TriboxContest.timerIdlingTextMb = 'タップしてインスペクションタイムをスタート';
window.TriboxContest.timerInspectingText = 'スペースキーを長押しして、手を離してタイマースタート';
window.TriboxContest.timerInspectingTextMb = 'タップ長押しして、手を離してタイマースタート';
window.TriboxContest.timerRunningText = 'キーを押してタイマーをストップ';
window.TriboxContest.timerRunningTextMb = 'タップしてタイマーをストップ';
window.TriboxContest.timerFinishText = '計測が完了しました';

app.controller('ContestTimerCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.invalidPage = false;
    $scope.contestTimerLoaded = false;

    // Results
    $scope.results = [];
    $scope.resultsDetail = null;

    $scope.scrambleIndex = 0;
    $scope.scrambleIndexText = '1st';
    //angular.element(document.getElementById('scramble-0')).removeClass('hide');

    $scope.result = null;
    $scope.resultResult = "";

    var startPenalty = false;

    // Set begin time
    var authData = contestRef.getAuth();
    if (authData) {
        contestRef.child('events').child('e333').child('hasInspection').once('value', function(snapHasInspection) {
            window.TriboxContest.hasInspection = snapHasInspection.val();
            if (window.TriboxContest.hasInspection) {
                document.getElementById('timerNote').innerHTML = window.TriboxContest.timerIdlingText;
                document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerIdlingTextMb;
            } else {
                document.getElementById('timerNote').innerHTML = window.TriboxContest.timerInspectingText;
                document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerInspectingTextMb;
            }

            // do not overwrite
            contestRef.child('resultsdemo').child('demo').child('e333').child(authData.uid).once('value', function(snapResult) {
                if (!(snapResult.exists())) {
                    contestRef.child('resultsdemo').child('demo').child('e333').child(authData.uid).set({
                        'beginAt': Firebase.ServerValue.TIMESTAMP
                    }, function(error) {
                        if (error) {
                            // 不正なコンテストまたは不正な競技イベントでスタート記録が書き込めない場合
                            // ここでエラーになる。
                            console.error(error);
                        }
                        showScramble($scope.scrambleIndex);
                        $timeout(function() {
                            $scope.contestTimerLoaded = true;
                        });
                    });
                } else {
                    // Read current data
                    var result = snapResult.val();
                        $timeout(function() {
                            if (result.details) {
                                $scope.results = result.details;
                                $scope.results.forEach(function(r, index) {
                                    $scope.scrambleIndex = index;
                                });
                                ($scope.scrambleIndex)++;
                            }
                            showScramble($scope.scrambleIndex);
                            if (window.TriboxContest.events['e333'].attempts <= $scope.scrambleIndex) {
                                angular.element(document.getElementById('input-completed')).removeClass('hide');
                                document.getElementById('timerNote').innerHTML = window.TriboxContest.timerFinishText;
                                document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerFinishText;
                                updateStatus(false, false, false);
                            }
                            $scope.contestTimerLoaded = true;
                        });
                }
            });
        }, function(error) {
            console.error(error);
            $timeout(function() {
                $scope.contestTimerLoaded = true;
            });
        });
    } else {
        location.href = '@routes.HomeController.index?please=1';
    }

    var showScramble = function(index) {
        $timeout(function() {
            if (window.TriboxContest.events['e333'].attempts <= index) {
                index = window.TriboxContest.events['e333'].attempts - 1;
            }
            $scope.scrambleIndexText = toOrdinal(index + 1);
            angular.element(document.getElementById('scramble-' + (index - 1))).addClass('hide');
            angular.element(document.getElementById('scramble-' + index)).removeClass('hide');
            $scope.resultsDetail = $scope.turnOnButtons(window.TriboxContest.events['e333'].format, $scope.results);
        });
    };

    // Condition buttons
    $scope.applyOK = function(index) {
        var resultElem = $scope.results[index];
        if (resultElem && resultElem.record != 0) {
            var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
            var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
            var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
            $scope.results[index].condition = 'OK';
            $scope.resultsDetail[index] = TriboxContest.formatTime($scope.results[index].record);
            btnOK.addClass('cond-ok-on');
            btnPenalty.removeClass('cond-penalty-on');
            btnDNF.removeClass('cond-dnf-on');
            saveAndPrepare();
        }
    };
    $scope.applyPenalty = function(index) {
        var resultElem = $scope.results[index];
        if (resultElem && resultElem.record != 0) {
            var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
            var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
            var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
            $scope.results[index].condition = '+2';
            $scope.resultsDetail[index] = TriboxContest.formatTime($scope.results[index].record + 2.000);
            btnOK.removeClass('cond-ok-on');
            btnPenalty.addClass('cond-penalty-on');
            btnDNF.removeClass('cond-dnf-on');
            saveAndPrepare();
        }
    };
    $scope.applyDNF = function(index) {
        var resultElem = $scope.results[index];
        if (resultElem) {
            var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
            var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
            var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
            $scope.results[index].condition = 'DNF';
            $scope.resultsDetail[index] = 'DNF';
            btnOK.removeClass('cond-ok-on');
            btnPenalty.removeClass('cond-penalty-on');
            btnDNF.addClass('cond-dnf-on');
            saveAndPrepare();
        }
    };

    // Save & Fetch data
    var saveAndPrepare = function() {
        var authData = contestRef.getAuth();
        if (authData) {
            contestRef.child('resultsdemo').child('demo').child('e333').child(authData.uid).child('details').set($scope.results, function(error) {
                if (!error) {
                    contestRef.child('resultsdemo').child('demo').child('e333').child(authData.uid).child('details').once('value', function(snapData) {
                        var _results = snapData.val();

                        // Prepare next button
                        var inputCompleted = angular.element(document.getElementById('input-completed'));
                        var attempts = window.TriboxContest.events['e333'].attempts, count = 0;
                        for (var i = 0; i < attempts; i++) {
                            if (_results[i] != null) {
                                count++;
                            }
                        }
                        if (count == attempts) {
                            inputCompleted.removeClass('hide');
                            document.getElementById('timerNote').innerHTML = window.TriboxContest.timerFinishText;
                            document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerFinishText;
                            updateStatus(false, false, false);

                            $timeout(function() {
                                $scope.result = calcResult('average', 'time', _results);
                                if ($scope.result.condition == 'DNF') {
                                    $scope.resultResult = 'DNF';
                                } else {
                                    $scope.resultResult = TriboxContest.formatTime($scope.result.record);
                                }
                            });
                        } else {
                            inputCompleted.addClass('hide');
                        }
                    }, function(error) {
                        console.error(error);
                    });
                } else {
                    console.error(error);
                }
            });
        } else {
            location.href = '@routes.HomeController.index?please=1';
        }
    };

    /**
     * Timer
     */

    document.onselectstart = function() { return false; };

    var startTime, stopTime = 0;
    var timerId, dispTimerId;
    var inspectionTimerId, inspectionPenaltyTimerId, inspectionDNFTimerId;

    var hasInspection = window.TriboxContest.hasInspection;
    var inspectionCountdown;

    var isIdling = true;        @* 待機中 *@
    var isInspecting = false;   @* インスペクションタイム中 *@
    var isRunning = false;      @* タイマー動作中 *@
    var isTouching = false;     @* タッチ中 (スタート時) *@
    var isTouchingStop = false; @* タッチ中 (ストップ時) *@
    var isTouchingStartDNF = false; @* タッチ中 (スタート時DNF) *@
    var startTouch = Infinity;

    var INSPECTION_SECOND = 15; @* /* インスペクションタイムは15秒 */ *@
    var TOUCHING_TH = 500;      @* /* 0.5秒長押しでタイマースタート */ *@
    var LIMIT_SECOND = 600;     @* /* 10分でDNF */ *@
    var FREEZING_TH = 1000;     @* /* タイマーストップ後1秒はタイマースタートできない */ *@

    //var startButton = document.getElementById('start');
    //var stopButton = document.getElementById('stop');
    //var resetButton = document.getElementById('reset');
    var timerText = document.getElementById('timerText');

    var touchX, touchY;
    var TAP_TH = 10; @* タップと認識する移動距離の閾値 *@

    /*var setButtonState = function(start, stop, reset) {
        startButton.disabled = !start;
        stopButton.disabled = !stop;
        resetButton.disabled = !reset;
    };*/
    //setButtonState(true, false, false);

    var updateStatus = function(_isIdling, _isInspecting, _isRunning) {
        isIdling = _isIdling;
        isInspecting = _isInspecting;
        isRunning = _isRunning;
    };

    var startInspection = function() {
        if (hasInspection && isIdling) {
            document.getElementById('timerNote').innerHTML = window.TriboxContest.timerInspectingText;
            document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerInspectingTextMb;
            startPenalty = false;
            updateStatus(false, true, false);
            updateInspectionTimerText();
        }
    };

    var updateInspectionTimerText = function() {
        inspectionCountdown = INSPECTION_SECOND;
        timerText.innerHTML = inspectionCountdown;

        // インスペクションタイム
        inspectionTimerId = setInterval(function() {
            inspectionCountdown--;
            timerText.innerHTML = inspectionCountdown;
        }, 1000);

        // スタート時 +2ペナルティ
        inspectionPenaltyTimerId = setTimeout(function() {
            clearTimeout(inspectionTimerId);
            timerText.innerHTML = '+2';
            startPenalty = true;
        }, inspectionCountdown * 1000);

        // スタート時DNF
        inspectionDNFTimerId = setTimeout(function() {
            clearTimeout(inspectionPenaltyTimerId);
            timerText.innerHTML = 'DNF';

            $timeout(function() {
                $scope.results[$scope.scrambleIndex] = {'record': 0, 'condition': 'DNF'};
                saveAndPrepare();
                ($scope.scrambleIndex)++;
                showScramble($scope.scrambleIndex);
            });

            updateStatus(true, false, false);
            document.getElementById('timerNote').innerHTML = window.TriboxContest.timerIdlingText;
            document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerIdlingTextMb;

            // インスペクションタイム超過でDNFになるときにスペースキータッチ中の場合の処理
            if (isTouching) {
                isTouchingStartDNF = true;
                angular.element(document.getElementById('timerText')).removeClass('wait');
                angular.element(document.getElementById('timerText')).removeClass('ready');
            }

            unShowOnlyTimer();
        }, (inspectionCountdown + 2) * 1000);
     };

    var startTimer = function() {
        if ((hasInspection && isInspecting) || (!hasInspection && isIdling)) {
            startTime = Date.now();
            document.getElementById('timerNote').innerHTML = window.TriboxContest.timerRunningText;
            document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerRunningTextMb;
            clearTimeout(inspectionTimerId);
            clearTimeout(inspectionPenaltyTimerId);
            clearTimeout(inspectionDNFTimerId);
            updateStatus(false, false, true);
            updateTimerText();
            //setButtonState(false, true, false);
        }
    };
    //startButton.addEventListener('click', startTimer);

    var stopTimer = function() {
        if (isRunning) {
            stopTime = Date.now();
            if (window.TriboxContest.hasInspection) {
                document.getElementById('timerNote').innerHTML = window.TriboxContest.timerIdlingText;
                document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerIdlingTextMb;
            } else {
                document.getElementById('timerNote').innerHTML = window.TriboxContest.timerInspectingText;
                document.getElementById('timerNoteMb').innerHTML = window.TriboxContest.timerInspectingTextMb;
            }
            clearTimeout(timerId);
            updateStatus(true, false, false);
            var resultTime = (stopTime - startTime) / 1000;
            timerText.innerHTML = resultTime.toFixed(3);
            //setButtonState(true, false, true);

            // Prepare results data
            $timeout(function() {
                $scope.results[$scope.scrambleIndex] = {'record': null, 'condition': null};
                if (resultTime < LIMIT_SECOND) {
                    $scope.results[$scope.scrambleIndex].record = resultTime;
                    if (!startPenalty) {
                        $scope.results[$scope.scrambleIndex].condition = 'OK';
                    } else {
                        $scope.results[$scope.scrambleIndex].condition = '+2';
                    }
                } else {
                    $scope.results[$scope.scrambleIndex].record = resultTime;
                    $scope.results[$scope.scrambleIndex].condition = 'DNF';
                    timerText.innerHTML = 'DNF';
                }
                saveAndPrepare();
                ($scope.scrambleIndex)++;
                showScramble($scope.scrambleIndex);
            });
        }
    };
    //stopButton.addEventListener('click', stopTimer);

    /*var resetTimer = function() {
        if (isRunning) return;
        timerText.innerHTML = '0.000';
        //setButtonState(true, false, false);
    };*/
    //resetButton.addEventListener('click', resetTimer);

    var updateTimerText = function() {
        timerId = setInterval(function() {
            var elapsed = (Date.now() - startTime) / 1000;
            //timerText.innerHTML = (elapsed).toFixed(3);
            timerText.innerHTML = TriboxContest.formatTime(elapsed);
            if (LIMIT_SECOND <= elapsed) {
                stopTimer();
                unShowOnlyTimer();
            }
        }, 29);
    };

    document.addEventListener('keydown', function(e) {
        //document.getElementById('keydown').innerHTML = e.keyCode + ':' + e.code + ' (' + Date.now() + ')';
        hasInspection = window.TriboxContest.hasInspection;
        if (isRunning) {
            stopTimer();
            unShowOnlyTimer();
            isTouchingStop = true;
        } else if ((hasInspection && isInspecting || !hasInspection && isIdling) && !isTouching && !isTouchingStop && (e.keyCode == 32 || e.code == 'Space')) {
            if (FREEZING_TH < Date.now() - stopTime) {
                startTouch = Date.now();
                isTouching = true;
                angular.element(document.getElementById('timerText')).addClass('wait');
                showOnlyTimer();
                dispTimerId = setTimeout(function() {
                    angular.element(document.getElementById('timerText')).removeClass('wait');
                    angular.element(document.getElementById('timerText')).addClass('ready');
                }, TOUCHING_TH);
            }
        }
    });
    document.addEventListener('keyup', function(e) {
        //document.getElementById('keyup').innerHTML = e.keyCode + ':' + e.code + ' (' + Date.now() + ')';
        if (isTouchingStop) {
            isTouchingStop = false;
        } else if ((hasInspection && isInspecting || !hasInspection && isIdling) && !isTouchingStartDNF && (e.keyCode == 32 || e.code == 'Space')) {
            if (FREEZING_TH < Date.now() - stopTime) {
                isTouching = false;
                clearTimeout(dispTimerId);
                angular.element(document.getElementById('timerText')).removeClass('wait');
                angular.element(document.getElementById('timerText')).removeClass('ready');
                if (TOUCHING_TH <= (Date.now() - startTouch)) {
                    startTimer();
                    startTouch = Infinity;
                }
            }
        } else if (hasInspection && isIdling && !isTouchingStartDNF && (e.keyCode == 32 || e.code == 'Space')) {
            if (FREEZING_TH < Date.now() - stopTime) {
                startInspection();
                showOnlyTimer();
            }
        }
        isTouchingStartDNF = false;
    });
    if (window.TouchEvent) {
        var touchArea = document.getElementById('touchArea');
        touchArea.addEventListener('touchstart', function(e) {
            //document.getElementById('keydown').innerHTML = 'touchstart (' + Date.now() + ' ' + e.changedTouches[0].pageX + ' ' + e.changedTouches[0].pageY + ')';
            touchX = e.changedTouches[0].pageX;
            touchY = e.changedTouches[0].pageY;
            hasInspection = window.TriboxContest.hasInspection;
            if (isRunning) {
                stopTimer();
                unShowOnlyTimer();
                isTouchingStop = true;
            } else if ((hasInspection && isInspecting || !hasInspection && isIdling) && !isTouching && !isTouchingStop) {
                if (FREEZING_TH < Date.now() - stopTime) {
                    startTouch = Date.now();
                    isTouching = true;
                    angular.element(document.getElementById('timerText')).addClass('wait');
                    showOnlyTimer();
                    dispTimerId = setTimeout(function() {
                        angular.element(document.getElementById('timerText')).removeClass('wait');
                        angular.element(document.getElementById('timerText')).addClass('ready');
                    }, TOUCHING_TH);
                }
            }
        });
        document.addEventListener('touchend', function(e) {
            //document.getElementById('keyup').innerHTML = 'touchend (' + Date.now() + ' ' + e.changedTouches[0].pageX + ' ' + e.changedTouches[0].pageY + ')';
            if (isTouchingStop) {
                isTouchingStop = false;
            } else if ((hasInspection && isInspecting || !hasInspection && isIdling) && !isTouchingStartDNF) {
                if (FREEZING_TH < Date.now() - stopTime) {
                    isTouching = false;
                    clearTimeout(dispTimerId);
                    angular.element(document.getElementById('timerText')).removeClass('wait');
                    angular.element(document.getElementById('timerText')).removeClass('ready');
                    if (TOUCHING_TH <= (Date.now() - startTouch)) {
                        startTimer();
                        startTouch = Infinity;
                    }
                }
            } else if (hasInspection && isIdling && !isTouchingStartDNF) {
                if (Math.abs(e.changedTouches[0].pageX - touchX) <= TAP_TH && Math.abs(e.changedTouches[0].pageY - touchY) <= TAP_TH) {
                    if (FREEZING_TH < Date.now() - stopTime) {
                        startInspection();
                        showOnlyTimer();
                    }
                } else {
                    angular.element(document.getElementById('timerText')).removeClass('wait');
                    angular.element(document.getElementById('timerText')).removeClass('ready');
                }
            }
            isTouchingStartDNF = false;
        });
    }

    // タイマーのみを表示
    var showOnlyTimer = function() {
        // ヘッダ・フッタ
        angular.element(document.getElementById('header')).addClass('hide');
        angular.element(document.getElementById('header-line')).addClass('hide');
        angular.element(document.getElementById('footer-line')).addClass('hide');
        angular.element(document.getElementById('footer')).addClass('hide');

        // メインコンテント
        angular.element(document.getElementById('event-info')).addClass('hide');
        angular.element(document.getElementById('auth-info')).addClass('hide');
        angular.element(document.getElementById('contest-scrambles')).addClass('hide');
        angular.element(document.getElementById('timeforms')).addClass('hide');
        angular.element(document.getElementById('timerText')).addClass('timerText-tall');

        angular.element(document.getElementById('touchArea')).addClass('full-screen');
        fadeIn(document.getElementById('timerArea'));
    };

    // タイマーのみを表示を解除
    var unShowOnlyTimer = function() {
        // ヘッダ・フッタ
        angular.element(document.getElementById('header')).removeClass('hide');
        angular.element(document.getElementById('header-line')).removeClass('hide');
        angular.element(document.getElementById('footer-line')).removeClass('hide');
        angular.element(document.getElementById('footer')).removeClass('hide');

        // メインコンテント
        angular.element(document.getElementById('event-info')).removeClass('hide');
        angular.element(document.getElementById('auth-info')).removeClass('hide');
        angular.element(document.getElementById('contest-scrambles')).removeClass('hide');
        angular.element(document.getElementById('timeforms')).removeClass('hide');
        angular.element(document.getElementById('timerText')).removeClass('timerText-tall');

        angular.element(document.getElementById('touchArea')).removeClass('full-screen');
    };

    // モバイル用
    // タイマー表示
    /*$scope.showTimer = function() {
        angular.element(document.getElementById('timeforms')).removeClass('mb-hide');
        angular.element(document.getElementById('timeforms')).removeClass('tb-hide');

        angular.element(document.getElementById('tabs-timer')).removeClass('hide');
        angular.element(document.getElementById('tabs-history')).addClass('hide');

        angular.element(document.getElementById('timeforms')).addClass('hide');
        angular.element(document.getElementById('touchArea')).removeClass('hide');
    };*/

    // モバイル用
    // タイム履歴表示
    /*$scope.showHistory = function() {
        angular.element(document.getElementById('timeforms')).removeClass('mb-hide');
        angular.element(document.getElementById('timeforms')).removeClass('tb-hide');

        angular.element(document.getElementById('tabs-timer')).addClass('hide');
        angular.element(document.getElementById('tabs-history')).removeClass('hide');

        angular.element(document.getElementById('timeforms')).removeClass('hide');
        angular.element(document.getElementById('touchArea')).addClass('hide');
    };*/

    // デモ用 -- 記録リセット & トップページへジャンプ
    $scope.resetAndBack = function() {
        var authData = contestRef.getAuth();
        if (authData) {
            contestRef.child('resultsdemo').child('demo').child('e333').child(authData.uid).set(null, function(error) {
                if (error) {
                    console.error(error);
                } else {
                    location.href = '@routes.HomeController.index';
                }
            });
        } else {
            location.href = '@routes.HomeController.index?please=1';
        }
    };

}]);
</script>

</div></body>
</html>

}
}
