@(cid: String, eid: String, contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Contest Choose") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

<style>
.choosebox {
    border: 1px solid #659ac9;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10;
            border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
</style>

@basejs(firebaseappContest)

</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="ContestCtrl"><div ng-controller="ContestChooseCtrl">
    <div ng-hide="authLoaded && contestLoaded && contestChooseLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && contestLoaded && contestChooseLoaded">

    @authinfo()

    <div ng-hide="existsContest">
        <p class="color-error">
            存在しないコンテストです。
        </p>
    </div>
    <div ng-hide="existsEvent">
        <p class="color-error">
            存在しない競技です。
        </p>
    </div>
    <div ng-hide="inProgress.contest == 'c@{cid}'">
        <p class="color-error">
            開催中のコンテストではありません。
        </p>
    </div>
    <div ng-hide="!invalidPage">
        <p class="color-error">
            不正なページ遷移です。
        </p>
    </div>

    <div ng-show="existsContest && existsEvent && inProgress.contest == 'c@{cid}' && !invalidPage">

        <h2>{{ contestData.contestName }}</h2>

        <p>
            開始 <i class="fa fa-calendar"></i>: {{ contestData.beginAt | toDate }}<br>
            終了 <i class="fa fa-calendar"></i>: {{ contestData.endAt | toDate }}
        </p>
        <p ng-if="countdown == 0">
            現在開催中のコンテストです。
        </p>
        <p ng-if="countdown < 0">
            すでに終了したコンテストです。
        </p>
        <p ng-if="countdown > 0">
            このコンテストはまだ開始されていません。
        </p>

        <h3>{{ events.e@{eid}.name }}</h3>

        <div class="row">
            @if(eid != "333fm") {
                <div class="col md-6">
                    <a href="/contest/@cid/@eid/timer"><div class="choosebox">
                        <i class="fa fa-clock-o fa-5x"></i><br>
                        コンテストタイマーを使用して計測する
                    </div></a>
                </div>
                <div class="col md-6">
                    <a href="/contest/@cid/@eid/form"><div class="choosebox">
                        <i class="fa fa-pencil-square-o fa-5x"></i><br>
                        タイムを手入力する
                    </div></a>
                </div>
            } else {
                <div class="col md-12">
                    <a href="/contest/@cid/@eid/solution"><div class="choosebox">
                        <i class="fa fa-pencil-square-o fa-5x"></i><br>
                        解法を入力する
                    </div></a>
                </div>
            }
        </div>

        @* <!--<p>@cid -> contestData:</p>
        <pre>{{ contestData | json }}</pre>--> *@

        @* <!--<p>inProgress / countdown:</p>
        <pre>{{ inProgress | json }}</pre>
        <pre>{{ countdown | json }}</pre>--> *@

        @* <!--<p>@cid -> scramblesData:</p>
        <pre>{{ scramblesData | json }}</pre>--> *@

        @* <!--<p>@cid -> resultsData:</p>
        <pre>{{ resultsData | json }}</pre>--> *@

        @* <!--<p>events:</p>
        <pre>{{ events | json }}</pre>--> *@

    </div></div></div></div></div>

    @bodyfooter(contestName)

@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
@contestjs(cid=cid, eid=eid, fetchScrambles=false, fetchResults=false)
<script>
app.controller('ContestChooseCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.invalidPage = false;
    $scope.contestChooseLoaded = false;

    // Read personal results
    var authData = contestRef.getAuth();
    if (authData) {
        contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).once('value', function(snapResult) {
            $timeout(function() {
                if (snapResult.exists()) {
                    $scope.invalidPage = true;
                }
                $scope.contestChooseLoaded = true;
            });
        }, function(error) {
            console.error(error);
        });
    } else {
        location.href = '@routes.HomeController.index?logout=1';
    }
}]);
</script>

</div></body>
</html>

}
