@(cid: String, eid: String, contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String, firebaseappWca: String)

@defining("Contest Result " + cid + " (" + eid + ")") { title =>
@defining(contestUrl + "/contest/result/" + cid + "/" + eid) { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl)
    <!-- Load c3.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

@basejs(firebaseappContest=firebaseappContest, firebaseappWca=firebaseappWca)

<style>
h4 {
    margin-top: 1em;
}
</style>

</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="ContestCtrl"><div ng-controller="ContestResultCtrl">
    <div ng-hide="authLoaded && contestLoaded && contestResultLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div id="main-content" class="hide" ng-show="authLoaded && contestLoaded && contestResultLoaded">

    @authinfo()

    <div ng-hide="existsContest">
        <p class="color-error">
            存在しないコンテストです。
        </p>
    </div>
    <div ng-hide="existsEvent">
        <p class="color-error">
            存在しない競技です。
        </p>
    </div>
    <div ng-hide="countdown < 0">
        <p class="color-error">
            終了していないコンテストです。結果を表示できません。
        </p>
    </div>

    <div ng-show="existsContest && existsEvent && countdown < 0">

        <h2>{{ contestData.contestName }}</h2>

        <p>
            <i class="fa fa-calendar"></i> 開催期間: <b>{{ contestData.beginAt | toDate }}</b> ~ <b>{{ contestData.endAt | toDate }}</b>
        </p>

        <p>
            別のコンテスト・競技種目の結果を見る<br>
            <select class="form-control" style="margin-bottom: 5px;" ng-model="currentContest" ng-change="currentContestChange()">
                <option ng-repeat="c in contestsList" value="{{ c.id | removeHead}}">
                    {{ c.shortName }}
                </option>
            </select><br>
            <select class="form-control" style="margin-bottom: 5px;" ng-model="currentEvent" ng-change="currentEventChange()">
                <option ng-repeat="e in contestData.events" value="{{ e | removeHead}}">
                    {{ events[e].name }}
                </option>
            </select>
        </p>

        <h3>{{ events.e@{eid}.name }}</h3>
        <p>
            計測方法: {{ events.e@{eid}.method | uppercaseHead }} of {{ events.e@{eid}.attempts }}<br>
            参加人数: {{ resultsPersons.e@{eid} }} 人
        </p>

        <h4>キューブ使用率ランキング</h4>
        <div class="row">
            <div class="col sm-12"><b>集計対象: 参加者全員</b></div>
            <div class="col sm-4">
                <ol>
                    <li ng-repeat="p in resultsPuzzlesAll.e@{eid}">
                        <a href="http://store.tribox.com/products/detail.php?product_id={{ p.productId }}" target="_blank" ng-show="p.productId != -1">
                            {{ p.productName }}
                        </a>
                        <span ng-show="p.productId == -1">
                            その他
                        </span>
                        ({{ p.percentage }}%)
                    </li>
                </ol>
            </div>
            <div class="col sm-8">
                <div id="chartall"></div>
            </div>
        </div>
        <div class="row">
            <div class="col sm-12"><b>集計対象: 入賞者</b></div>
            <div class="col sm-4">
                <ol>
                    <li ng-repeat="p in resultsPuzzles.e@{eid}">
                        <a href="http://store.tribox.com/products/detail.php?product_id={{ p.productId }}" target="_blank" ng-show="p.productId != -1">
                            {{ p.productName }}
                        </a>
                        <span ng-show="p.productId == -1">
                            その他
                        </span>
                        ({{ p.percentage }}%)
                    </li>
                </ol>
            </div>
            <div class="col sm-8">
                <div id="chart"></div>
            </div>
        </div>
<script>
var drawChart = function(dataall, data) {
    if (0 < dataall.length) {
        var chart = c3.generate({
            bindto: '#chartall',
            data: {
                columns: dataall,
                type: 'pie',
                order: null
            },
            size: {
                height: 240
            }
        });
    }
    if (0 < data.length) {
        var chart = c3.generate({
            bindto: '#chart',
            data: {
                columns: data,
                type: 'pie',
                order: null
            },
            size: {
                height: 240
            }
        });
    }
};
</script>

        <h4>コンテスト結果</h4>
        <p>
            <i class="fa fa-star color-star"></i>: 当選ポイント獲得
        </p>
        <table class="table table-bordered result tribox-contest">
            <thead>
                <tr>
                    <th>順位</th>
                    <th>獲得SP</th>
                    <th>名前</th>
                    <th class="mb-hide">所属</th>
                    @if(eid != "333fm") {
                        <th ng-if="events.e@{eid}.method == 'average' || events.e@{eid}.method == 'mean'">平均記録</th>
                        <th ng-if="events.e@{eid}.method == 'best'">最高記録</th>
                        <th class="mb-hide">個々の記録</th>
                    } else {
                        <th>記録</th>
                        <th class="mb-hide">解答・解説コメント</th>
                    }
                    <th>使用キューブ</th>
                    <th><i class="fa fa-video-camera"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr id="e@{eid}-{{ $index }}" ng-repeat="r in resultsAll.e@{eid}">
                    <td>
                      {{ r.place }}
                      <span class="lottery" ng-show="r.lottery">
                        <i class="fa fa-star color-star"></i>
                        <span class="lottery-point">100</span>
                      </span>
                    </td>
                    <td>
                      <span ng-if="r.seasonPoint && r.seasonPoint != 0">{{ r.seasonPoint }}</span>
                    </td>
                    <td>
                        <img src="@routes.Assets.versioned("flags/flags-iso/shiny/24")/{{ r.user.iso2 }}.png" height="24" style="vertical-align: middle;" ng-show="r.user.iso2">
                        <a href="/user/{{ r.user.username }}">{{ r.user.displayname }}</a>
                    </td>
                    <td class="mb-hide">{{ r.user.organization }}</td>
                    <td class="mb-hide"><b>{{ r.resultF }}</b></td>
                    <td class="tb-hide pc-hide"><a class="cursor-pointer" ng-click="showDetail($index)"><b style="color: rgb(85, 85, 85);">{{ r.resultF }}</b></a></td>
                    <td id="e@{eid}-{{ $index }}-show" class="mb-hide"><a class="cursor-pointer" ng-click="showDetail($index)">表示</a></td>
                    <td ng-show="r.puzzle.type == 'database'">
                        <a href="http://store.tribox.com/products/detail.php?product_id={{ r.puzzle.product }}" target="_blank">{{ r.puzzleF }}</a>
                    </td>
                    <td ng-show="r.puzzle.type == 'nodatabase' || r.puzzle.type == 'unknown'">
                        {{ r.puzzleF }}
                    </td>
                    <td ng-if="r.videoUrl">
                        <a href="{{ r.videoUrl | encodeURI }}" target="_blank"><i class="fa fa-video-camera"></i></a>
                    </td>
                    <td ng-if="!(r.videoUrl)"></td>
                </tr>
            </tbody>
        </table>

        <h4>スクランブル</h4>

        <table class="table table-striped">
            <tbody>
                <tr ng-repeat="s in scramblesData.e@{eid}">
                    <td>{{ $index + 1}}</td>
                    <td ng-bind-html="s"></td>
                </tr>
            </tbody>
        </table>

        @* <!--<pre>{{ resultsAll.e@{eid} | json }}</pre>--> *@
        @* <!--<pre>{{ resultsPuzzles.e@{eid} | json }}</pre>--> *@
        @* <!--<pre>{{ resultsTop3.e@{eid} | json }}</pre>--> *@
        @* <!--<pre>{{ scramblesData | json }}</pre>--> *@

    </div></div></div></div></div>

    @bodyfooter(contestName)

@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
@contestjs(cid=cid, eid=eid, fetchScrambles=true, fetchResultsTop3=false, fetchResultsAll=true)
<script>
app.controller('ContestResultCtrl', ['$scope', function($scope) {
    $scope.contestResultLoaded = false;
    $scope.currentContest = '@{cid}';
    $scope.currentEvent = '@{eid}';
    $scope.contestsList = null;

    // 今シーズンの開催済みコンテストリスト
    // とりあえず contests テーブルから引っ張ってくる
    contestRef.child('contests').once('value', function(snapContests) {
        contestRef.child('inProgress').once('value', function(snapInProgress) {
            var lastContest = snapInProgress.val().lastContest;
            var contests = snapContests.val();
            var _contestsList = [];
            Object.keys(snapContests.val()).forEach(function(contestId) {
                if (contestId <= lastContest) {
                    _contestsList.push({ 'id': contestId, 'name': contests[contestId].contestName, 'shortName': contests[contestId].contestName.slice(15) });
                }
            });
            $scope.contestsList = _contestsList;
            $scope.contestResultLoaded = true;
        });
    });

    $scope.currentContestChange = function() {
        location.href = '/contest/result/' + $scope.currentContest + '/@{eid}';
    };

    $scope.currentEventChange = function() {
        location.href = '/contest/result/@{cid}/' + $scope.currentEvent;
    };

    var showDetailList = [];
    @if(eid == "333fm") {
        $scope.showDetail = function(index) {
            if (!(showDetailList[index])) {
                showDetailList[index] = true;
                var html = '<tr id="row-detail-' + index + '" class="row-detail"><td colspan="7">'
                         + '<p><b>解答:</b><br>' + TriboxContest.escapeHTML($scope.resultsAll['e333fm'][index].details[0].solution) + '</p>'
                         + '<p><b>解説コメント:</b><br>' + TriboxContest.escapeHTML($scope.resultsAll['e333fm'][index].details[0].note) + '</p>';
                angular.element(document.getElementById('e333fm-' + index)).after(html);
                //angular.element(document.getElementById('e333fm-' + index + '-show')).text('表示済み');
                fadeIn(document.getElementById('row-detail-' + index));
            } else {
                showDetailList[index] = false;
                angular.element(document.getElementById('row-detail-' + index)).remove();
            }
        };
    } else {
        $scope.showDetail = function(index) {
            if (!(showDetailList[index])) {
                showDetailList[index] = true;
                var html = '<tr id="row-detail-' + index + '" class="row-detail"><td colspan="7">'
                         + TriboxContest.escapeHTML($scope.resultsAll['e@{eid}'][index].detailsF);
                angular.element(document.getElementById('e@{eid}-' + index)).after(html);
                fadeIn(document.getElementById('row-detail-' + index));
            } else {
                showDetailList[index] = false;
                angular.element(document.getElementById('row-detail-' + index)).remove();
            }
        };
    }
}]);
</script>
<script type="text/javascript" src="@routes.DynamicJsController.products"></script>

</div></body>
</html>

}
}
