@(cid: String, eid: String = "", fetchScrambles: Boolean = true, fetchResults: Boolean = true)

<script>
var formatTime = function(input) {
    var post = '.000';
    var second = input - 0;
    if (String(input).indexOf('.') != -1) {
        second = String(input).split('.')[0] - 0;
        post = '.' + (String(input).split('.')[1] + '000').substr(0, 3);
    }
    if (second < 10) {
        return (second + post).substr(0, 5);
    } else if (second < 60) {
        return (second + post).substr(0, 6);
    } else {
        var minute = Math.floor(Math.floor(second) / 60);
        var s = ('0' + (second - minute * 60)).slice(-2);
        if (minute < 10) {
            return (minute + ':' + s + post).substr(0, 8);
        } else {
            return (minute + ':' + s + post).substr(0, 9);
        }
    }
};

var calcResult = function(method, format, data) {
    method = method.toLowerCase();
    format = format.toLowerCase();

    // Average of X
    if (method == 'average') {
        var lowerIndex = -1, upperIndex = -1;
        if (format == 'time') {
            var sum = 0.000;
            var count = 0, countDNF = 0;
            var lower = 9999.999, upper = 0.000;
            data.forEach(function(d, index) {
                if (d.condition == 'DNF') {
                    countDNF++;
                    upperIndex = index;
                    if (lowerIndex == -1) {
                        lowerIndex = index;
                    }
                } else {
                    var t;
                    if (d.condition == 'OK') {
                        t = d.record;
                    } else if (d.condition == '+2') {
                        t = d.record + 2.000;
                    } else {
                        return null;
                    }

                    sum += t;
                    count++;
                    if (t < lower) {
                        lower = t;
                        lowerIndex = index;
                    }
                    if (upper < t) {
                        upper = t;
                        upperIndex = index;
                    }
                }
            });
            if (countDNF == 0) {
                return {'record': (Math.round(((sum - lower - upper) / (count - 2)) * 1000)) / 1000,
                        'best': lowerIndex, 'worst': upperIndex, 'condition': 'OK' };
            } else if (countDNF == 1) {
                return {'record': (Math.round(((sum - lower) / (count - 1)) * 1000)) / 1000,
                        'best': lowerIndex, 'worst': upperIndex, 'condition': 'OK' };
            } else {
                return {'record': 9999.999, 'best': lowerIndex, 'worst': upperIndex, 'condition': 'DNF'};
            }
        } else {
            return null;
        }
    }

    // Mean of X (Not implemented yet)
    else if (method == 'mean') {
        return null;
    }

    // Best of X
    else if (method == 'best') {
        var bestIndex = -1;
        if (format == 'time') {
            var best = {'record': 9999.999, 'condition': 'DNF'};
            data.forEach(function(d, index) {
                if (d.condition == 'DNF') {
                    if (bestIndex == -1) {
                        bestIndex = index;
                    }
                } else {
                    var t;
                    if (d.condition == 'OK') {
                        t = d.record;
                    } else if (d.condition == '+2') {
                        t = d.record + 2.000;
                    } else {
                        return null;
                    }
                    if (t < best.record) {
                        best = d;
                        bestIndex = index;
                    }
                }
            });
            return {'record': best.record, 'best': bestIndex, 'condition': best.condition};
        } else if (format == 'number') {
            var best = {'record': 9999, 'condition': 'DNF'};
            data.forEach(function(d, index) {
                if (d.condition == 'DNF') {
                    if (bestIndex == -1) {
                        bestIndex = index;
                    }
                } else {
                    if (d.record < best.record) {
                        best = d;
                        bestIndex = index;
                    }
                }
            });
            return {'record': best.record, 'best': bestIndex, 'condition': best.condition};
        } else {
            return null;
        }
    } else {
        return null;
    }
};

app.controller('ContestCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.contestData = null;
    $scope.scramblesData = null;
    $scope.resultsData = null;
    $scope.resultsPersons = null;
    $scope.events = null;

    $scope.existsContest = false;
    $scope.existsEvent = false;

    $scope.contestLoaded = false;
    $scope.loadedMain = false;
    @if(fetchScrambles) {
        $scope.loadedScrambles = false;
    } else {
        $scope.loadedScrambles = true;
    }
    @if(fetchResults) {
        $scope.loadedResults = false;
    } else {
        $scope.loadedResults = true;
    }

    @* /* コンテストが、進行中 (0) か、終了済み (負) か、これからやるやつ (正) か */ *@
    $scope.inProgress = null;
    $scope.countdown = null;

    // Fetch event data followed by contest data
    contestRef.child('events').once('value', function(snapEvents) {
        if (snapEvents.exists()) {
            window.TriboxContest.events = snapEvents.val();
            contestRef.child('contests').child('c@cid').once('value', function(snapContest) {
                if (snapContest.exists() && snapContest.val()._dummy == null) {
                    contestRef.child('inProgress').once('value', function(snapInProgress) {
                        $scope.$apply(function() {
                            $scope.events = snapEvents.val();
                            $scope.contestData = snapContest.val();
                            $scope.inProgress = snapInProgress.val();
                            $scope.countdown = @cid - parseInt(snapInProgress.val().contest.substr(1));

                            $scope.existsContest = true;
                            @if(eid != "") {
                                if ((snapEvents.val())['e@{eid}']) {
                                    $scope.existsEvent = true;
                                }
                            }

                            $scope.loadedMain = true;
                            $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
                        });
                    });
                } else {
                    console.error('Invalid contest: @cid');
                    $scope.$apply(function() {
                        $scope.loadedMain = true;
                        $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
                    });
                }
            }, function(error) {
                console.error(error);
            });
        } else {
            console.error('Undefined: events');
        }
    }, function(error) {
        console.error(error);
    });

    // Fetch scrambles data
    @if(fetchScrambles) {
        contestRef.child('scrambles').child('c@cid').once('value', function(snapScrambles) {
            if (snapScrambles.exists() && snapScrambles.val()._dummy == null) {
                $timeout(function() {
                    $scope.scramblesData = snapScrambles.val();
                });
            } else {
                console.error('Invalid: contest (@cid)');
            }
            $timeout(function() {
                $scope.loadedScrambles = true;
                $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
            });
        }, function(error) {
            //console.error(error);
            console.error('Cannot access scrambles (@cid)');
            $timeout(function() {
                $scope.loadedScrambles = true;
                $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
            });
        });
    }

    // Fetch results data
    @if(fetchResults) {
        contestRef.child('results').child('c@cid').once('value', function(snapResults) {
            if (snapResults.exists() && snapResults.val()._dummy == null) {
                $timeout(function() {
                    $scope.resultsData = snapResults.val();
                    $scope.resultsPersons = {};
                    Object.keys($scope.resultsData).forEach(function(e) {
                        $scope.resultsPersons[e] = 0;
                        Object.keys($scope.resultsData[e]).forEach(function(uid) {
                            if (!($scope.resultsData[e][uid]._dummy) && $scope.resultsData[e][uid].endAt) {
                                ($scope.resultsPersons[e])++;
                            }
                        });
                    });
                });
            } else {
                console.error('Invalid: contest (@cid)');
            }
            $timeout(function() {
                $scope.loadedResults = true;
                $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
            });
        }, function(error) {
            //console.error(error);
            console.error('Cannot access results (@cid)');
            $timeout(function() {
                $scope.loadedResults = true;
                $scope.contestLoaded = $scope.loadedMain && $scope.loadedScrambles && $scope.loadedResults;
            });
        });
    }

    $scope.turnOnButtons = function(format, data) {
        var res = [];
        data.forEach(function(d, index) {
            if (format == 'time') {
                if (d.condition == 'OK') {
                    res[index] = formatTime(d.record);
                    $scope.turnOnOK(index);
                } else if (d.condition == '+2') {
                    res[index] = formatTime(d.record + 2.000);
                    $scope.turnOnPenalty(index);
                } else if (d.condition == 'DNF') {
                    res[index] = 'DNF';
                    $scope.turnOnDNF(index);
                } else {
                    return null;
                }
            } else if (format == 'number') {
                if (d.condition == 'OK') {
                    res[index] = d.record;
                    $scope.turnOnOK(index);
                } else if (d.condition == 'DNF') {
                    res[index] = 'DNF';
                    $scope.turnOnDNF(index);
                } else {
                    return null;
                }
            } else {
                return null;
            }
        });
        return res;
    };

    // Condition buttons
    $scope.turnOnOK = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.addClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    $scope.turnOnPenalty = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.removeClass('cond-ok-on');
        btnPenalty.addClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    $scope.turnOnDNF = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.removeClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.addClass('cond-dnf-on');
    };

    $scope.range = function(n) {
        var arr = [];
        for (var i = 0; i < n; i++)
            arr.push(i);
        return arr;
    };
}]);
</script>
