@(cid: String, eid: String, contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Contest Confirm") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
@filterjs()
@contestjs(cid)
<script>
app.controller('ContestConfirmCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.result = null;
    $scope.contestConfirmLoaded = false;

    // 結果表示
    $scope.resultTitle = null;
    $scope.resultResult = null;
    $scope.resultTitleAlt = null;
    $scope.resultResultAlt = null;

    contestRef.child('events').child('e@{eid}').once('value', function(snapEvent) {
        var e = snapEvent.val();
        $scope.$apply(function() {
            $scope.resultTitle = e.method + ' of ' + e.attempts;
            if (e.method == 'average') {
                $scope.resultTitleAlt = 'best';
            }
        });

        // Read personal results
        var authData = contestRef.getAuth();
        if (authData) {
            contestRef.child('contests').child('c@{cid}').once('value', function(snapContest) {
                if (snapContest.exists()) {
                    var contestData = snapContest.val();
                    contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).once('value', function(snapResult) {
                        var resultData = snapResult.val();
                        $scope.$apply(function() {
                            $scope.result = calcResult(e.method, e.format, resultData.details);
                            if ($scope.result.condition == 'DNF') {
                                $scope.resultResult = 'DNF';
                            } else if (e.format == 'time') {
                                $scope.resultResult = formatTime($scope.result.record);
                            } else if (e.format == 'number') {
                                $scope.resultResult = $scope.result.record;
                            }
                            if (e.method == 'average') {
                                var best = (resultData.details)[$scope.result.best];
                                if (best.condition == 'DNF') {
                                    $scope.resultResultAlt = 'DNF';
                                } else if (e.format == 'time') {
                                    $scope.resultResultAlt = formatTime(best.record);
                                } else if (e.format == 'number') {
                                    $scope.resultResultAlt = best.record;
                                }
                            }
                            $scope.resultDetail = turnOnButtons(e.format, resultData.details);
                            $scope.contestConfirmLoaded = true;
                        });
                    }, function(error) {
                        console.error(error);
                    });
                } else {
                    console.error('Undefined contest: @{cid}');
                }
            }, function(error) {
                console.error(error);
            });
        } else {
            $scope.$apply(function() {
                $scope.contestConfirmLoaded = true;
            });
        }
    }, function(error) {
        console.error(error);
    });

    var toFixedForPriority = function(n) {
        nstr = String(n);
        if (nstr.indexOf('.') != -1) {
            var p0 = nstr.split('.')[0];
            var p1 = nstr.split('.')[1];
            return ('000' + p0).slice(-3) + (p1 + '000').slice(0, 3);
        } else {
            return ('000' + nstr).slice(-3) + '000';
        }
    };

    $scope.submitResult = function() {
        var authData = contestRef.getAuth();
        if (authData) {
            // Calc priority: (record as string) + (best as string)
            // The letter '+' forces it to be string
            var priority = toFixedForPriority($scope.result.record) + '+' + toFixedForPriority($scope.result.best);

            // Save
            contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).update({
                'endAt': Firebase.ServerValue.TIMESTAMP,
                'result': $scope.result
            }, function(error) {
                if (!error) {
                    // And set priority
                    contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).setPriority(priority, function(error) {
                        if (!error) {
                            console.log('Complete!');
                            location.href = "/contest/@{cid}?done=@{eid}";
                        } else {
                            console.error(error);
                        }
                    });
                } else {
                    console.error(error);
                }
            });
        } else {
            location.href = '@routes.HomeController.index';
        }
    };

    var turnOnButtons = function(format, data) {
        var res = [];
        data.forEach(function(d, index) {
            if (format == 'time') {
                if (d.condition == 'OK') {
                    res[index] = formatTime(d.record);
                    turnOnOK(index);
                } else if (d.condition == '+2') {
                    res[index] = formatTime(d.record + 2.000);
                    turnOnPenalty(index);
                } else if (d.condition == 'DNF') {
                    res[index] = 'DNF';
                    turnOnDNF(index);
                } else {
                    return null;
                }
            } else if (format == 'number') {
                if (d.condition == 'OK') {
                    res[index] = d.record;
                    turnOnOK(index);
                } else if (d.condition == 'DNF') {
                    res[index] = 'DNF';
                    turnOnDNF(index);
                } else {
                    return null;
                }
            } else {
                return null;
            }
        });
        return res;
    };

    // Condition buttons
    var turnOnOK = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.addClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    var turnOnPenalty = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.removeClass('cond-ok-on');
        btnPenalty.addClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    var turnOnDNF = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.removeClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.addClass('cond-dnf-on');
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName, cid=cid)

    <div ng-controller="AuthCtrl"><div ng-controller="ContestCtrl"><div ng-controller="ContestConfirmCtrl">
    <div ng-hide="authLoaded && contestLoaded && contestConfirmLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && contestLoaded && contestConfirmLoaded">

        @authinfo(eid=eid)

        @* <!--<h2>{{ contestData.contestName }}</h2>--> *@

        @* <!--<p>
            開始 <i class="fa fa-calendar"></i>: {{ contestData.beginAt | toDate }}<br>
            終了 <i class="fa fa-calendar"></i>: {{ contestData.endAt | toDate }}
        </p>
        <p ng-if="countdown == 0">
            現在開催中のコンテストです。
        </p>
        <p ng-if="countdown < 0">
            すでに終了したコンテストです。
        </p>
        <p ng-if="countdown > 0">
            このコンテストはまだ開始されていません。
        </p>--> *@

        @* <!--<h3>{{ events.e@{eid}.name }}</h3>--> *@

        <div class="row">
            <div class="col md-6">
                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio">
                    <span>使用キューブをデータベースから選択</span>
                </label>
                <label>ブランド</label>
                <select class="form-control">
                    <option>AAA</option>
                    <option>BBB</option>
                    <option>CCC</option>
                </select>
                <label>キューブ</label>
                <select class="form-control">
                    <option>XXX</option>
                    <option>YYY</option>
                    <option>ZZZ</option>
                </select>
                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio">
                    <span>データベースに無いキューブを入力</span>
                </label>
                <input class="form-control" type="text">
                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio">
                    <span>不明</span>
                </label>
            </div>
            <div class="col md-6">
                <p class="margin-bottom-0" style="font-size: 24px;">
                    {{ resultTitle | uppercaseHead }}: {{ resultResult }}
                </p>
                <p class="margin-bottom-20" ng-show="resultResultAlt">
                    {{ resultTitleAlt | uppercaseHead }}: {{ resultResultAlt }}
                </p>
                <p>
                    <button class="btn" ng-click="submitResult()">この内容で送信する</button>
                </p>
                <p>
                    ビデオへのリンクはマイページから追加できます。
                </p>
            </div>
        </div>

        @contesttimeform(eid=eid, useInput=false)

        @* <!--<p>@cid -> contestData:</p>
        <pre>{{ contestData | json }}</pre>--> *@

        @* <!--<p>inProgress / countdown:</p>
        <pre>{{ inProgress | json }}</pre>
        <pre>{{ countdown | json }}</pre>--> *@

        @* <!--<p>@cid -> scramblesData:</p>
        <pre>{{ scramblesData | json }}</pre>--> *@

        @* <!--<p>@cid -> resultsData:</p>
        <pre>{{ resultsData | json }}</pre>--> *@

        @* <!--<p>events:</p>
        <pre>{{ events | json }}</pre>--> *@

        @* <!--<p>results:</p>
        <pre>{{ resultsForm | json }}</pre>
        <pre>{{ results | json }}</pre>--> *@

    </div></div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
