@(cid: String, eid: String = "", setBegin: Boolean = false)

<script>
var formatTime = function(input) {
    var post = '';
    if (String(input).indexOf('.') != -1) {
        second = String(input).split('.')[0];
        post = '.' + (String(input).split('.')[1] + '000').substr(0, 3);
    } else {
        post = '.000';
    }
    if (second < 10) {
        return (second + post).substr(0, 5);
    } else if (second < 60) {
        return (second + post).substr(0, 6);
    } else {
        var minute = Math.floor(Math.floor(second) / 60);
        var s = ('0' + (second - minute * 60)).slice(-2);
        if (minute < 10) {
            return (minute + ':' + s + post).substr(0, 8);
        } else {
            return (minute + ':' + s + post).substr(0, 9);
        }
    }
};

app.controller('ContestCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.contestData = null;
    $scope.scramblesData = null;
    $scope.resultsData = null;
    $scope.events = null;
    $scope.contestLoaded = false;
    $scope.existsContest = false;

    @* /* コンテストが、進行中 (0) か、終了済み (負) か、これからやるやつ (正) か */ *@
    $scope.inProgress = null;
    $scope.countdown = null;

    // Fetch event data followed by contest data
    contestRef.child('events').once('value', function(snapEvents) {
        if (snapEvents.exists()) {
            contestRef.child('contests').child('c@cid').once('value', function(snapContest) {
                if (snapContest.exists() && snapContest.val()._dummy == null) {
                    contestRef.child('inProgress').once('value', function(snapInProgress) {
                        $scope.$apply(function() {
                            $scope.events = snapEvents.val();
                            $scope.contestData = snapContest.val();
                            $scope.inProgress = snapInProgress.val();
                            $scope.countdown = @cid - parseInt(snapInProgress.val().contest.substr(1));
                            $scope.existsContest = true;
                            $scope.contestLoaded = true;
                        });
                    });
                } else {
                    console.error('Invalid contest: @cid');
                    $scope.$apply(function() {
                        $scope.contestLoaded = true;
                    });
                }
            }, function(error) {
                console.error(error);
            });
        } else {
            console.error('Undefined: events');
        }
    }, function(error) {
        console.error(error);
    });

    // Fetch scrambles data
    contestRef.child('scrambles').child('c@cid').once('value', function(snapScrambles) {
        if (snapScrambles.exists() && snapScrambles.val()._dummy == null) {
            $scope.$apply(function() {
                $scope.scramblesData = snapScrambles.val();
            });
        } else {
            console.error('Invalid: contest (@cid)');
        }
    }, function(error) {
        //console.error(error);
        console.error('Cannot access scrambles (@cid)');
    });

    // Fetch results data
    contestRef.child('results').child('c@cid').once('value', function(snapResults) {
        if (snapResults.exists() && snapResults.val()._dummy == null) {
            $scope.$apply(function() {
                $scope.resultsData = snapResults.val();
            });
        } else {
            console.error('Invalid: contest (@cid)');
        }
    }, function(error) {
        //console.error(error);
        console.error('Cannot access results (@cid)');
    });

@if(setBegin && eid != "") {
    // Set begin time
    Auth.$onAuth(function(authData) {
        contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).set({
            'beginAt': Firebase.ServerValue.TIMESTAMP,
            'type': 'form'
        }, function(error) {
            if (error) {
                console.error(error);
            }
        });
    });
}

    // Results
    $scope.resultsForm = [];
    $scope.results = [];

    // On Reuslts change
    $scope.change = function(index) {
        var resultForm = $scope.resultsForm[index];
        if (resultForm) {
            var result = angular.element(document.getElementById('result-' + index));
            var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
            var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
            var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));

            $scope.results[index] = {'result': null, 'condition': null};
            if (!(resultForm.match(/^([0-9]:)?[0-9]{1,3}(\.[0-9]{0,3})?$/))) {
                result.addClass('format-error');
                result.next().text('不正なフォーマットです。');
                result.next().removeClass('hide');
                btnOK.removeClass('cond-ok-on');
                btnPenalty.removeClass('cond-penalty-on');
                btnDNF.removeClass('cond-dnf-on');
                return;
            }
            if (resultForm.indexOf(':') != -1) {
                var t = resultForm.split(':');
                $scope.results[index].result = Number(t[0]) * 60 + Number(t[1]);
            } else {
                $scope.results[index].result = Number(resultForm);
            }
            if ($scope.results[index].result <= 0) {
                result.addClass('format-error');
                result.next().text('0秒以上のタイムを入力してください。');
                result.next().removeClass('hide');
                btnOK.removeClass('cond-ok-on');
                btnPenalty.removeClass('cond-penalty-on');
                btnDNF.removeClass('cond-dnf-on');
                return;
            } else if (600 <= $scope.results[index].result) {
                result.addClass('format-error');
                result.next().text('10分未満のタイムを入力してください。');
                result.next().removeClass('hide');
                btnOK.removeClass('cond-ok-on');
                btnPenalty.removeClass('cond-penalty-on');
                btnDNF.removeClass('cond-dnf-on');
                return;
            }
            $scope.results[index].condition = 'OK';
            result.removeClass('format-error');
            result.next().addClass('hide');
            btnOK.addClass('cond-ok-on');
            btnPenalty.removeClass('cond-penalty-on');
            btnDNF.removeClass('cond-dnf-on');
        }
    };

    // Penalty buttons
    $scope.applyOK = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        $scope.results[index].condition = 'OK';
        $scope.resultsForm[index] = formatTime($scope.results[index].result);
        btnOK.addClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    $scope.applyPenalty = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        $scope.results[index].condition = '+2';
        $scope.resultsForm[index] = formatTime($scope.results[index].result + 2);
        btnOK.removeClass('cond-ok-on');
        btnPenalty.addClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    $scope.applyDNF = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        $scope.results[index].condition = 'DNF';
        $scope.resultsForm[index] = 'DNF';
        btnOK.removeClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.addClass('cond-dnf-on');
    };
}]);
</script>
