@(cid: String, contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Contest") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
@filterjs()
@contestjs(cid)
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="ContestCtrl">
        <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
        <p ng-if="isTemporaryPassword" style="color:#f00">Please change pasword!</p>
        <p>authData:</p><pre>{{ authData | json }}</pre>
        <p>userData:</p><pre>{{ userData | json }}</pre>
        <p>usersecretData:</p><pre>{{ usersecretData | json }}</pre>

        <hr>

        <h2>{{ contestData.contestName }}</h2>

        <p>
            開始: {{ contestData.beginAt | toDate }}<br>
            終了: {{ contestData.endAt | toDate }}
        </p>
        <p ng-if="countdown == 0">
            現在開催中のコンテストです。
        </p>
        <p ng-if="countdown < 0">
            すでに終了したコンテストです。
        </p>
        <p ng-if="countdown > 0">
            このコンテストはまだ開始されていません。
        </p>

        <p>
            競技一覧:
        </p>
        @*<ul>
            <li ng-repeat="e in contestData.events">
                <a href="/contest/{{ contestData.contestId }}#{{ e }}">
                    {{ events[e].name }} ({{ events[e].method }} of {{ events[e].attempts }})
                </a>
                <a href="#" ng-if="countdown == 0 && authData != null">参加する</a>
            </li>
        </ul>*@
        <table class="table">
            <thead>
                <tr>
                    <th>競技</th>
                    <th>計測フォーマット</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in contestData.events">
                    <td>{{ events[e].name }}</td>
                    <td>{{ events[e].method }} of {{ events[e].attempts }}</td>
                    <td>
                        <a href="/contest/@cid/{{ e | removeHead }}" ng-if="countdown == 0 && authData != null">参加する</a>
                        <span ng-if="countdown == 0 && authData == null">参加するにはログインしてださい</span>
                        <span ng-if="countdown != 0">現在このコンテストには参加できません</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>@cid -> contestData:</p>
        <pre>{{ contestData | json }}</pre>

        <p>inProgress / countdown:</p>
        <pre>{{ inProgress | json }}</pre>
        <pre>{{ countdown | json }}</pre>

        <p>@cid -> scramblesData:</p>
        <pre>{{ scramblesData | json }}</pre>

        <p>@cid -> resultsData:</p>
        <pre>{{ resultsData | json }}</pre>

        <p>events:</p>
        <pre>{{ events | json }}</pre>

        </div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
