@(cid: String, eid: String, contestName: String, contestUrl: String, firebaseappContest: String, brandsPuzzles: Map[Int, List[Puzzle]], puzzleBrands: List[PuzzleBrand], puzzleBrandsMap: Map[Int, String])
@* @(cid: String, eid: String, contestName: String, contestUrl: String, firebaseappContest: String, puzzles: List[Puzzle], puzzleCategories: List[PuzzleCategory], puzzleBrands: List[PuzzleBrand]) *@
@* @(cid: String, eid: String, contestName: String, contestUrl: String, firebaseappContest: String, cubes: List[Cube], puzzles: List[Puzzle], puzzleCategories: List[PuzzleCategory], puzzleBrands: List[PuzzleBrand]) *@

@defining("Contest Confirm") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
@filterjs()
@contestjs(cid)
<script>
app.controller('ContestConfirmCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.result = null;
    $scope.contestConfirmLoaded = false;

    // 結果表示
    $scope.resultTitle = null;
    $scope.resultResult = null;
    $scope.resultTitleAlt = null;
    $scope.resultResultAlt = null;

    contestRef.child('events').child('e@{eid}').once('value', function(snapEvent) {
        var e = snapEvent.val();
        $scope.$apply(function() {
            $scope.resultTitle = e.method + ' of ' + e.attempts;
            if (e.method == 'average') {
                $scope.resultTitleAlt = 'best';
            }
        });

        // Read personal results
        var authData = contestRef.getAuth();
        if (authData) {
            contestRef.child('contests').child('c@{cid}').once('value', function(snapContest) {
                if (snapContest.exists()) {
                    var contestData = snapContest.val();
                    contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).once('value', function(snapResult) {
                        var resultData = snapResult.val();
                        $scope.$apply(function() {
                            $scope.result = calcResult(e.method, e.format, resultData.details);
                            if ($scope.result.condition == 'DNF') {
                                $scope.resultResult = 'DNF';
                            } else if (e.format == 'time') {
                                $scope.resultResult = formatTime($scope.result.record);
                            } else if (e.format == 'number') {
                                $scope.resultResult = $scope.result.record;
                            }
                            if (e.method == 'average') {
                                var best = (resultData.details)[$scope.result.best];
                                if (best.condition == 'DNF') {
                                    $scope.resultResultAlt = 'DNF';
                                } else if (e.format == 'time') {
                                    $scope.resultResultAlt = formatTime(best.record);
                                } else if (e.format == 'number') {
                                    $scope.resultResultAlt = best.record;
                                }
                            }
                            $scope.resultDetail = turnOnButtons(e.format, resultData.details);
                            $scope.contestConfirmLoaded = true;
                        });
                    }, function(error) {
                        console.error(error);
                    });
                } else {
                    console.error('Undefined contest: @{cid}');
                }
            }, function(error) {
                console.error(error);
            });
        } else {
            $scope.$apply(function() {
                $scope.contestConfirmLoaded = true;
            });
        }
    }, function(error) {
        console.error(error);
    });

    var toFixedForPriority = function(n) {
        nstr = String(n);
        if (nstr.indexOf('.') != -1) {
            var p0 = nstr.split('.')[0];
            var p1 = nstr.split('.')[1];
            return ('000' + p0).slice(-3) + (p1 + '000').slice(0, 3);
        } else {
            return ('000' + nstr).slice(-3) + '000';
        }
    };

    $scope.submitResult = function() {
        var authData = contestRef.getAuth();
        if (authData) {
            if (!($scope.puzzle) || !($scope.puzzle.type)) {
                $scope.error = '使用キューブを選択してください。';
                return;
            }

            @* /*
            各項目で、指定IDがDOM上に存在するかチェックしている。
            これは $scope の値と実際に選択されている項目のずれを検出する意味を持つ。
            ng-if が成り立たない <option> はDOM上から消されるからこれがうまくいく。
            */ *@
            var puzzle = { 'type': $scope.puzzle.type };
            if ($scope.puzzle.type == 'database') {
                if (!($scope.puzzle.brand) || document.getElementById('brand-' + $scope.puzzle.brand) == null || parseInt($scope.puzzle.brand) < 0) {
                    $scope.error = 'ブランドを選択してください。';
                    return;
                }
                if (!($scope.puzzle.product) || document.getElementById('product-' + $scope.puzzle.product) == null || parseInt($scope.puzzle.product) < 0) {
                    $scope.error = 'キューブを選択してください。';
                    return;
                }
                puzzle.brand = parseInt($scope.puzzle.brand);
                puzzle.product = parseInt($scope.puzzle.product);
            } else if ($scope.puzzle.type == 'nodatabase') {
                if (!($scope.puzzle.input) || $scope.puzzle.input.length <= 0) {
                    $scope.error = 'キューブ名を入力してください。';
                    return;
                }
                if (64 <= $scope.puzzle.input.length) {
                    $scope.error = 'キューブ名は63文字以下で入力してください。';
                    return;
                }
                puzzle.input = $scope.puzzle.input;
            } else if ($scope.puzzle.type == 'unknown') {
                ;
            } else {
                return;
            }

            // Calc priority: (record as string) + (best as string)
            // The letter '+' forces it to be string
            var priority = toFixedForPriority($scope.result.record) + '+' + toFixedForPriority($scope.result.best);

            // Save
            contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).update({
                'endAt': Firebase.ServerValue.TIMESTAMP,
                'result': $scope.result,
                'puzzle': puzzle
            }, function(error) {
                if (!error) {
                    // And set priority
                    contestRef.child('results').child('c@{cid}').child('e@{eid}').child(authData.uid).setPriority(priority, function(error) {
                        if (!error) {
                            console.log('Complete!');
                            location.href = "/contest/@{cid}?done=@{eid}";
                        } else {
                            console.error(error);
                        }
                    });
                } else {
                    console.error(error);
                }
            });
        } else {
            location.href = '@routes.HomeController.index';
        }
    };

    var turnOnButtons = function(format, data) {
        var res = [];
        data.forEach(function(d, index) {
            if (format == 'time') {
                if (d.condition == 'OK') {
                    res[index] = formatTime(d.record);
                    turnOnOK(index);
                } else if (d.condition == '+2') {
                    res[index] = formatTime(d.record + 2.000);
                    turnOnPenalty(index);
                } else if (d.condition == 'DNF') {
                    res[index] = 'DNF';
                    turnOnDNF(index);
                } else {
                    return null;
                }
            } else if (format == 'number') {
                if (d.condition == 'OK') {
                    res[index] = d.record;
                    turnOnOK(index);
                } else if (d.condition == 'DNF') {
                    res[index] = 'DNF';
                    turnOnDNF(index);
                } else {
                    return null;
                }
            } else {
                return null;
            }
        });
        return res;
    };

    // Condition buttons
    var turnOnOK = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.addClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    var turnOnPenalty = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.removeClass('cond-ok-on');
        btnPenalty.addClass('cond-penalty-on');
        btnDNF.removeClass('cond-dnf-on');
    };
    var turnOnDNF = function(index) {
        var btnOK = angular.element(document.getElementById('timeform-cond-ok-' + index));
        var btnPenalty = angular.element(document.getElementById('timeform-cond-penalty-' + index));
        var btnDNF = angular.element(document.getElementById('timeform-cond-dnf-' + index));
        btnOK.removeClass('cond-ok-on');
        btnPenalty.removeClass('cond-penalty-on');
        btnDNF.addClass('cond-dnf-on');
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName, cid=cid)

    <div ng-controller="AuthCtrl"><div ng-controller="ContestCtrl"><div ng-controller="ContestConfirmCtrl">
    <div ng-hide="authLoaded && contestLoaded && contestConfirmLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && contestLoaded && contestConfirmLoaded">

    @authinfo(eid=eid)

    <div ng-hide="existsContest">
        <p class="color-error">
            存在しないコンテストです。
        </p>
    </div>

    <div ng-show="existsContest">

        <div class="color-error margin-bottom-20" ng-if="error">
            エラー: {{ error }}
        </div>

        @* <!--<div>
            <p>brandsPuzzles:</p>
            <ul>
                @for((brandId, puzzles) <- brandsPuzzles){
                    <li>@brandId : @puzzleBrandsMap(brandId)</li>
                    <ul>
                        @for(puzzle <- puzzles){
                            <li>@puzzle.productId : @puzzle.name</li>
                        }
                    </ul>
                }
            </ul>
        </div>--> *@
        @* <!--<div>
            <p>cubes: @{cubes.length}</p>
            <ul>
                @for(cube:Cube <- cubes){
                    <li>@cube.product_id : @cube.name : @cube.category_id : @cube.parent_category_id</li>
                }
            </ul>
        </div>--> *@
        @* <!--<div>
            <p>puzzles: @{puzzles.length}</p>
            <ul>
                @for(puzzle:Puzzle <- puzzles){
                    <li>@puzzle.productId : @puzzle.name : @puzzle.categoryId : @puzzle.brandId</li>
                }
            </ul>
        </div>--> *@
        @* <!--<div>
            <p>puzzleCategories: @{puzzleCategories.length}</p>
            <ul>
                @for(puzzleCategory:PuzzleCategory <- puzzleCategories){
                    <li>@puzzleCategory.category_id : @puzzleCategory.category_name</li>
                }
            </ul>
        </div>--> *@
        @* <!--<div>
            <p>puzzleBrands: @{puzzleBrands.length}</p>
            <ul>
                @for(puzzleBrand:PuzzleBrand <- puzzleBrands){
                    <li>@puzzleBrand.category_id : @puzzleBrand.category_name</li>
                }
            </ul>
        </div>--> *@

        <form name="submitForm" ng-submit="submitResult()">
        <div class="row">
            <div class="col md-6">
                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio" value="database" ng-model="puzzle.type">
                    <span>使用キューブをデータベースから選択</span>
                </label>
                <div ng-show="puzzle.type == 'database'">
                    <label>ブランド</label>
                    <select class="form-control" ng-model="puzzle.brand">
                        @for(puzzleBrand:PuzzleBrand <- puzzleBrands){
                            @if(brandsPuzzles.get(puzzleBrand.category_id) != None) {
                                <option id="brand-@{puzzleBrand.category_id}" value="@{puzzleBrand.category_id}">@{puzzleBrand.category_name}</option>
                            }
                        }
                    </select>
                    <label>キューブ</label>
                    <select class="form-control" ng-model="puzzle.product">
                        @for((brandId, puzzles) <- brandsPuzzles){
                            @for(puzzle <- puzzles){
                                <option id="product-@puzzle.productId" value="@puzzle.productId" ng-if="puzzle.brand == @brandId">@puzzle.name</option>
                            }
                        }
                    </select>
                </div>

                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio" value="nodatabase" ng-model="puzzle.type">
                    <span>データベースに無いキューブを入力</span>
                </label>
                <div ng-show="puzzle.type == 'nodatabase'">
                    <input class="form-control" type="text" ng-model="puzzle.input">
                </div>

                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio" value="unknown" ng-model="puzzle.type">
                    <span>不明</span>
                </label>
            </div>
            <div class="col md-6">
                <p class="margin-bottom-0" style="font-size: 24px;">
                    {{ resultTitle | uppercaseHead }}: {{ resultResult }}
                </p>
                <p class="margin-bottom-20" ng-show="resultResultAlt">
                    {{ resultTitleAlt | uppercaseHead }}: {{ resultResultAlt }}
                </p>
                <p>
                    <input type="submit" value="この内容で送信する" class="btn">
                </p>
                <p>
                    ビデオへのリンクはマイページから追加できます。
                </p>
            </div>
        </div>
        </form>

        @contesttimeform(eid=eid, useInput=false)

        @* <!--<p>@cid -> contestData:</p>
        <pre>{{ contestData | json }}</pre>--> *@

        @* <!--<p>inProgress / countdown:</p>
        <pre>{{ inProgress | json }}</pre>
        <pre>{{ countdown | json }}</pre>--> *@

        @* <!--<p>@cid -> scramblesData:</p>
        <pre>{{ scramblesData | json }}</pre>--> *@

        @* <!--<p>@cid -> resultsData:</p>
        <pre>{{ resultsData | json }}</pre>--> *@

        @* <!--<p>events:</p>
        <pre>{{ events | json }}</pre>--> *@

        @* <!--<p>results:</p>
        <pre>{{ resultsForm | json }}</pre>
        <pre>{{ results | json }}</pre>--> *@

        @* <!--<p>puzzle:</p>
        <pre>{{ puzzle | json }}</pre>--> *@

    </div></div></div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
