@(cid: String, eid: String, contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Contest Confirm") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
@filterjs()
@contestjs(cid=cid)
</head>
<body><div class="container">
    @bodyheader(title, contestName, cid=cid)

    <div ng-controller="AuthCtrl"><div ng-controller="ContestCtrl">
    <div ng-hide="authLoaded && contestLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && contestLoaded">

        @authinfo(eid=eid)

        @* <!--<h2>{{ contestData.contestName }}</h2>--> *@

        @* <!--<p>
            開始 <i class="fa fa-calendar"></i>: {{ contestData.beginAt | toDate }}<br>
            終了 <i class="fa fa-calendar"></i>: {{ contestData.endAt | toDate }}
        </p>
        <p ng-if="countdown == 0">
            現在開催中のコンテストです。
        </p>
        <p ng-if="countdown < 0">
            すでに終了したコンテストです。
        </p>
        <p ng-if="countdown > 0">
            このコンテストはまだ開始されていません。
        </p>--> *@

        @* <!--<h3>{{ events.e@{eid}.name }}</h3>--> *@

        <div class="row">
            <div class="col md-6">
                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio">
                    <span>使用キューブをデータベースから選択</span>
                </label>
                <label>ブランド</label>
                <select class="form-control">
                    <option>AAA</option>
                    <option>BBB</option>
                    <option>CCC</option>
                </select>
                <label>キューブ</label>
                <select class="form-control">
                    <option>XXX</option>
                    <option>YYY</option>
                    <option>ZZZ</option>
                </select>
                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio">
                    <span>データベースに無いキューブを入力</span>
                </label>
                <input class="form-control" type="text">
                <label class="fancy-radio">
                    <input name="puzzle-type" type="radio">
                    <span>不明</span>
                </label>
            </div>
            <div class="col md-6">
                <p>
                    Result: XXX
                </p>
                <p>
                    <a href="#" class="btn">この内容で送信する</a>
                </p>
                <p>
                    ビデオへのリンクはマイページから追加できます。
                </p>
            </div>
        </div>

        @contesttimeform(eid=eid)

        @* <!--<p>@cid -> contestData:</p>
        <pre>{{ contestData | json }}</pre>--> *@

        @* <!--<p>inProgress / countdown:</p>
        <pre>{{ inProgress | json }}</pre>
        <pre>{{ countdown | json }}</pre>--> *@

        @* <!--<p>@cid -> scramblesData:</p>
        <pre>{{ scramblesData | json }}</pre>--> *@

        @* <!--<p>@cid -> resultsData:</p>
        <pre>{{ resultsData | json }}</pre>--> *@

        @* <!--<p>events:</p>
        <pre>{{ events | json }}</pre>--> *@

        @* <!--<p>results:</p>
        <pre>{{ resultsForm | json }}</pre>
        <pre>{{ results | json }}</pre>--> *@

    </div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
