@(eid: String, useInput: Boolean = true, clickable: Boolean = true)

    @* <!--
        ハードコーディングで無理やり分岐。
        このまま AngularJS で分岐させると、idが重複する。
    --> *@

    @* 試技数が5の場合 (例えば、average of 5) *@
    @if(eid == "demo" || eid != "333bf") {
        <div id="timeforms" class="row">
            <div class="col md-1"></div>
            <div class="col md-2 timeform-wrap" ng-repeat="i in range(5)">
                <div class="timeform">
                    <div class="timeform-time">
                    @if(useInput) {
                        <input id="result-{{ $index }}" ng-model="resultsForm[$index]" ng-blur="inputblur($index)" type="text" placeholder="-:--.---" required>
                        <span class="hide color-error result-note"></span>
                    } else {
                        <span id="result-{{ $index }}" class="result-detail" ng-if="resultsDetail[$index]">{{ resultsDetail[$index] }}</span>
                        <span id="result-{{ $index }}" class="result-detail yet" ng-if="!(resultsDetail[$index])">-:--.----</span>
                    }
                    </div>
                    <div class="timeform-cond">
                        @if(clickable) {
                            <div id="timeform-cond-ok-{{ $index }}" class="timeform-cond-btn" ng-click="applyOK($index)">OK</div>
                            <div id="timeform-cond-penalty-{{ $index }}" class="timeform-cond-btn" ng-click="applyPenalty($index)">+2</div>
                            <div id="timeform-cond-dnf-{{ $index }}" class="timeform-cond-btn" ng-click="applyDNF($index)">DNF</div>
                        } else {
                            <div id="timeform-cond-ok-{{ $index }}" class="timeform-cond-btn">OK</div>
                            <div id="timeform-cond-penalty-{{ $index }}" class="timeform-cond-btn">+2</div>
                            <div id="timeform-cond-dnf-{{ $index }}" class="timeform-cond-btn">DNF</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col md-1"></div>
        </div>

    @* 試技数が3の場合 (例えば、best of 3) *@
    } else {
        <div id="timeforms" class="row">
            <div class="col md-3"></div>
            <div class="col md-2 timeform-wrap" ng-repeat="i in range(3)">
                <div class="timeform">
                    <div class="timeform-time">
                    @if(useInput) {
                        <input id="result-{{ $index }}" ng-model="resultsForm[$index]" ng-blur="inputblur($index)" type="text" placeholder="-:--.---" required>
                        <span class="hide color-error result-note"></span>
                    } else {
                        <span id="result-{{ $index }}" class="result-detail" ng-if="resultsDetail[$index]">{{ resultsDetail[$index] }}</span>
                        <span id="result-{{ $index }}" class="result-detail yet" ng-if="!(resultsDetail[$index])">-:--.----</span>
                    }
                    </div>
                    <div class="timeform-cond">
                        @if(clickable) {
                            <div id="timeform-cond-ok-{{ $index }}" class="timeform-cond-btn" ng-click="applyOK($index)">OK</div>
                            <div id="timeform-cond-penalty-{{ $index }}" class="timeform-cond-btn" ng-click="applyPenalty($index)">+2</div>
                            <div id="timeform-cond-dnf-{{ $index }}" class="timeform-cond-btn" ng-click="applyDNF($index)">DNF</div>
                        } else {
                            <div id="timeform-cond-ok-{{ $index }}" class="timeform-cond-btn">OK</div>
                            <div id="timeform-cond-penalty-{{ $index }}" class="timeform-cond-btn">+2</div>
                            <div id="timeform-cond-dnf-{{ $index }}" class="timeform-cond-btn">DNF</div>
                        }
                    </div>
                </div>
            </div>
            <div class="col md-3"></div>
        </div>
    }
