@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
<script>
app.factory('Auth', ['$firebaseAuth', function($firebaseAuth) {
    return $firebaseAuth(contestRef);
}]);

app.controller('AuthCtrl', ['$scope', '$firebaseObject', 'Auth', function($scope, $firebaseObject, Auth) {
    $scope.message = null;
    $scope.authData = null;
    $scope.userData = null;
    $scope.usersecretData = null;
    $scope.isLoggingin = false;

    Auth.$onAuth(function(authData) {
        if (authData) {
            $scope.message = 'Logged in as: ' + authData.uid + ' (' + authData.password.email + ')';
            $scope.authData = authData;
            $scope.userData = $firebaseObject(contestRef.child('users').child(authData.uid));
            $scope.usersecretData = $firebaseObject(contestRef.child('usersecrets').child(authData.uid));
            $scope.isLoggingin = true;
            contestRef.child('users').child(authData.uid).once('value', function(userSnap) {
                if (userSnap.exists()) {
                    // Second or more time
                    console.log('No need for first setting: ' + authData.uid);
                    location.href = '@routes.HomeController.index';
                }
            });
        } else {
            $scope.message = 'Logged out';
            $scope.authData = null;
            $scope.userData = null;
            $scope.usersecretData = null;
            $scope.isLoggingin = false;
            location.href = '@routes.HomeController.index';
        }
    });
}]);

app.controller('AuthFirstSettingCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.updateFirstSetting = function() {
        $scope.message = null;
        $scope.error = null;
        var _username = $scope.username ? $scope.username : '';
        var _displayname = $scope.displayname ? $scope.displayname : '';

        if (!(_username.match(/^[a-zA-Z0-9_]{1,15}$/))) {
            console.error('Invalid username');
            return;
        }
        if (!(_displayname.match(/^.{1,31}$/))) {
            console.error('Invalid displayname');
            return;
        }

        Auth.$onAuth(function(authData) {
            if (authData) {
                contestRef.child('users').child(authData.uid).once('value', function(userSnap) {
                    if (userSnap.exists()) {
                        // Second or more time
                        console.log('No need for first setting: ' + authData.uid);
                        location.href = '@routes.HomeController.index';
                    } else {
                        // Really the first time
                        contestRef.child('usernames').child(_username).once('value', function(usernameSnap) {
                            if (usernameSnap.exists()) {
                                // Username already used
                                console.error('Username already exists: ' + _username);
                            } else {
                                // Set new data to usernames DB and users DB
                                contestRef.child('usernames').child(_username).set({
                                    'uid': authData.uid,
                                    'createdAt': Firebase.ServerValue.TIMESTAMP
                                }, function(error) {
                                    if (error) {
                                        console.error(error);
                                        Auth.$unauth();
                                    } else {
                                        contestRef.child('users').child(authData.uid).set({
                                            'createdAt': Firebase.ServerValue.TIMESTAMP,
                                            'username': _username,
                                            'displayname': _displayname
                                        }, function(error) {
                                            if (error) {
                                                console.error(error);
                                                Auth.$unauth();
                                            } else {
                                                contestRef.child('usersecrets').child(authData.uid).set({
                                                    'loggedinAt': Firebase.ServerValue.TIMESTAMP
                                                }, function(error) {
                                                    if (error) {
                                                        console.error(error);
                                                        Auth.$unauth();
                                                    } else {
                                                        console.log('Update successfully: ' + authData.uid + ' (' + _username + ')');
                                                        location.href = '@routes.HomeController.index';
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            } else {
                console.log('Logged out');
                location.href = '@routes.HomeController.login';
            }
        });
    };
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <pre>{{ authData | json }}</pre>
            <pre>{{ userData | json }}</pre>
            <pre>{{ usersecretData | json }}</pre>
        </div>

        <div ng-controller="AuthFirstSettingCtrl">
            <form name="firstSettingForm" ng-submit="updateFirstSetting()">
                ユーザ名: <input type="text" ng-model="username">
                  アルファベットと数字で1文字以上16文字以内。
                  他のアカウントのユーザ名と重複できません。
                  個人ページのURLは @{contestUrl}/user/{{ username }} になります。
                  あとで変更できます。<br>
                名前: <input type="text" ng-model="displayname">
                  ランキング等で表示される名前。日本語OK。ハンドルネームOK。
                  あとで変更できます。<br>
                <input type="submit" value="Update">
            </form>

            <p ng-if="message">Message: <strong>{{ message }}</strong></p>
            <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
