@(contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Forgot Password?") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('AuthForgotCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.resetPassword = function() {
        $scope.resetMessage = null;
        $scope.error = null;

        Auth.$unauth();
        Auth.$resetPassword({
            email: $scope.email
        }).then(function() {
            $scope.resetMessage = '新しいパスワードを電子メールで送信しました。';
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthForgotCtrl">

        <h2>パスワードリセット</h2>

        @* <!--<div class="color-success margin-bottom-20" ng-if="message">
            メッセージ: {{ message }}
        </div>--> *@
        <div class="color-error margin-bottom-20" ng-if="error">
            エラー: {{ error }}
        </div>

        <form name="resetPasswordForm" ng-submit="resetPassword()">
            <div>
                <label>メールアドレス</label>
                <input class="form-control" type="email" ng-model="email">
            </div>

            <input class="btn" type="submit" value="パスワードをリセットする">

        </form>

        <div class="color-success margin-bottom-20" ng-if="resetMessage">
            メッセージ: {{ resetMessage }}
        </div>

    </div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
