@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('AuthForgetCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.resetPassword = function() {
        $scope.message = null;
        $scope.error = null;

        Auth.$unauth();
        Auth.$resetPassword({
            email: $scope.email
        }).then(function() {
            $scope.message = 'Password reset email sent successfully!';
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <p ng-if="isTemporaryPassword" style="color:#f00">Please change pasword!</p>
            <p>authData:</p><pre>{{ authData | json }}</pre>
            <p>userData:</p><pre>{{ userData | json }}</pre>
            <p>usersecretData:</p><pre>{{ usersecretData | json }}</pre>
        </div>

        <div ng-controller="AuthForgetCtrl">
            Email: <input type="email" ng-model="email"><br>

            <button ng-click="resetPassword()">Reset password</button><br>

            <p ng-if="message">Message: <strong>{{ message }}</strong></p>
            <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
