@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)
<script>
var app = angular.module('contestApp', ['firebase']);
var ref = new Firebase('https://@{firebaseappContest}.firebaseio.com');

app.factory('Auth', ['$firebaseAuth', function($firebaseAuth) {
    return $firebaseAuth(ref);
}]);

app.controller('AuthForgetCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.resetPassword = function() {
        $scope.message = null;
        $scope.error = null;

        Auth.$resetPassword({
            email: $scope.email
        }).then(function() {
            $scope.message = 'Password reset email sent successfully!';
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthForgetCtrl">
            Email: <input type="email" ng-model="email"><br>

            <button ng-click="resetPassword()">Reset password</button><br>

            <p ng-if="message">Message: <strong>{{ message }}</strong></p>
            <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
