@(title: String = "", description: String = "", sitename: String = "", url: String = "", contestUrl: String = "", userScalable: Boolean = true, googleVerification: String = "", event: String = "")

    <meta charset="UTF-8">
    @if(userScalable) {
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    } else {
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    }
    @if(googleVerification) {
        <meta name="google-site-verification" content="@{googleVerification}" />
    }

    @if(title.isEmpty){
        <title>@sitename</title>
    } else {
        <title>@title # @sitename</title>
    }
    <meta name="description" content="@description">
    <meta name="format-detection" content="telephone=no">

    @if(url != "" && contestUrl != "") {
        <meta property="og:url" content="@url">
        <meta property="og:type" content="website">
        @if(title.isEmpty) {
            <meta property="og:title" content="@sitename">
        } else {
            <meta property="og:title" content="@title">
        }
        <meta property="og:image" content="@{contestUrl}@routes.Assets.versioned("images/triboxContest_image.png")">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1600">
        <meta property="og:image:height" content="900">
        <meta property="og:site_name" content="@sitename">
        <meta property="og:description" content="@description">
        <meta property="og:locale" content="ja_JP">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@sitename">
        <meta name="twitter:creator" content="@@triboxContest">
        @if(title.isEmpty) {
            <meta name="twitter:title" content="トリコン: TORIBO Contest">
        } else {
            <meta name="twitter:title" content="@title">
        }
        <meta name="twitter:description" content="スピードキューブのオンラインコンテスト「トリコン」へようこそ！">
        @if(event != ""){
            <meta name="twitter:image:src" content="@{contestUrl}@routes.Assets.versioned("images/twitter_card/"+{{event}}+".png")">
        } else {
            <meta name="twitter:image:src" content="@{contestUrl}@routes.Assets.versioned("images/triboxContest_image_202007.png")">
        }

        <link rel="canonical" href="@url">
    }

    <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.svg")" type="image/svg+xml">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.versioned("images/apple-touch-icon-precomposed.png")">

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("skyblue/css/skyblue.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/skyblue-alt.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/device.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://emoji-css.afeld.me/emoji.css">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/cubing-icons/cubing-icons.css")">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-sanitize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>
