@(title: String, contestName: String)

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if(title.isEmpty){
        <title>@contestName</title>
    }else{
        <title>@title &mdash; @contestName</title>
    }
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("skyblue/css/skyblue.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <!--<script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
