@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @message
    </body>
</html>
