@(contestName: String, contestUrl: String, firebaseappContest: String)
@* @(contestName: String, contestUrl: String, firebaseappContest: String, events:List[Event]) *@

@defining("") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
@* /*app.controller('EventListCtrl', function($scope) {
    $scope.events = [
        @for(event:Event <- events){
            {'id': @event.id, 'tag': '@event.tag', 'name': '@event.name'},
        }
    ];
});*/ *@

app.controller('ContestCtrl', ['$scope', '$firebaseObject', function($scope, $firebaseObject) {
    $scope.inProgress = $firebaseObject(contestRef.child('inProgress'));
    $scope.events = $firebaseObject(contestRef.child('events'));
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <p ng-if="isTemporaryPassword" style="color:#f00">Please change pasword!</p>
            <p>authData:</p><pre>{{ authData | json }}</pre>
            <p>userData:</p><pre>{{ userData | json }}</pre>
            <p>usersecretData:</p><pre>{{ usersecretData | json }}</pre>

            <ul>
                <li ng-hide="isLoggingin"><a href="/join">Join</a></li>
                <li ng-hide="isLoggingin"><a href="/login">Login</a></li>
                <li ng-hide="isLoggingin"><a href="/forgot">Forgot password?</a></li>
                <li ng-show="isLoggingin"><a href="/setting">Setting</a></li>
                <li ng-show="isLoggingin"><a href="/logout">Logout</a></li>
            </ul>
        </div>

        @* <!--<div>
            <p>開催中のコンテスト (MySQL):<br>@{events.length} events.</p>
            <ul>
                @for(event:Event <- events){
                    <li><a href="#@event.tag">@event.name</a></li>
                }
            </ul>
        </div>--> *@

        @* <!--<div ng-controller="EventListCtrl">
            <p>開催中のコンテスト (MySQL + AngularJS):<br>{{events.length}} events.</p>
            <ul>
                <li ng-repeat="event in events">
                    <a href="#{{event.tag}}">{{event.name}}</a>
                </li>
            </ul>
        </div>--> *@

        <div ng-controller="ContestCtrl">
            <p>開催中のコンテスト: {{ inProgress.contest }}</p>
            <!--<pre>{{ inProgress | json}}</pre>-->

            <p>競技リスト (Firebase + AngularJS):<br>{{ events.length }} events.</p>
            <ul>
                <li ng-repeat="(eid, e) in events">
                    <a href="#{{ eid }}">{{ e.name }} ({{ e.method }} of {{ e.attempts }}, format={{ e.format }})</a>
                </li>
            </ul>
            <!--<pre>{{ events | json }}</pre>-->
        </div>

        @bodyfooter(contestName)
    </body>
</html>

}
