@(contestName: String, contestUrl: String, firebaseappContest: String)
@* @(contestName: String, contestUrl: String, firebaseappContest: String, events:List[Event]) *@

@defining("") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
var timestampToDate = function(timestamp) {
    var d = new Date(timestamp);
    var year = d.getFullYear();
    var month = (d.getMonth() + 1 < 10) ? '0' + (d.getMonth() + 1) : d.getMonth() + 1;
    var day = (d.getDate() < 10) ? '0' + d.getDate() : d.getDate();
    var hour = (d.getHours() < 10) ? '0' + d.getHours() : d.getHours();
    var min = (d.getMinutes() < 10) ? '0' + d.getMinutes() : d.getMinutes();
    var sec = (d.getSeconds() < 10) ? '0' + d.getSeconds() : d.getSeconds();
    return year + '-' + month + '-' + day + ' ' + hour + ':' + min + ':' + sec;
};

app.filter('toDate', [function() {
    return timestampToDate;
}]);

@* /*app.controller('EventListCtrl', function($scope) {
    $scope.events = [
        @for(event:Event <- events){
            {'id': @event.id, 'tag': '@event.tag', 'name': '@event.name'},
        }
    ];
});*/ *@

app.controller('ContestCtrl', ['$scope', '$firebaseObject', function($scope, $firebaseObject) {
    $scope.events = null;
    $scope.inProgress = null;
    $scope.inProgressContest = null;
    contestRef.child('events').once('value', function(snapEvents) {
        if (snapEvents.exists()) {
            $scope.events = snapEvents.val();
            contestRef.child('inProgress').child('contest').once('value', function(snapInProgress) {
                if (snapInProgress.exists()) {
                    $scope.inProgress = snapInProgress.val();
                    $scope.inProgressContest = $firebaseObject(contestRef.child('contests').child($scope.inProgress));
                } else {
                    console.error('Undefined: inProgress');
                }
            }, function(error) {
                console.error(error);
            });
        } else {
            console.error('Undefined: events');
        }
    }, function(error) {
        console.error(error);
    });
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <p ng-if="isTemporaryPassword" style="color:#f00">Please change pasword!</p>
            <p>authData:</p><pre>{{ authData | json }}</pre>
            <p>userData:</p><pre>{{ userData | json }}</pre>
            <p>usersecretData:</p><pre>{{ usersecretData | json }}</pre>

            <ul>
                <li ng-hide="isLoggingin"><a href="/join">Join</a></li>
                <li ng-hide="isLoggingin"><a href="/login">Login</a></li>
                <li ng-hide="isLoggingin"><a href="/forgot">Forgot password?</a></li>
                <li ng-show="isLoggingin"><a href="/setting">Setting</a></li>
                <li ng-show="isLoggingin"><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <hr>

        @* <!--<div>
            <p>開催中のコンテスト (MySQL):<br>@{events.length} events.</p>
            <ul>
                @for(event:Event <- events){
                    <li><a href="#@event.tag">@event.name</a></li>
                }
            </ul>
        </div>--> *@

        @* <!--<div ng-controller="EventListCtrl">
            <p>開催中のコンテスト (MySQL + AngularJS):<br>{{events.length}} events.</p>
            <ul>
                <li ng-repeat="event in events">
                    <a href="#{{event.tag}}">{{event.name}}</a>
                </li>
            </ul>
        </div>--> *@

        <div ng-controller="ContestCtrl">
            <p>
                開催中のコンテスト:
                <a href="/contest/{{ inProgressContest.contestId }}">{{ inProgressContest.contestName }} ({{ inProgress }})</a>
            </p>
            <p>
                開始: {{ inProgressContest.beginAt | toDate }}<br>
                終了: {{ inProgressContest.endAt | toDate }}
            </p>
            <p>
                競技一覧:
            </p>
            <ul>
                <li ng-repeat="e in inProgressContest.events">
                    <a href="/contest/{{ inProgressContest.contestId }}#{{ e }}">{{ events[e].name }} ({{ events[e].method }} of {{ events[e].attempts }})</a>
                </li>
            </ul>

            <p>inProgressContest:</p>
            <pre>{{ inProgressContest | json }}</pre>

            <p>全競技リスト:</p>
            <ul>
                <li ng-repeat="(eid, e) in events">
                    {{ e.name }} ({{ eid }}: {{ e.method }} of {{ e.attempts }}, format={{ e.format }})
                </li>
            </ul>
            <pre>{{ events | json }}</pre>
        </div>

        @bodyfooter(contestName)
    </body>
</html>

}
