@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String, googleVerification: String)

@defining("") { title =>
@defining(contestUrl + "/") { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl, googleVerification=googleVerification)
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/modal.css")">

@basejs(firebaseappContest)
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="IndexCtrl">

        <div id="modal-overlay" class="hide" ng-show="justLogout || pleaseLogin"></div>
        <div id="modal-logout" class="modal-content hide" ng-show="justLogout || pleaseLogin">
            <p ng-show="justLogout">
                <i class="fa fa-check"></i>
                ログアウトしました。
            </p>
            <p ng-show="pleaseLogin">
                <i class="fa fa-check"></i>
                ログインしてからアクセスしてください。
            </p>
            <p>
                <a id="modal-logout-close" class="modal-close">閉じる</a>
            </p>
        </div>

    <div ng-hide="authLoaded && indexLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && indexLoaded">

        @authinfo()

        <p>
            triboxコンテストは、誰でも参加可能。毎週開催の "お得な" ネットコンテストです。<br>
            <a href="@routes.HomeController.about">もっと詳しく</a>
        </p>

        <hr>

        <div ng-show="inProgressContest._dummy">
            <h4>triboxコンテストへようこそ!</h4>
            <h4>7月3日21時に最初のコンテストがスタートします。</h4>

            <p>
                最初のコンテストでは、Rubik's Cube の参加者全員に100ポイントを付与致します。<br>
                ※認証アカウントのみ。他の競技については通常通り3名が当選、当選者に100ポイントを付与致します。
            </p>

            <hr>

            <h5>ステップ1 新規会員登録</h5>
            <p>
                <a href="@routes.HomeController.join">無料新規登録ページ</a>
            </p>

            <h5>ステップ2 ログイン・初期設定</h5>
            <p>
                <a href="@routes.HomeController.login">ログインページ</a><br>
                ステップ1で登録したメールアドレスとパスワードを入力して、triboxコンテストにログインしてください。<br>
                ログインが完了すると、初期設定ページへ移動します。ここでは、ユーザID、名前、所属 (任意) を登録します。<br>
                初期設定が完了するとコンテストに参加することができます。
            </p>

            <h5>ステップ3 アカウント認証</h5>
            <p>
                <a href="@routes.SettingController.verify">アカウントの認証設定ページ</a><br>
                triboxコンテストアカウントは、triboxストアアカウントに結びつけることができます。<br>
                抽選ポイントや入賞賞金は認証アカウントにのみ付与されます。
            </p>

            <h5>ステップ4 会員情報編集</h5>
            <p>
                <a href="@routes.SettingController.setting">アカウント設定ページ</a><br>
                所属、WCA ID、Twitter ID、自己紹介文を登録することができます。<br>
                シーズンランキング1位〜3位に授与される賞金を受け取るには、WCA ID が必要です。
            </p>

            <h5>ステップ5 コンテストタイマー体験</h5>
            <p>
                <a href="@routes.DemoController.timer">練習用コンテストタイマー</a><br>
                本番のコンテストで使用するコンテストタイマーを体験してみましょう。<br>
                （※コンテストでは使い慣れたタイマーを使用してタイムを手入力して記録を送信することもできます。）
            </p>

            <hr>

            <p>
                コンテスト開始のアナウンスや結果発表はtwitterでも行います。<br>
                <a href="https://twitter.com/triboxContest" target="_blank">@@triboxContest</a> をフォローして、今しばらくお待ちください。
            </p>
        </div>

        <div ng-show="!(inProgressContest._dummy)">

        <p>開催中のコンテスト</p>
        <h4><a href="/contest/{{ inProgressContest.contestId }}">{{ inProgressContest.contestName }}</a></h4>

        <p>
            <i class="fa fa-calendar"></i> 開催期間: <b>{{ inProgressContest.beginAt | toDate }}</b> ~ <b>{{ inProgressContest.endAt | toDate }}</b>
        </p>

        <table class="table table-bordered tribox-contest">
            <thead>
                <tr>
                    <th>競技種目</th>
                    <th>計測フォーマット</th>
                    <th>参加</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in inProgressContest.events">
                    <td>{{ events[e].name }}</td>
                    <td>{{ events[e].method | uppercaseHead }} of {{ events[e].attempts }}</td>
                    <td>
                        <a class="font-bold" href="/contest/{{ inProgressContest.contestId }}/{{ e | removeHead }}" ng-if="authData != null && eventsDone[e] == false"><i class="fa fa-play-circle"></i> 参加する</a>
                        <a class="font-bold color-error" href="/contest/{{ inProgressContest.contestId }}/{{ e | removeHead }}/timer" ng-if="authData != null && eventsDone[e] == 'timer'"><i class="fa fa-play-circle"></i> 再開する</a>
                        <a class="font-bold color-error" href="/contest/{{ inProgressContest.contestId }}/{{ e | removeHead }}/form" ng-if="authData != null && eventsDone[e] == 'form'"><i class="fa fa-play-circle"></i> 再開する</a>
                        <a class="font-bold color-error" href="/contest/{{ inProgressContest.contestId }}/{{ e | removeHead }}/solution" ng-if="authData != null && eventsDone[e] == 'solution'"><i class="fa fa-play-circle"></i> 再開する</a>
                        <span style="color: #ccc;" ng-if="authData != null && eventsDone[e] == true"><i class="fa fa-check-circle"></i> 参加済みです</span>
                        <a href="@routes.HomeController.login" ng-if="authData == null"><i class="fa fa-sign-in"></i> ログインして参加してください</a>
                        <span>({{ participants[e] }}名参加済)</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>
            コンテスト開始のアナウンスや結果発表、ニュースの告知はtwitterでも行います。<br>
            ぜひ <a href="https://twitter.com/triboxContest" target="_blank">@@triboxContest</a> をフォローしてください！
        </p>

        <p>
            <b>2018-12-09 News!</b><br>
            2018年クリスマスアップデートです！Skewbの追加、FMCスクランブル画像の表示、インスペクション時のジャッジコールを追加しました！<br>
            詳細は<a href="/release-notes/christmas-2018">リリースノート</a>をご覧ください。
        </p>

        <p>
            <b>2018-05-27 News!</b><br>
            2018年後半期 (7月1日スタート) から「6×6×6」と「7×7×7」が開催種目として追加されます！<br>
        </p>

        <p>
            <b>2018-01-01 News!</b><br>
            2018年前半期 (1月7日スタート) から「メガミンクス」と「Square-1」が開催種目として追加されます！<br>
        </p>

        <p>
            <b>2017-06-18 News!</b><br>
            2017年後半期 (7月2日スタート) から「ピラミンクス」が開催種目として追加されます！<br>
            <!-- それに伴い2017年前半期第25節、26節も「ピラミンクス」を開催します。
            2017年前半期の「ピラミンクス」はシーズンランキングには反映されませんのでご了承ください (オープン戦扱いです)。<br>
            ※後半期から「ピラミンクス」は正式なシーズンランキング集計対象種目です。 -->
        </p>

        <h5>コンテストタイマー体験</h5>
        <p>
            <a href="@routes.DemoController.timer">練習用コンテストタイマー</a><br>
            本番のコンテストで使用するコンテストタイマーを体験してみましょう。<br>
            （※コンテストでは使い慣れたタイマーを使用してタイムを手入力して記録を送信することもできます。）
        </p>

        <hr>

        <h5>過去のシーズンランキング</h5>
        <ul>
            <li><a href="/ranking/20181">2018 前半期</a></li>
            <li><a href="/ranking/20172">2017 後半期</a></li>
            <li><a href="/ranking/20171">2017 前半期</a></li>
            <li><a href="/ranking/20162">2016 後半期</a></li>
        </ul>

        @* <!--<p>inProgressContest:</p>
        <pre>{{ inProgressContest | json }}</pre>
        <p>eventsDone:</p>
        <pre>{{ eventsDone | json }}</pre>--> *@

        </div>

    </div></div></div>

    @bodyfooter(contestName)

<style>
.font-bold {
    font-weight: bold;
}
</style>

@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('IndexCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.events = null;
    $scope.inProgress = null;
    $scope.inProgressContest = null;
    $scope.participants = null;
    $scope.eventsDone = {};
    $scope.indexLoaded = false;

    var authData = contestRef.getAuth();

    // 全競技リスト、開催中コンテスト、開催中コンテストのデータ、ログイン時にユーザの開催中コンテストの結果データ
    contestRef.child('events').once('value', function(snapEvents) {
        var events = snapEvents.val();
    contestRef.child('inProgress').child('contest').once('value', function(snapInProgress) {
        var inProgress = snapInProgress.val();
    contestRef.child('participants').child(inProgress).once('value', function(snapParticipants) {
        var participants = snapParticipants.val();
    contestRef.child('contests').child(inProgress).once('value', function(snapContest) {
        var inProgressContest = snapContest.val();
        if (!(inProgressContest._dummy) && authData) {
            inProgressContest.events.forEach(function(e) {
                contestRef.child('results').child(inProgress).child(e).child(authData.uid).once('value', function(snapResult) {
                    var resultData = snapResult.val();
                    var _eventsDone;
                    if (!resultData) {
                        _eventsDone = false;
                    } else {
                        if (resultData.endAt) {
                            _eventsDone = true;
                        } else {
                            _eventsDone = resultData.type;
                        }
                    }
                    $timeout(function() {
                        $scope.events = events;
                        $scope.inProgress = inProgress;
                        $scope.inProgressContest = inProgressContest;
                        $scope.participants = participants;
                        $scope.eventsDone[e] = _eventsDone;
                        $scope.indexLoaded = true;
                    });
                }, function(error) {
                    console.error(error);
                });
            });
        } else {
            $timeout(function() {
                $scope.events = events;
                $scope.inProgress = inProgress;
                $scope.inProgressContest = inProgressContest;
                $scope.participants = participants;
                $scope.indexLoaded = true;
            });
        }
    });
    });
    }, function(error) {
        console.error(error);
    });
    }, function(error) {
        console.error(error);
    });

    $scope.justLogout = null;
    if (!authData) {
        var vars = getUrlVars();
        if (vars.logout) {
            $timeout(function() {
                $scope.justLogout = true;
                // うまくDOMのサイズが取得できないときがあるので何回か呼ぶ
                showModal();
                $timeout(showModal, 200);
                $timeout(showModal, 1000);
                $timeout(showModal, 10000);
            });
        } else if (vars.please) {
            $timeout(function() {
                $scope.pleaseLogin = true;
                // うまくDOMのサイズが取得できないときがあるので何回か呼ぶ
                showModal();
                $timeout(showModal, 200);
                $timeout(showModal, 1000);
                $timeout(showModal, 10000);
            });
        }
    }

    // Modal
    var modalOverlayElem = document.getElementById('modal-overlay');
    var modalLogoutElem = document.getElementById('modal-logout');
    var modalLogoutCloseElem = document.getElementById('modal-logout-close');
    var modalOverlayNgElem = angular.element(modalOverlayElem);
    var modalLogoutNgElem = angular.element(modalLogoutElem);
    modalOverlayNgElem.removeClass('hide');
    modalLogoutNgElem.removeClass('hide');
    var showModal = function() {
        var windowW = window.innerWidth;
        var windowH = window.innerHeight;
        var modalW = modalLogoutElem.offsetWidth;
        var modalH = modalLogoutElem.offsetHeight;
        modalLogoutNgElem.css('left', ((windowW - modalW) / 2) + 'px');
        modalLogoutNgElem.css('top', ((windowH - modalH) / 2) + 'px');
    };
    var closeModal = function() {
        modalOverlayNgElem.addClass('hide');
        modalLogoutNgElem.addClass('hide');
        history.replaceState('', '', '/');
    };
    modalOverlayElem.onclick = closeModal;
    modalLogoutCloseElem.onclick = closeModal;
}]);
</script>

</div></body>
</html>

}
}
