@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

<script>
// Random string for initial password
var getRandomStr = function(l) {
    var c = 'qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM1234567890';
    var cl = c.length;
    var r = '';
    for (var i = 0; i < l; i++) {
        r += c[Math.floor(Math.random() * cl)];
    }
    return r;
};
</script>
@basejs(firebaseappContest)
@authjs(redirectLogin=routes.HomeController.index.toString(), redirectLogout="", checkFirst=false)
<script>
app.controller('AuthJoinCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.createUser = function() {
        $scope.message = null;
        $scope.error = null;

        var _email = $scope.email;
        var _password = 'tmp-' + getRandomStr(12);
        Auth.$createUser({
            email: _email,
            password: _password
        }).then(function(userData) {
            $scope.message = 'User created with uid: ' + userData.uid;

            Auth.$resetPassword({
                email: _email
            }).then(function() {
                $scope.message = 'Password email sent successfully!';
            }).catch(function(error) {
                $scope.error = error;
            });
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <p ng-if="isTemporaryPassword" style="color:#f00">Please change pasword!</p>
            <p>authData:</p><pre>{{ authData | json }}</pre>
            <p>userData:</p><pre>{{ userData | json }}</pre>
            <p>usersecretData:</p><pre>{{ usersecretData | json }}</pre>
        </div>

        <p>
            メールアドレスを入力してください。
            入力されたメールアドレス宛てに初期パスワードが記載されたメールが送信されます
            (送信元: noreply@@@{firebaseappContest}.firebaseapp.com)。
            初期パスワードでログインしてパスワードを変更してください。
        </p>

        <div ng-controller="AuthJoinCtrl">
            <form novalidate name="joinForm" ng-submit="createUser()">
                Email: <input type="email" name="email" ng-model="email" required>
                <span ng-show="joinForm.email.$error.email">Not valid email!</span>
                <span ng-show="joinForm.email.$error.required">Required!</span><br>
                <input type="submit" value="Create User">
            </form>

            <p ng-if="message">Message: <strong>{{ message }}</strong></p>
            <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
