@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String)

@defining("Join") { title =>
@defining(contestUrl + "/join") { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl)

<script>
// Random string for initial password
var getRandomStr = function(l) {
    var c = 'qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM1234567890';
    var cl = c.length;
    var r = '';
    for (var i = 0; i < l; i++) {
        r += c[Math.floor(Math.random() * cl)];
    }
    return r;
};
</script>
@basejs(firebaseappContest)
@authjs(redirectLogin=routes.HomeController.index.toString(), redirectLogout="", checkFirst=false)
<script>
app.controller('AuthJoinCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.createUser = function() {
        $scope.joinMessage = null;
        $scope.error = null;

        var _email = $scope.email;
        var _password = 'tmp-' + getRandomStr(12);

        if (!_email) {
            $scope.error = 'メールアドレスを入力してください。';
            return;
        }

        Auth.$createUser({
            email: _email,
            password: _password
        }).then(function(userData) {
            //$scope.joinMessage = 'User created with uid: ' + userData.uid;

            Auth.$resetPassword({
                email: _email
            }).then(function() {
                //$scope.message = 'Password email sent successfully!';
                $scope.joinMessage = 'パスワード通知メールが送信されました。';
            }).catch(function(error) {
                $scope.error = error;
            });
        }).catch(function(error) {
            $scope.error = TriboxContest.convErrorCodes(error.code);
        });
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthJoinCtrl">
    <div ng-hide="authLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded">

        <h2>新規登録</h2>

        <div class="notice-success margin-bottom-20" ng-if="joinMessage">
            <i class="fa fa-check"></i>
            {{ joinMessage }}
        </div>
        <div class="color-error margin-bottom-20" ng-if="error">
            エラー: {{ error }}
        </div>

        <p>
            メールアドレスを入力してください。<br>
            入力されたメールアドレス宛てに初期パスワードが記載されたメールが送信されます
            (送信元: noreply@@@{firebaseappContest}.firebaseapp.com)。<br>
            初期パスワードでログインしてパスワードを変更してください。<br>
            すでにアカウントを作成済みの場合は、<a href="@routes.HomeController.login">ログインページ</a>からログインしてください。
        </p>

        <form name="joinForm" ng-submit="createUser()">
            <div>
                <label>メールアドレス</label>
                <input class="form-control" type="email" name="email" ng-model="email">
            </div>
            @* <!--<span ng-show="joinForm.email.$error.email">Not valid email!</span>
            <span ng-show="joinForm.email.$error.required">Required!</span><br>--> *@
            <input class="btn" type="submit" value="登録">
        </form>

    </div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
}
