@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
@authjs(routes.HomeController.index.toString(), "")
<script>
app.controller('AuthLoginCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.login = function() {
        $scope.message = null;
        $scope.error = null;

        Auth.$authWithPassword({
            email: $scope.email,
            password: $scope.password
        }).then(function(authData) {
            console.log('Checking: ' + authData.uid);

            // Get users list from DB
            contestRef.child('users').child(authData.uid).once('value', function(snapshot) {
                if (snapshot.exists()) {
                    // Second or more time of login because user data exists
                    contestRef.child('usersecrets').child(authData.uid).update({
                        'loggedinAt': Firebase.ServerValue.TIMESTAMP
                    }, function(error) {
                        if (error) {
                            console.err(error);
                            Auth.$unauth();
                        } else {
                            console.log('Logged in as: ' + authData.uid);
                            location.href = '@routes.HomeController.index';
                        }
                    });
                } else {
                    // First login because no user data yet
                    console.log('Logged in as: ' + authData.uid + ' (first login)');
                    location.href = '@routes.HomeController.first';
                }
            }, function(error) {
                Auth.$unauth();
                $scope.error = error;
            });
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthLoginCtrl">
            <form name="loginForm" ng-submit="login()">
                Email: <input type="email" ng-model="email"><br>
                Password: <input type="password" ng-model="password"><br>
                <input type="submit" value="Login">
            </form>

            <p ng-if="message">Message: <strong>{{ message }}</strong></p>
            <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
