@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
@authjs("", routes.HomeController.index.toString())
<script>
app.controller('AuthLogoutCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.logout = function() {
        Auth.$unauth();
        location.href = '@routes.HomeController.index';
    };
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthLogoutCtrl">
            <button ng-click="logout()">Logout</button><br>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
