@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)
<script>
var app = angular.module('contestApp', ['firebase']);
var ref = new Firebase('https://@{firebaseappContest}.firebaseio.com');

app.factory('Auth', ['$firebaseAuth', function($firebaseAuth) {
    return $firebaseAuth(ref);
}]);

app.controller('AuthCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.logout = function() {
        Auth.$unauth();
        location.href = '@routes.HomeController.index';
    };
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <button ng-click="logout()">Logout</button><br>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
