@(contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Logout") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=false)
<script>
app.controller('AuthLogoutCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.logout = function() {
        Auth.$unauth();
        location.href = '@routes.HomeController.index';
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthLogoutCtrl">
    <div ng-hide="authLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded">

        @authinfo()

        <h2>ログアウト</h2>

        <form name="logoutForm" ng-submit="logout()">
            <input class="btn" type="submit" value="ログアウト">
        </form>

    </div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
