@(firebaseapp: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        <meta charset="UTF-8">
        <title>My page -- tribox Contest</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script>
var app = angular.module('contestApp', ['firebase']);
var ref = new Firebase('https://@{firebaseapp}.firebaseio.com');

app.factory('Auth', ['$firebaseAuth', function($firebaseAuth) {
    return $firebaseAuth(ref);
}]);

app.controller('AuthCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.message = null;
    $scope.authData = null;
    $scope.isLoggingin = false;

    Auth.$onAuth(function(authData) {
        if (authData) {
            $scope.message = 'Logged in as: ' + authData.uid + ' (' + authData.password.email + ')';
            $scope.authData = authData;
            $scope.isLoggingin = true;
        } else {
            $scope.message = 'Logged out';
            $scope.authData = null;
            $scope.isLoggingin = false;
            location.href = '@routes.HomeController.index';
        }
    });
}]);
</script>
    </head>
    <body>
        <h1>My page -- tribox Contest</h1>

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <pre>{{ authData | json }}</pre>

            Email: <input type="text" ng-model="email"><br>
            Password: <input type="text" ng-model="password"><br>
            Name: <input type="text" ng-model="name"><br>

            <button ng-click="update()">Update</button><br>

            <p ng-if="message">Message: <strong>{{ message }}</strong></p>
            <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
        </div>

    </body>
</html>
