@(title: String, contestName: String, contestUrl: String, firebaseappContest: String)

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
@authjs("", routes.HomeController.index.toString())
<script>
app.controller('AuthMypageCtrl', ['$scope', '$firebaseObject', function($scope, $firebaseObject) {
    ;
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <pre>{{ authData | json }}</pre>
            <pre>{{ userData | json }}</pre>
        </div>

        <div ng-controller="AuthMypageCtrl">
            Email: <input type="text" ng-model="email"><br>
            Password: <input type="text" ng-model="password"><br>
            Name: <input type="text" ng-model="name"><br>

            <button ng-click="update()">Update</button><br>

            <p ng-if="message">Message: <strong>{{ message }}</strong></p>
            <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
        </div>

        @bodyfooter(contestName)
    </body>
</html>
