@(sid: String, contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String, firebaseappContestApikey: String, firebaseappContestMessagingsenderid: String, firebaseappWca: String)

@defining("Ranking " + sid.slice(0, 4) + " " + sid.slice(4, 5) + "H") { title =>
@defining(contestUrl + "/ranking/" + sid) { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl)

@basejs(firebaseappContest, firebaseappContestApikey, firebaseappContestMessagingsenderid, firebaseappWca)

<style>
h3, h4 {
    margin-top: 40px;
}
</style>

</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="RankingCtrl">
    <div ng-hide="authLoaded && rankingLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && rankingLoaded">

    @authinfo()

    <div ng-hide="existsSeason">
        <p class="color-error">
            存在しないシーズンです。
        </p>
    </div>

    <div ng-show="existsSeason">

        <h2>{{ seasonName }} SPランキング</h2>

        <p>
            集計対象コンテスト:<br>
            <b>{{ targetContestFrom.contestName }}</b> ({{ targetContestFrom.beginAt | toDateShort }} 開始) ~
            <b>{{ targetContestTo.contestName }}</b> ({{ targetContestTo.endAt | toDateShort }} 終了)
        </p>

        <h4>競技一覧</h4>
        <p>
            <span ng-repeat="(eid, e) in events">
                <span ng-show="$index != 0"> / </span>
                <a href="#{{ eid | removeHead }}">{{ events[eid].name }}</a>
            </span>
        </p>

        <div ng-repeat="(eid, e) in events">
            <h4 id="{{ eid | removeHead }}"><span class="cubing-icon event-{{ eid | removeHead }}" style="vertical-align: baseline;"></span> {{ events[eid].name }}</h4>

            <table class="table table-bordered tribox-contest ranking">
                <thead>
                    <tr>
                        <th><i class="fa fa-hashtag"></i></th>
                        <th>名前</th>
                        <th>所属</th>
                        <th>SP</th>
                        <th>パズル</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in seasonPointsSorted[eid]">
                        <td>{{ data.rank }}</td>
                        <td>
                            <img src="@routes.Assets.versioned("flags/flags-iso/shiny/24")/{{ data.user.iso2 }}.png" height="24" style="vertical-align: middle;" ng-show="data.user.iso2">
                            <a href="/user/{{ data.user.username }}">{{ data.user.displayname }}</a>
                        </td>
                        <td>{{ data.user.organization }}</td>
                        <td>{{ data.seasonPoint }}</td>
                        <td>
                            <a href="http://store.tribox.com/products/detail.php?product_id={{ data.lastUsedPuzzleId }}" target="_blank" ng-show="data.lastUsedPuzzleId != -1">
                                {{ data.lastUsedPuzzleName }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    @* <!-- 過去シーズン --> *@
    <hr>
    <h3>過去のシーズンのランキング</h3>
    <a class="cursor-pointer btn btn-empty" href="/ranking/20221">2022 前半期</a>
    <a class="cursor-pointer btn btn-empty btn-success" href="/ranking/20212">2021 後半期</a>
    <a class="cursor-pointer btn btn-empty" href="/ranking/20211">2021 前半期</a>
    <a class="cursor-pointer btn btn-empty btn-success" href="/ranking/20202">2020 後半期</a>
    <a class="cursor-pointer btn btn-empty" href="/ranking/20201">2020 前半期</a>
    <a class="cursor-pointer btn btn-empty btn-success" href="/ranking/20192">2019 後半期</a>
    <a class="cursor-pointer btn btn-empty" href="/ranking/20191">2019 前半期</a>
    <a class="cursor-pointer btn btn-empty btn-success" href="/ranking/20182">2018 後半期</a>
    <a class="cursor-pointer btn btn-empty" href="/ranking/20181">2018 前半期</a>
    <a class="cursor-pointer btn btn-empty btn-success" href="/ranking/20172">2017 後半期</a>
    <a class="cursor-pointer btn btn-empty" href="/ranking/20171">2017 前半期</a>
    <a class="cursor-pointer btn btn-empty btn-success" href="/ranking/20162">2016 後半期</a>

    </div></div></div>

    @bodyfooter(contestName)

@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('RankingCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.rankingLoaded = false;
    $scope.existsSeason = false;

    $scope.seasonName = null;
    $scope.targetContestFrom = null;
    $scope.targetContestTo = null;
    $scope.events = null;
    $scope.seasonPointsSorted = null;

    contestRef.child('events').once('value', function(snapEvents) {
        var events = snapEvents.val();

    contestRef.child('users').once('value', function(snapUsers) {
        var users = snapUsers.val();

    contestRef.child('inProgress').once('value', function(snapInProgress) {
        var inProgress = snapInProgress.val();

    contestRef.child('contests').once('value', function(snapContests) {
        var contests = snapContests.val();

        var seasonName = '';
        var targetContests = [];
        var targetContestFrom = '';
        var targetContestTo = '';
        Object.keys(contests).forEach(function(cid) {
            if ('' + contests[cid].year + contests[cid].season == @{sid}) {
                if (cid < inProgress.contest) {
                    targetContests.push(cid);

                    if (targetContestFrom == '' && targetContestTo == '') {
                        targetContestFrom = cid;
                        targetContestTo = cid;
                    } else {
                        if (cid < targetContestFrom) {
                            targetContestFrom = cid;
                        }
                        if (targetContestTo < cid) {
                            targetContestTo = cid;
                        }
                    }

                    if (seasonName == '') {
                        seasonName = contests[cid].year + '年';
                        if (contests[cid].season == 1) {
                            seasonName += ' 前半期';
                        } else if (contests[cid].season == 2) {
                            seasonName += ' 後半期';
                        }
                    }
                }
            }
        });
        if (0 < targetContests.length) {

            var results = {};
            var numResultsFetched = 0;
            targetContests.forEach(function(cid) {
                contestRef.child('results').child(cid).once('value', function(snapResult) {
                    results[cid] = snapResult.val();
                    numResultsFetched++;
                    if (numResultsFetched == targetContests.length) {
                        // Now, All results fetched

                        // シーズンポイント・使用キューブ集計
                        var seasonPoints = {};
                        var usedPuzzles = {};
                        var lastUsedPuzzles = {};
                        Object.keys(events).forEach(function(eid) {
                            seasonPoints[eid] = {};
                            usedPuzzles[eid] = {};
                            lastUsedPuzzles[eid] = {};
                        });
                        Object.keys(results).forEach(function(cid) {
                            Object.keys(results[cid]).forEach(function(eid) {
                                Object.keys(results[cid][eid]).forEach(function(uid) {
                                    if (!(results[cid][eid][uid]._dummy)) {
                                        if (!(uid in seasonPoints[eid])) {
                                            seasonPoints[eid][uid] = 0;
                                            usedPuzzles[eid][uid] = {};
                                        }
                                        if (!(uid in lastUsedPuzzles[eid])) {
                                            lastUsedPuzzles[eid][uid] = 0;
                                        }
                                        if (results[cid][eid][uid].seasonPoint || results[cid][eid][uid].seasonPointVideoBonus) {
                                            // シーズンポイント
                                            if (results[cid][eid][uid].seasonPoint) {
                                                seasonPoints[eid][uid] += results[cid][eid][uid].seasonPoint;
                                            }
                                            // シーズンポイント（ビデオボーナス）
                                            if (results[cid][eid][uid].seasonPointVideoBonus) {
                                                seasonPoints[eid][uid] += results[cid][eid][uid].seasonPointVideoBonus;
                                            }
                                            if (results[cid][eid][uid].puzzle && results[cid][eid][uid].puzzle.type == 'database') {
                                                var productId = results[cid][eid][uid].puzzle.product;
                                                if (!(productId in usedPuzzles[eid][uid])) {
                                                    usedPuzzles[eid][uid][productId] = 0;
                                                }
                                                (usedPuzzles[eid][uid][productId])++;
                                                lastUsedPuzzles[eid][uid] = productId;
                                            }
                                        }
                                    }
                                });
                            });
                        });

                        // 最も使用されたパズル
                        // 同数の場合は productId が大きいパズル
                        var bestUsedPuzzles = {};
                        Object.keys(usedPuzzles).forEach(function(eid) {
                            bestUsedPuzzles[eid] = {};
                            Object.keys(usedPuzzles[eid]).forEach(function(uid) {
                                var bestProductId = -1;
                                var maxCount = -1;
                                Object.keys(usedPuzzles[eid][uid]).forEach(function(productId) {
                                    if (maxCount <= usedPuzzles[eid][uid][productId] && bestProductId < productId) {
                                        bestProductId = productId;
                                        maxCount = usedPuzzles[eid][uid][productId];
                                    }
                                });
                                bestUsedPuzzles[eid][uid] = bestProductId;
                            });
                        });

                        // 配列化・ソート・ランク付け
                        // 0 シーズンポイントのユーザを排除してユーザ情報を入れる
                        var seasonPointsSorted = {};
                        Object.keys(seasonPoints).forEach(function(eid) {
                            // 配列化
                            seasonPointsSorted[eid] = [];
                            Object.keys(seasonPoints[eid]).forEach(function(uid) {
                                if (0 < seasonPoints[eid][uid]) {
                                    var bestUsedPuzzleId = bestUsedPuzzles[eid][uid];
                                    var bestUsedPuzzleName = '';
                                    if (0 < bestUsedPuzzleId) {
                                        bestUsedPuzzleName = TriboxContest.Products[bestUsedPuzzleId];
                                    }
                                    var lastUsedPuzzleId = lastUsedPuzzles[eid][uid];
                                    var lastUsedPuzzleName = '';
                                    if (0 < lastUsedPuzzleId) {
                                        lastUsedPuzzleName = TriboxContest.Products[lastUsedPuzzleId];
                                    }
                                    seasonPointsSorted[eid].push({
                                        'uid': uid, 'seasonPoint': seasonPoints[eid][uid],
                                        'user': users[uid],
                                        'bestUsedPuzzleId': bestUsedPuzzleId,
                                        'bestUsedPuzzleName': bestUsedPuzzleName,
                                        'lastUsedPuzzleId': lastUsedPuzzleId,
                                        'lastUsedPuzzleName': lastUsedPuzzleName
                                    });
                                }
                            });

                            // ソート
                            seasonPointsSorted[eid].sort(function(a, b) {
                                if (a.seasonPoint < b.seasonPoint) return 1;
                                if (a.seasonPoint > b.seasonPoint) return -1;
                                return 0;
                            });

                            // ランク付け
                            var prevSP = -1;
                            var prevRank = -1;
                            seasonPointsSorted[eid].forEach(function(data, index) {
                                if (data.seasonPoint != prevSP) {
                                    seasonPointsSorted[eid][index].rank = index + 1;
                                } else {
                                    seasonPointsSorted[eid][index].rank = prevRank;
                                }
                                prevSP = data.seasonPoint;
                                prevRank = seasonPointsSorted[eid][index].rank;
                            });
                        });

                        $timeout(function() {
                            $scope.rankingLoaded = true;
                            $scope.existsSeason = true;

                            $scope.seasonName = seasonName;
                            $scope.targetContestFrom = contests[targetContestFrom];
                            $scope.targetContestTo = contests[targetContestTo];

                            $scope.events = events;
                            $scope.seasonPointsSorted = seasonPointsSorted;
                        });

                        // ユーザの国籍を非同期に読み込む
                        Object.keys(seasonPointsSorted).forEach(function(eid) {
                            seasonPointsSorted[eid].forEach(function(data, index) {
                                if (wcaRef && data.user.wcaId) {
                                    wcaRef.child('persons').child(data.user.wcaId).once('value', function(snapPerson) {
                                        if (snapPerson.exists()) {
                                            wcaRef.child('countries').child(snapPerson.val().countryId).once('value', function(snapCountry) {
                                                if (snapCountry.exists()) {
                                                    seasonPointsSorted[eid][index].user.iso2 = snapCountry.val().iso2;
                                                    $timeout(function() {
                                                        $scope.seasonPointsSorted = seasonPointsSorted;
                                                    });
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        });

                    }
                });
            });
        } else {
            $timeout(function() {
                $scope.rankingLoaded = true;
            });
        }

    });
    });
    });
    });
}]);
</script>
<script type="text/javascript" src="@routes.DynamicJsController.products"></script>

</div></body>
</html>

}
}
