@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String)

@defining("Regulations") { title =>
@defining(contestUrl + "/regulations") { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)

<style>
@@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.8em;
    }
}
h4 {
    margin-top: 30px;
}
ol, ol li {
    list-style-type: upper-alpha !important;
}
</style>

</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl">
    <div ng-hide="authLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded">

        @authinfo()

        <h2>ルールと詳細情報</h2>

        <h4>tribox コンテストのルール</h4>
        <p>
            競技者本人がスクランブラとジャッジを兼任することができます。<br>
            完成状態やペナルティなどについては最新のWCA規則をご参照ください。<br>
            <a href="https://www.worldcubeassociation.org/regulations/translations/japanese/" target="_blank">https://www.worldcubeassociation.org/regulations/translations/japanese/</a><br>
            パズルに触れた状態でタイマーをスタート・ストップするなど、明らかな反則がある場合は運営者により失格とされる可能性があります。<br>
            可能な限りWCA規則に則った計測を心がけつつ、気楽にお楽しみください。
        </p>

        <h4>抽選ポイントの抽選対象</h4>
        <p>
            毎週抽選で3名様に100ポイントが付与されます (1競技につき3名)。<br>
            抽選対象は、参加者のうち、抽選時に認証されているアカウントです。抽選はコンテスト終了直後に自動的に実行されます。<br>
            複数の競技に参加すると、同時に複数当選する可能性もあります。<br>
            参加者の少ない競技のほうが当選確率が高いので、どんどん新しい競技に挑戦してみてください!<br>
            ※認証アカウントであっても、失格者は抽選対象から除外されます。
        </p>

        <h4>各順位の獲得シーズンポイント</h4>
        <p>
            コンテスト入賞者 (1〜12位) に付与されるシーズンポイントは以下のとおりです。<br>
            1位:20pts、2位:15、3位:12、4位:10、5位:8、6位:7、7位:6、8位:5、9位:4、10位:3、11位:2、12位:1<br>
            シーズンポイントはシーズンランキングを算出するためのポイントで、triboxポイントに変換することはできません。
        </p>

        <h4>シーズン賞金の授与対象</h4>
        <p>
            シーズンランキング1位〜3位には、競技ごとに設定された賞金 (triboxポイント) が授与されます。<br>
            ただしネットコンテストの性質上、以下の参加者はシーズン賞金の授与対象から除外されます。
        </p>
        <ol>
            <li>未認証アカウント</li>
            <li>WCA公式大会未参加者 (C.について検証できないため)</li>
            <li>WCA公式記録と本コンテストでの記録の差異が大きい参加者</li>
            <li>連絡がつかない参加者</li>
            <li>この他の理由で入賞者として不的確と運営者が判断した参加者</li>
        </ol>

        <h4>ビデオ</h4>
        <p>
            開催中のコンテストについて、マイページの参加履歴からビデオを登録することができます。<br>
            YouTubeなどに計測の様子をアップロードして、ぜひURLをご登録ください。<br>
            登録されたURLはリザルトページに掲載されます。なお過去のコンテストのビデオを登録することはできません。
        </p>

    </div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
}
