@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String, firebaseappContestApikey: String, firebaseappContestMessagingsenderid: String)

@defining("Regulations") { title =>
@defining(contestUrl + "/regulations") { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl)

@basejs(firebaseappContest, firebaseappContestApikey, firebaseappContestMessagingsenderid)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)

<style>
@@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.8em;
    }
}
h4 {
    margin-top: 30px;
}
ol.alpha,
ol.alpha li {
    list-style-type: upper-alpha !important;
}

p {
    line-height: 1.6em;
}
</style>

</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl">
    <div ng-hide="authLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded">

        @authinfo()

        <h2>参加方法とルール</h2>

        <p>
            ルールや各種ポイント、賞金の授与対象などはシーズン中に変更される可能性があります。<br>
            重大な変更がある場合は<a href="https://twitter.com/triboxContest"</a>twitter</a>などで告知致します。
        </p>

        <hr>

        <h4>競技が始まるまでの流れ</h4>
        <p>
            トップページの「参加する」から各種目に参加します。<br>
            <br>
            ・コンテストタイマーを使用して計測する<br>
            　トリコンの内蔵タイマーでタイムを測定するモードです。<br>
            　画面のタップまたはスペースキーのみで操作することができます。<br>
            　※PCをお使いの場合、必ず半角入力モードでご利用ください。<br>
            　※操作ミスにご注意ください。<a href="/demo/timer">練習用タイマー</a>で練習しておくと安心です。<br>
            ・タイムを手入力する<br>
            　別途、専用タイマーなどでタイムを測定し、トリコンに手入力するモードです。<br>
            　初参加の際は手入力モードのほうが安心かもしれません。
        </p>

        <h4>競技の流れ</h4>
        <p>
            トリコンの競技の流れは、「スクランブル」→「インスペクション」→「ソルブ」です。<br>
            <br>
            ・スクランブル: パズルを崩す<br>
            　白面を上、緑面を前にしてパズルを持ち、「回転記号」に従って崩します。<br>
            　回転記号の読み方については<a href="https://tribox.com/3x3x3/solution/notation/">tribox.com</a>や<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/#article-4-scrambling">WCA</a>でご確認ください。<br>
            　公式大会とは異なり、トリコンでは参加者本人がスクランブルを行います。<br>
            　もちろん、ご友人や保護者の方がスクランブルを行っても構いません。<br>
            ・インスペクション: 最初の数手を読む<br>
            　タイマースタートの前に、15秒間だけパズルを観察することができます。<br>
            　ここで、たとえば「クロスの4パーツをどの順番で揃えるか」を考えます。<br>
            ・ソルブ: パズルを揃える<br>
            　これは皆さんにとっては簡単ですね。
        </p>

        <h4>ルールを守って楽しくトリコン&#x1f917;</h4>
        <p>
            トリコンでは、競技者本人がスクランブラとジャッジを兼任することができます。<br>
            可能な限りWCA大会規則に則った計測を心がけつつ、気楽にお楽しみください。<br>
            ペナルティなどについてわからないことがあるときは<a href="https://www.worldcubeassociation.org/regulations/translations/japanese/" target="_blank" rel="noopener noreferrer">WCA大会規則</a>をご参照ください。<br>
            <br>
            ただし、上位者の真剣な勝負を阻害しないよう、入賞者の記録については厳しく取り扱います。<br>
            不正な記録で入賞した場合、記録は削除され、アカウントが抹消される場合があります。ご注意ください。
        </p>

        <h4>制限タイム</h4>
        <p>
            種目によって制限タイムが異なります。<br>
            3×3×3 最少手数以外: 9:59.999 (およそ10分)<br>
            3×3×3 最少手数: 1時間（制限タイム終了後、別途解答記述時間が与えられます。）
        </p>

        <hr>

        <h4>ビデオ</h4>
        <p>
            開催中のコンテストのみ、マイページの「参加履歴」からビデオを登録することができます (任意)。<br>
            YouTubeなどに計測の様子をアップロードして、URLをご登録ください。<br>
            登録されたURLはリザルトページに掲載されます。なお過去のコンテストのビデオを登録することはできません。<br>
            <br>
            SPランキングの上位者については、実力を確認するためにビデオの提出をお願いすることがあります。<br>
            ビデオの提出ができない場合、またはビデオ撮影時のみ著しく記録が悪い場合は、記録は削除され、アカウントが抹消される場合があります。ご注意ください。
        </p>

        <hr>

        <h4>入賞賞金の授与対象</h4>
        <p>
            シーズンランキング1位〜3位には、種目ごとに設定された賞金 (triboxポイント) が授与されます。<br>
            ただしネットコンテストの性質上、以下の参加者はシーズン賞金の授与対象から除外されます。
        </p>
        <ol class="alpha">
            <li>ストア&コンテスト連携が完了していない参加者</li>
            <li>WCA ID 未登録の参加者 (記録の検証ができないため)</li>
            <li>WCA公式記録とトリコンでの記録の差異が大きいなどの理由で、不正が疑われると判断された参加者</li>
            <li>連絡がつかない参加者</li>
            <li>この他の理由で入賞者として不的確であると判断された参加者</li>
        </ol>

    </div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
}
