@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String)

@defining("Username Setting") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title=title, description=contestDescription, sitename=contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout=routes.HomeController.index.toString(), checkFirst=true)
<script>
app.controller('AuthUsernameCtrl', ['$scope', '$timeout', 'Auth', function($scope, $timeout, Auth) {
    $scope.settingLoaded = false;

    Auth.$onAuth(function(authData) {
        if (!authProcessing) {
            if (authData) {
                contestRef.child('users').child(authData.uid).once('value', function(snapUser) {
                    $timeout(function() {
                        $scope.oldUsername = snapUser.val().username;
                        $scope.settingLoaded = true;
                    });
                });
            } else {
                location.href = '@routes.HomeController.index?logout=1';
            }
        }
    });

    $scope.changeUsername = function() {
        $scope.message = null;
        $scope.error = null;
        var authData = firebase.auth().currentUser;

        var _oldUsername = $scope.oldUsername;
        var _newUsername = $scope.newUsername;

        if (authData) {
            if (_oldUsername == _newUsername) {
                $scope.error = '現在のユーザIDと新しいユーザIDが同じです。';
                return;
            }
            // ユーザID、使用文字と長さチェック
            if (!_newUsername || !(_newUsername.match(/^[a-zA-Z0-9_]{1,15}$/))) {
                $scope.error = 'ユーザIDが不正なフォーマットです (英数字 1文字以上 15文字以内)。';
                return;
            }

            // ユーザ名テーブルをまるごと読み込む
            contestRef.child('usernames').once('value', function(snapUsernames) {
                var Usernames = snapUsernames.val();
                var exists = false;

                // 変更できる条件は以下の通り
                //   * Case無視で誰も使用していない文字列
                //   * 自分が過去/現在に使用していたcase無視文字列
                var _newUsernameLower = _newUsername.toLowerCase();
                Object.keys(Usernames).forEach(function(username) {
                    var usernameLower = username.toLowerCase();
                    if (_newUsernameLower == usernameLower && authData.uid != Usernames[username].uid) {
                        exists = true;
                        $timeout(function() {
                            $scope.error = 'ユーザID "' + _newUsername + '" はすでに使用されています。';
                        });
                    }
                });
                if (!exists) {
                    // 新規ユーザ名
                    if (!(_newUsername in Usernames)) {
                        // 新しいユーザIDなので usernames に追加して users + usersecrets を書き換える
                        contestRef.child('usernames').child(_newUsername).set({
                            'uid': authData.uid,
                            'createdAt': Firebase.ServerValue.TIMESTAMP,
                            'disabledAt': null
                        }, function(error) {
                            if (error) {
                                console.error(error);
                            } else {
                                contestRef.child('users').child(authData.uid).update({
                                    'username': _newUsername
                                }, function(error) {
                                    if (error) {
                                        console.error(error);
                                    } else {
                                        // 旧ユーザ名を無効にする
                                        contestRef.child('usernames').child(_oldUsername).update({
                                            'disabledAt': Firebase.ServerValue.TIMESTAMP
                                        }, function(error) {
                                            if (error) {
                                                console.error(error);
                                            } else {
                                                contestRef.child('usersecrets').child(authData.uid).update({
                                                    'usernameChangedAt': Firebase.ServerValue.TIMESTAMP
                                                }, function(error) {
                                                    if (error) {
                                                        console.error(error);
                                                    } else {
                                                        console.log('Completed updating!');
                                                        location.href = '@routes.SettingController.setting';
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                    // 既存ユーザ名
                    else {
                        // 以前使用していたユーザIDなので usernames を再有効にして users + usersecrets を書き換える
                        contestRef.child('usernames').child(_newUsername).update({
                            'disabledAt': null
                        }, function(error) {
                            if (error) {
                                console.error(error);
                            } else {
                                contestRef.child('users').child(authData.uid).update({
                                    'username': _newUsername
                                }, function(error) {
                                    if (error) {
                                        console.error(error);
                                    } else {
                                        // 旧ユーザ名を無効にする
                                        contestRef.child('usernames').child(_oldUsername).update({
                                            'disabledAt': Firebase.ServerValue.TIMESTAMP
                                        }, function(error) {
                                            if (error) {
                                                console.error(error);
                                            } else {
                                                contestRef.child('usersecrets').child(authData.uid).update({
                                                    'usernameChangedAt': Firebase.ServerValue.TIMESTAMP
                                                }, function(error) {
                                                    if (error) {
                                                        console.error(error);
                                                    } else {
                                                        console.log('Completed updating!');
                                                        location.href = '@routes.SettingController.setting';
                                                    }
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                }
            });

        } else {
            location.href = '@routes.HomeController.index?logout=1';
        }
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthUsernameCtrl">
    <div ng-hide="authLoaded && settingLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && settingLoaded">

        @authinfo()

        <h2>ユーザID変更</h2>

        <p>
            1文字以上15文字以内で設定してください。<br>
            <a href="https://ja.wikipedia.org/wiki/ISO%E5%9F%BA%E6%9C%AC%E3%83%A9%E3%83%86%E3%83%B3%E3%82%A2%E3%83%AB%E3%83%95%E3%82%A1%E3%83%99%E3%83%83%E3%83%88">ISO基本ラテンアルファベット</a>、
            数字、記号（アンダーバー）のみ使用できます。<br>
            他のアカウントのユーザIDと重複できません。
        </p>

        <form name="usernameForm" ng-submit="changeUsername()">
            @* <!--<div class="color-dark margin-bottom-20"ng-if="message">
                Message: {{ message }}
            </div>--> *@
            <div class="color-error margin-bottom-20" ng-if="error">
                エラー: {{ error }}
            </div>

            <div>
                <label>現在のユーザID</label>
                <input class="form-control" type="text" ng-model="oldUsername" readonly="readonly" disabled="disabled">
            </div>
            <div>
                <label>新しいユーザID</label>
                <input class="form-control" type="text" ng-model="newUsername">
            </div>

            <input class="btn" type="submit" value="ユーザIDを変更する">
        </form>

    </div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
