@(contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Password Setting") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout=routes.HomeController.index.toString(), checkFirst=true)
<script>
app.controller('AuthPasswordCtrl', ['$scope', 'Auth', function($scope, Auth) {
    Auth.$onAuth(function(authData) {
        if (!processing) {
            if (authData) {
                $scope.email = authData.password.email;
            } else {
                location.href = '@routes.HomeController.index';
            }
        }
    });

    $scope.changePassword = function() {
        $scope.message = null;
        $scope.error = null;

        var _email = $scope.email;
        var _oldPassword = $scope.oldPassword;
        var _newPassword = $scope.newPassword;
        Auth.$changePassword({
            email: _email,
            oldPassword: _oldPassword,
            newPassword: _newPassword
        }).then(function() {
            $scope.message = 'Password changed successfully!';
            processing = true;
            Auth.$unauth();
            Auth.$authWithPassword({
                email: _email,
                password: _newPassword
            }).then(function(authData) {
                $scope.message = 'Logged in as: ' + authData.uid;
                location.href = '@routes.HomeController.index';
            }).catch(function(error) {
                $scope.error = error;
            });
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthPasswordCtrl">
        @authinfo()

        <h2>パスワード設定</h2>

        <p ng-if="status">Auth status: <strong>{{ status }}</strong></p>

        <form name="passwordForm" ng-submit="changePassword()">
            @* <!--<div class="color-dark margin-bottom-20"ng-if="message">
                Message: {{ message }}
            </div>--> *@
            <div class="color-error margin-bottom-20" ng-if="error">
                入力エラー: {{ error }}
            </div>

            <div>
                <label>メールアドレス</label>
                <input class="form-control" type="email" ng-model="email" readonly="readonly">
            </div>
            <div>
                <label>現在のパスワード</label>
                <input class="form-control" type="password" ng-model="oldPassword">
            </div>
            <div>
                <label>新しいパスワード</label>
                <input class="form-control" type="password" ng-model="newPassword">
            </div>
            <div>
                <label>新しいパスワード（再度入力）</label>
                <input class="form-control" type="password" ng-model="newPasswordRe">
            </div>

            <input class="btn" type="submit" value="パスワードを変更する">

        </form>
    </div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
