@(contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Setting") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout=routes.HomeController.index.toString(), checkFirst=true)
<script>
app.controller('AuthSettingCtrl', ['$scope', '$firebaseObject', 'Auth', function($scope, $firebaseObject, Auth) {
    $scope.authData = null;
    $scope.userData = null;
    $scope.usersecretData = null;

    Auth.$onAuth(function(authData) {
        if (authData) {
            $scope.authData = authData;
            $scope.userData = $firebaseObject(contestRef.child('users').child(authData.uid));
            $scope.usersecretData = $firebaseObject(contestRef.child('usersecrets').child(authData.uid));
        } else {
            $scope.authData = null;
            $scope.userData = null;
            $scope.usersecretData = null;
        }
    });
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthSettingCtrl">
        @authinfo()

        <h2>設定</h2>

        <form>
            <table class="settings">
                <tr>
                    <th><label>メールアドレス</label></th>
                    <td>{{ authData.password.email }} <a href="/setting/email">変更する</a></td>
                </tr>
                <tr>
                    <th><label>パスワード</label></th>
                    <td>******** <a href="/setting/password">変更する</a></td>
                </tr>
                <tr>
                    <th><label>ユーザ名</label></th>
                    <td>{{ userData.username }} <a href="#">変更する</a></td>
                </tr>
                <tr>
                    <th><label>表示名<label></th>
                    <td><input class="form-control" type="text" ng-model="userData.displayname"></td>
                </tr>
                <tr>
                    <th><label>所属</label></th>
                    <td><input class="form-control" type="text" ng-model="userData.organization"></td>
                </tr>
                <tr>
                    <th><label>WCA ID</label></th>
                    <td><input class="form-control" type="text" ng-model="userData.wcaId"></td>
                </tr>
                <tr>
                    <th><label>Twitter ID</label></th>
                    <td><input class="form-control" type="text" ng-model="userData.twitterId"></td>
                </tr>
                <tr>
                    <th><label>自己紹介</label></th>
                    <td><textarea class="form-control" ng-model="userData.bio"></textarea></td>
                </tr>
                <tr>
                    <th>認証アカウント</th>
                    <td ng-if="userData.isTriboxCustomer == true">Yes <a href="#">解除する</a></td>
                    <td ng-if="userData.isTriboxCustomer != true">No <a href="#">認証する</a></td>
                </tr>
                <tr>
                    <th>スポンサーアカウント</th>
                    <td ng-if="userData.isTriboxTeam == true">Yes</td>
                    <td ng-if="userData.isTriboxTeam != true">No</td>
                </tr>
            </table>
            <input class="btn" type="submit" value="更新">
        </form>
    </div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
