@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String)

@defining("Password Setting") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title=title, description=contestDescription, sitename=contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout=routes.HomeController.index.toString(), checkFirst=true)
<script>
app.controller('AuthPasswordCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.settingLoaded = false;

    Auth.$onAuth(function(authData) {
        if (!authProcessing) {
            if (authData) {
                $scope.email = authData.password.email;
                $scope.settingLoaded = true;
            } else {
                location.href = '@routes.HomeController.index';
            }
        }
    });

    $scope.changePassword = function() {
        $scope.message = null;
        $scope.error = null;

        var _email = $scope.email;
        var _oldPassword = $scope.oldPassword;
        var _newPassword = $scope.newPassword;
        var _newPasswordRe = $scope.newPasswordRe;

        if (_newPassword != _newPasswordRe) {
            $scope.error = '「新しいパスワード」と「新しいパスワード (再度入力)」が一致しません。';
            return;
        }

        Auth.$changePassword({
            email: _email,
            oldPassword: _oldPassword,
            newPassword: _newPassword
        }).then(function() {
            $scope.message = 'Password changed successfully!';
            authProcessing = true;
            Auth.$unauth();
            Auth.$authWithPassword({
                email: _email,
                password: _newPassword
            }).then(function(authData) {
                contestRef.child('usersecrets').child(authData.uid).update({
                    'passwordChangedAt': Firebase.ServerValue.TIMESTAMP
                }, function(error) {
                    if (error) {
                        console.error(error);
                    } else {
                        $scope.message = 'Logged in as: ' + authData.uid;
                        location.href = '@routes.SettingController.setting';
                    }
                });
            }).catch(function(error) {
                $scope.error = TriboxContest.convErrorCodesAlt(error.code);
            });
        }).catch(function(error) {
            $scope.error = TriboxContest.convErrorCodesAlt(error.code);
        });
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthPasswordCtrl">
    <div ng-hide="authLoaded && settingLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && settingLoaded">

        @authinfo()

        <h2>パスワード設定</h2>

        <p ng-if="status">Auth status: <strong>{{ status }}</strong></p>

        <form name="passwordForm" ng-submit="changePassword()">
            @* <!--<div class="color-dark margin-bottom-20"ng-if="message">
                Message: {{ message }}
            </div>--> *@
            <div class="color-error margin-bottom-20" ng-if="error">
                エラー: {{ error }}
            </div>

            <div>
                <label>メールアドレス</label>
                <input class="form-control" type="email" ng-model="email" readonly="readonly" disabled="disabled">
            </div>
            <div>
                <label>現在のパスワード</label>
                <input class="form-control" type="password" ng-model="oldPassword">
            </div>
            <div>
                <label>新しいパスワード</label>
                <input class="form-control" type="password" ng-model="newPassword">
            </div>
            <div>
                <label>新しいパスワード (再度入力)</label>
                <input class="form-control" type="password" ng-model="newPasswordRe">
            </div>

            <input class="btn" type="submit" value="パスワードを変更する">

        </form>

    </div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
