@(contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String, firebaseappContestApikey: String, firebaseappContestMessagingsenderid: String)

@defining("Email Setting") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title=title, description=contestDescription, sitename=contestName)

@basejs(firebaseappContest, firebaseappContestApikey, firebaseappContestMessagingsenderid)
@authjs(redirectLogin="", redirectLogout=routes.HomeController.index.toString(), checkFirst=true)
<script>
app.controller('AuthEmailCtrl', ['$scope', 'Auth', function($scope, Auth) {
    $scope.settingLoaded = false;

    Auth.$onAuthStateChanged(function(authData) {
        if (!authProcessing) {
            if (authData) {
                $scope.oldEmail = authData.email;
                $scope.settingLoaded = true;
            } else {
                location.href = '@routes.HomeController.index';
            }
        }
    });

    $scope.changeEmail = function() {
        $scope.message = null;
        $scope.error = null;

        var _oldEmail = $scope.oldEmail;
        var _newEmail = $scope.newEmail;
        //var _password = $scope.password;

        if (_oldEmail == _newEmail) {
            $scope.error = '現在のメールアドレスと新しいメールアドレスが同じです。';
            return;
        }

        Auth.$updateEmail(_newEmail).then(function() {
            $scope.message = 'Email changed successfully!';
            authProcessing = true;
            location.href = '@routes.SettingController.setting';
        }).catch(function(error) {
            //console.error(error);
            $scope.error = 'メールアドレス変更できません。';
        });

        /*Auth.$changeEmail({
            oldEmail: _oldEmail,
            newEmail: _newEmail,
            password: _password
        }).then(function() {
            $scope.message = 'Email changed successfully!';
            authProcessing = true;
            Auth.$signOut();
            Auth.$authWithPassword({
                email: _newEmail,
                password: _password
            }).then(function(authData) {
                contestRef.child('usersecrets').child(authData.uid).update({
                    'emailChangedAt': Firebase.ServerValue.TIMESTAMP
                }, function(error) {
                    if (error) {
                        console.error(error);
                    } else {
                        $scope.message = 'Logged in as: ' + authData.uid;
                        location.href = '@routes.SettingController.setting';
                    }
                });
            }).catch(function(error) {
                $scope.error = TriboxContest.convErrorCodesAlt(error.code);
            });
        }).catch(function(error) {
            $scope.error = TriboxContest.convErrorCodesAlt(error.code);
        });*/
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="AuthEmailCtrl">
    <div ng-hide="authLoaded && settingLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && settingLoaded">

        @authinfo()

        <h2>メールアドレス設定</h2>

        <form name="emailForm" ng-submit="changeEmail()">
            @* <!--<div class="color-dark margin-bottom-20"ng-if="message">
                Message: {{ message }}
            </div>--> *@
            <div class="color-error margin-bottom-20" ng-if="error">
                エラー: {{ error }}
            </div>

            <div>
                <label>現在のメールアドレス</label>
                <input class="form-control" type="email" ng-model="oldEmail" readonly="readonly" disabled="disabled">
            </div>
            <div>
                <label>新しいメールアドレス</label>
                <input class="form-control" type="email" ng-model="newEmail">
            </div>
            <!--<div>
                <label>パスワード</label>
                <input class="form-control" type="password" ng-model="password">
            </div>-->

            <input class="btn" type="submit" value="メールアドレスを変更する">

        </form>

    </div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
