@(contestName: String, contestUrl: String, firebaseappContest: String)

@defining("Setting") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout=routes.HomeController.index.toString(), checkFirst=true)
<script>
app.controller('AuthSettingCtrl', ['$scope', '$firebaseObject', 'Auth', function($scope, $firebaseObject, Auth) {
    $scope.authData = null;
    $scope.userData = null;
    $scope.usersecretData = null;

    Auth.$onAuth(function(authData) {
        if (authData) {
            $scope.authData = authData;
            $scope.userData = $firebaseObject(contestRef.child('users').child(authData.uid));
            $scope.usersecretData = $firebaseObject(contestRef.child('usersecrets').child(authData.uid));
        } else {
            $scope.authData = null;
            $scope.userData = null;
            $scope.usersecretData = null;
        }
    });
}]);

app.controller('AuthEmailCtrl', ['$scope', 'Auth', function($scope, Auth) {
    Auth.$onAuth(function(authData) {
        if (authData) {
            $scope.oldEmail = authData.password.email;
        } else {
            location.href = '@routes.HomeController.index';
        }
    });

    $scope.changeEmail = function() {
        $scope.message = null;
        $scope.error = null;

        var _oldEmail = $scope.oldEmail;
        var _newEmail = $scope.newEmail;
        var _password = $scope.password;
        Auth.$changeEmail({
            oldEmail: _oldEmail,
            newEmail: _newEmail,
            password: _password
        }).then(function() {
            $scope.message = 'Email changed successfully!';
            Auth.$unauth();
            Auth.$authWithPassword({
                email: _newEmail,
                password: _password
            }).then(function(authData) {
                $scope.message = 'Logged in as: ' + authData.uid;
                location.href = '@routes.HomeController.index';
            }).catch(function(error) {
                $scope.error = error;
            });
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);

app.controller('AuthPasswordCtrl', ['$scope', 'Auth', function($scope, Auth) {
    Auth.$onAuth(function(authData) {
        if (authData) {
            $scope.email = authData.password.email;
        } else {
            location.href = '@routes.HomeController.index';
        }
    });

    $scope.changePassword = function() {
        $scope.message = null;
        $scope.error = null;

        var _email = $scope.email;
        var _oldPassword = $scope.oldPassword;
        var _newPassword = $scope.newPassword;
        Auth.$changePassword({
            email: _email,
            oldPassword: _oldPassword,
            newPassword: _newPassword
        }).then(function() {
            $scope.message = 'Password changed successfully!';
            Auth.$unauth();
            Auth.$authWithPassword({
                email: _email,
                password: _newPassword
            }).then(function(authData) {
                $scope.message = 'Logged in as: ' + authData.uid;
                location.href = '@routes.HomeController.index';
            }).catch(function(error) {
                $scope.error = error;
            });
        }).catch(function(error) {
            $scope.error = error;
        });
    };
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl">
        <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
        <p ng-if="isTemporaryPassword" style="color:#f00">Please change pasword!</p>
        <p>authData:</p><pre>{{ authData | json }}</pre>
        <p>userData:</p><pre>{{ userData | json }}</pre>
        <p>usersecretData:</p><pre>{{ usersecretData | json }}</pre>
    </div>

    <div ng-controller="AuthSettingCtrl">
        <table>
            <tr>
                <th>メールアドレス</th>
                <td>{{ authData.password.email }} <a href="#">変更する</a></td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>******** <a href="#">変更する</a></td>
            </tr>
            <tr>
                <th>ユーザ名</th>
                <td>{{ userData.username }} <a href="#">変更する</a></td>
            </tr>
            <tr>
                <th>表示名</th>
                <td><input type="text" ng-model="userData.displayname"></td>
            </tr>
            <tr>
                <th>所属</th>
                <td><input type="text" ng-model="userData.organization"></td>
            </tr>
            <tr>
                <th>WCA ID</th>
                <td><input type="text" ng-model="userData.wcaId"></td>
            </tr>
            <tr>
                <th>Twitter ID</th>
                <td><input type="text" ng-model="userData.twitterId"></td>
            </tr>
            <tr>
                <th>自己紹介</th>
                <td><textarea ng-model="userData.bio"></textarea></td>
            </tr>
            <tr>
                <th>スポンサーアカウント</th>
                <td>{{ userData.isTriboxTeam }}</td>
            </tr>
            <tr>
                <th>認証アカウント</th>
                <td>{{ userData.isTriboxCustomer }} <a href="#">変更する</a></td>
            </tr>
        </table>
    </div>

    <div ng-controller="AuthEmailCtrl">
        Current email: <input type="email" ng-model="oldEmail" readonly="readonly"><br>
        New email: <input type="email" ng-model="newEmail"><br>
        Password: <input type="password" ng-model="password"><br>

        <button ng-click="changeEmail()">Change email</button><br>

        <p ng-if="message">Message: <strong>{{ message }}</strong></p>
        <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
    </div>

    <div ng-controller="AuthPasswordCtrl">
        <p ng-if="status">Auth status: <strong>{{ status }}</strong></p>

        Email: <input type="email" ng-model="email" readonly="readonly"><br>
        Current Password: <input type="password" ng-model="oldPassword"><br>
        New Password: <input type="password" ng-model="newPassword"><br>
        Retype New Password: <input type="password" ng-model="newPasswordRe"><br>

        <button ng-click="changePassword()">Change password</button><br>

        <p ng-if="message">Message: <strong>{{ message }}</strong></p>
        <p ng-if="error">Error: <strong style="color:#f00;">{{ error }}</strong></p>
    </div>

    @bodyfooter(contestName)
</div></body>
</html>

}
