@(id: String, contestName: String, contestUrl: String, firebaseappContest: String)

@defining("User: " + id) { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
    <head>
        @header(title, contestName)

@basejs(firebaseappContest)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('UserCtrl', ['$scope', '$firebaseObject', function($scope, $firebaseObject) {
    $scope.userData = null;
    // Fetch usernames data
    contestRef.child('usernames').child('@id').once('value', function(snapUsername) {
        if (snapUsername.exists() && snapUsername.val().uid != null && snapUsername.val()._dummy == null) {
            // Fetch user data
            $scope.userData = $firebaseObject(contestRef.child('users').child(snapUsername.val().uid));
        } else {
            console.error('Invalid: username (@id)');
        }
    }, function(error) {
        console.error(error);
    });
}]);
</script>
    </head>
    <body>
        @bodyheader(title, contestName)

        <div ng-controller="AuthCtrl">
            <p ng-if="message">Auth status: <strong>{{ message }}</strong></p>
            <p ng-if="isTemporaryPassword" style="color:#f00">Please change pasword!</p>
            <p>authData:</p><pre>{{ authData | json }}</pre>
            <p>userData:</p><pre>{{ userData | json }}</pre>
            <p>usersecretData:</p><pre>{{ usersecretData | json }}</pre>
        </div>

        <hr>

        <div ng-controller="UserCtrl">
            <p>@id -> userData:</p>
            <pre>{{ userData | json }}</pre>
        </div>

        @bodyfooter(contestName)
    </body>
</html>

}
