@(id: String, products: List[Product], contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String)

@defining(id) { title =>
@defining(contestUrl + "/user/" + id) { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl)

@basejs(firebaseappContest)
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="UserCtrl">
    <div ng-hide="authLoaded && userLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && userLoaded">

    <div ng-hide="existsUser">
        <p class="color-error">
            存在しないユーザ名です。
        </p>
    </div>

    <div ng-show="existsUser">

        @authinfo()

        <h2>{{ thisUserData.displayname }} (@id) <i class="fa fa-check-circle" style="color: #3498DB;" title="認証済みアカウント" ng-if="thisUserData.isTriboxCustomer"></i></h2>

        <table class="profile">
            <tbody>
                <tr>
                    <th>所属</th>
                    <td>{{ thisUserData.organization }}</td>
                </tr>
                <tr ng-show="thisUserData.wcaId">
                    <th>WCA</th>
                    <td><a href="https://www.worldcubeassociation.org/results/p.php?i={{ thisUserData.wcaId }}" target="_blank">{{ thisUserData.wcaId }}</a></td>
                </tr>
                <tr ng-show="thisUserData.twitterId">
                    <th>Twitter</th>
                    <td><a href="https://twitter.com/{{ thisUserData.twitterId }}" target="_blank">@@{{ thisUserData.twitterId }}</a></td>
                </tr>
                <tr ng-show="thisUserData.bio">
                    <th>自己紹介</th>
                    <td>{{ thisUserData.bio }}</td>
                </tr>
            </tbody>
        </table>

        <h3>今シーズンのコンテスト参加履歴</h3>

        <p>
            <span ng-repeat="toc in tocHtml">
                <span ng-show="$index != 0"> / </span>
                <a href="#{{ toc.eid }}">{{ toc.name }}</a>
            </span>
        </p>

        <p>
            <i class="fa fa-star color-star"></i>: 当選ポイント獲得
        </p>

        <div ng-repeat="(eid, e) in history">
            <h4 id="{{ eid }}">{{ events[eid].name }}</h4>

            <table class="table table-striped result">
                <thead>
                    <tr>
                        <th></th>
                        <th>順位</th>
                        <th>獲得SP</th>
                        <th ng-if="eid != 'e333fm' && events[eid].method == 'average'">平均記録</th>
                        <th ng-if="eid != 'e333fm' && events[eid].method == 'best'">最高記録</th>
                        <th ng-if="eid == 'e333fm'">記録</th>
                        <th ng-if="eid != 'e333fm'">個々の記録</th>
                        <th ng-if="eid == 'e333fm'">解答・コメント</th>
                        <th>使用キューブ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="{{ eid }}-{{ c.contestId }}" ng-repeat="c in e | orderBy:'-contestId'">
                        <td><a href="/contest/result/{{ c.contestId }}/{{ eid | removeHead }}">第{{ c.contest.number }}回</a></td>
                        <td>{{ c.result.place }} <i class="fa fa-star color-star" ng-if="c.result.lottery"></i></td>
                        <td ng-if="c.result.seasonPoint && c.result.seasonPoint != 0">{{ c.result.seasonPoint }}</td>
                        <td ng-if="!(c.result.seasonPoint) || c.result.seasonPoint == 0"></td>
                        <td>{{ c.result.resultF }}</td>
                        <td ng-if="eid != 'e333fm'">{{ c.result.detailsF }}</td>
                        <td ng-if="eid == 'e333fm'" id="e333fm-{{ c.contestId }}-show"><a class="cursor-pointer" ng-click="showDetail(c.contestId)">表示</a></td>
                        <td ng-show="c.result.puzzle.type == 'database'">
                            <a href="http://store.tribox.com/products/detail.php?product_id={{ c.result.puzzle.product }}" target="_blank">{{ c.result.puzzleF }}</a>
                        </td>
                        <td ng-show="c.result.puzzle.type == 'nodatabase' || c.result.puzzle.type == 'unknown'">
                            {{ c.result.puzzleF }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        @* <!--<p>@id -> thisUserData:</p>
        <pre>{{ thisUserData | json }}</pre>
        <p>@id -> thisUsername:</p>
        <pre>{{ thisUsername | json }}</pre>--> *@

        @* <!--<p>history:</p>
        <pre>{{ history | json }}</pre>--> *@
        @* <!--<p>tocHtml:</p>
        <pre>{{ tocHtml | json }}</pre>--> *@

        @* <!--<p>events:</p>
        <pre>{{ events | json }}</pre>--> *@

        @* <!--<p>contests:</p>
        <pre>{{ contests | json }}</pre>--> *@

        @* <!--<p>authData:</p>
        <pre>{{ authData | json }}</pre>
        <p>userData:</p>
        <pre>{{ userData | json }}</pre>
        <p>usersecretData:</p>
        <pre>{{ usersecretData | json }}</pre>--> *@

    </div></div></div></div>

    @bodyfooter(contestName)

@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('UserCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.thisUserData = null;
    $scope.thisUsername = null;
    $scope.userLoaded = false;
    $scope.existsUser = false;

    $scope.events = null;
    $scope.contests = null;
    $scope.contestsArray = [];
    $scope.history = {};
    $scope.tocHtml = [];

    contestRef.child('usernames').child('@id').once('value', function(snapUsername) {
        if (snapUsername.exists() && snapUsername.val().uid != null && snapUsername.val()._dummy == null && !(snapUsername.val().disabledAt)) {
            var userId = snapUsername.val().uid;

            contestRef.child('users').child(userId).once('value', function(snapUser) {
                var user = snapUser.val();

                contestRef.child('events').once('value', function(snapEvents) {
                    var events = snapEvents.val();

                    contestRef.child('contests').once('value', function(snapContests) {
                        var contests = snapContests.val();

                        contestRef.child('userhistories').child(userId).once('value', function(snapUserhistories) {
                            var userHistories = snapUserhistories.val();

                            Object.keys(events).forEach(function(eid) {
                                Object.keys(contests).forEach(function(cid) {
                                    if (cid in userHistories && eid in userHistories[cid] && userHistories[cid][eid].hasCompeted == true) {
                                        contestRef.child('results').child(cid).child(eid).child(userId).once('value', function(snapResult) {
                                            var result = snapResult.val();
                                            if (!(result._dummy) && result.endAt) {
                                                result.resultF = TriboxContest.formatResult(result, eid, events);
                                                result.detailsF = TriboxContest.formatDetails(result, eid, events);
                                                result.puzzleF = TriboxContest.formatPuzzle(result);
                                                $timeout(function() {
                                                    if (!(eid in $scope.history)) {
                                                        $scope.history[eid] = [];
                                                        $scope.tocHtml.push({ 'eid': eid, 'name': events[eid].name });
                                                    }
                                                    $scope.history[eid].push({ 'contestId': contests[cid].contestId, 'contest': contests[cid], 'result': result });
                                                });
                                            }
                                        });
                                    }
                                });
                            });

                            $timeout(function() {
                                $scope.thisUserData = snapUser.val();
                                $scope.thisUsername = snapUsername.val();
                                $scope.events = events;
                                $scope.contests = contests;
                                $scope.userLoaded = true;
                                $scope.existsUser = true;
                                Object.keys(contests).forEach(function(cid) {
                                    $scope.contestsArray.push(contests[cid]);
                                });
                            });

                        });
                    });
                });
            });

        } else {
            console.error('Invalid username: @id');
            $scope.userLoaded = true;
        }
    }, function(error) {
        console.error(error);
    });

    $scope.showDetail = function(contestId) {
        //console.log(contestId);

        var r;
        $scope.history['e333fm'].forEach(function(c) {
            if (c.contestId == contestId) {
                r = c.result;
                return;
            }
        });
        var html = '<tr id="fmc-detail-' + contestId + '" class="fmc-detail"><td colspan="6">'
                 + '<p><b>解答:</b><br>' + TriboxContest.escapeHTML(r.details[0].solution) + '</p>'
                 + '<p><b>コメント:</b><br>' + TriboxContest.escapeHTML(r.details[0].note) + '</p>'
                 + '</tr><tr style="display:none;"></tr>';
        angular.element(document.getElementById('e333fm-' + contestId)).after(html);
        angular.element(document.getElementById('e333fm-' + contestId + '-show')).text('表示済み');
        fadeIn(document.getElementById('fmc-detail-' + contestId));
    };
}]);

TriboxContest.Products = [];
@for(product:Product <- products) {
    TriboxContest.Products[@product.product_id] = '@product.product_name';
}
</script>

</div></body>
</html>

}
}
