@(id: String, products: List[Product], contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String)

@defining(id) { title =>
@defining(contestUrl + "/user/" + id) { pageUrl =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @header(title=title, description=contestDescription, sitename=contestName, url=pageUrl, contestUrl=contestUrl)

@basejs(firebaseappContest)

<style>
h3, h4 {
    margin-top: 40px;
}
a.video-url {
    margin-bottom: 0;
    min-width: auto;
    padding: 10px;
    cursor: pointer;
}
</style>

</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="UserCtrl">
    <div ng-hide="authLoaded && userLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && userLoaded">

    <div ng-hide="existsUser">
        <p class="color-error">
            存在しないユーザ名です。
        </p>
    </div>

    <div ng-show="existsUser">

        @authinfo()

        <h2>{{ thisUserData.displayname }} (@id) <i class="fa fa-check-circle" style="color: #3498DB;" title="認証済みアカウント" ng-if="thisUserData.isTriboxCustomer"></i></h2>

        <table class="profile">
            <tbody>
                <tr>
                    <th>所属</th>
                    <td>{{ thisUserData.organization }}</td>
                </tr>
                <tr ng-show="thisUserData.wcaId">
                    <th>WCA</th>
                    <td><a href="https://www.worldcubeassociation.org/results/p.php?i={{ thisUserData.wcaId }}" target="_blank">{{ thisUserData.wcaId }}</a></td>
                </tr>
                <tr ng-show="thisUserData.twitterId">
                    <th>Twitter</th>
                    <td><a href="https://twitter.com/{{ thisUserData.twitterId }}" target="_blank">@@{{ thisUserData.twitterId }}</a></td>
                </tr>
                <tr ng-show="thisUserData.bio">
                    <th>自己紹介</th>
                    <td>{{ thisUserData.bio }}</td>
                </tr>
            </tbody>
        </table>

        <h3>今シーズンのコンテスト参加履歴</h3>

        <h4>競技一覧</h4>
        <p ng-if="authData.uid == thisUsername.uid">
            <span ng-repeat="toc in tocMyHtml">
                <span ng-show="$index != 0"> / </span>
                <a href="#{{ toc.eid }}">{{ toc.name }}</a>
            </span>
        </p>
        <p ng-if="authData.uid != thisUsername.uid">
            <span ng-repeat="toc in tocHtml">
                <span ng-show="$index != 0"> / </span>
                <a href="#{{ toc.eid }}">{{ toc.name }}</a>
            </span>
        </p>

        <p>
            <i class="fa fa-star color-star"></i>: 当選ポイント獲得
        </p>

        <div ng-repeat="(eid, e) in events"><div ng-if="(authData.uid == thisUsername.uid) || (authData.uid != thisUsername.uid && history[eid])">
            <h4 id="{{ eid }}">{{ events[eid].name }}</h4>

            <p>
                合計獲得シーズンポイント: <b>{{ sumSeasonPoint[eid] }}</b> ポイント
            </p>

            <table class="table table-bordered inProgress" style="width: auto;" ng-if="authData.uid && authData.uid == thisUsername.uid">
                <thead>
                    <th>開催中</th>
                    <th>参加状況</th>
                    <th>記録</th>
                    <th>ビデオURL</th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/contest/{{ inProgress.contest | removeHead }}">第{{ inProgressContest.number }}節</a></td>
                        <td class="color-success" ng-if="historyInProgress[eid]"><i class="fa fa-check-circle"></i> 参加済み</td>
                        <td class="color-error" ng-if="!(historyInProgress[eid])">未参加</td>
                        <td>
                            <span ng-show="historyInProgress[eid]">
                                {{ historyInProgress[eid].resultF }}
                            </span>
                        </td>
                        <td>
                            <span ng-show="historyInProgress[eid]">
                                <input type="url" placeholder="URLを入力" class="form-control" style="width: auto; margin-bottom: 0;" ng-model="videoUrlInput[eid]">
                                <a class="btn video-url" ng-click="updateVideoUrl(inProgress.contest, eid);">登録</a>
                                <span id="update-video-success-{{ eid }}" class="hide">ビデオURLを登録しました。</span>
                                <span id="update-video-error-{{ eid }}" class="color-error hide"></span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered result tribox-contest margin-bottom-40" ng-if="history[eid]">
                <thead>
                    <tr>
                        <th></th>
                        <th>順位</th>
                        <th>獲得SP</th>
                        <th ng-if="eid != 'e333fm' && events[eid].method == 'average'">平均記録</th>
                        <th ng-if="eid != 'e333fm' && events[eid].method == 'best'">最高記録</th>
                        <th ng-if="eid == 'e333fm'">記録</th>
                        <th ng-if="eid != 'e333fm'">個々の記録</th>
                        <th ng-if="eid == 'e333fm'">解答・コメント</th>
                        <th>使用キューブ</th>
                        <th><i class="fa fa-video-camera"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="{{ eid }}-{{ c.contestId }}" ng-repeat="c in history[eid] | orderBy:'-contestId'">
                        <td><a href="/contest/result/{{ c.contestId }}/{{ eid | removeHead }}">第{{ c.contest.number }}節</a></td>
                        <td>{{ c.result.place }} <i class="fa fa-star color-star" ng-if="c.result.lottery"></i></td>
                        <td ng-if="c.result.seasonPoint && c.result.seasonPoint != 0">{{ c.result.seasonPoint }}</td>
                        <td ng-if="!(c.result.seasonPoint) || c.result.seasonPoint == 0"></td>
                        <td>{{ c.result.resultF }}</td>
                        <td ng-if="eid != 'e333fm'">{{ c.result.detailsF }}</td>
                        <td ng-if="eid == 'e333fm'" id="e333fm-{{ c.contestId }}-show"><a class="cursor-pointer" ng-click="showDetail(c.contestId)">表示</a></td>
                        <td ng-show="c.result.puzzle.type == 'database'">
                            <a href="http://store.tribox.com/products/detail.php?product_id={{ c.result.puzzle.product }}" target="_blank">{{ c.result.puzzleF }}</a>
                        </td>
                        <td ng-show="c.result.puzzle.type == 'nodatabase' || c.result.puzzle.type == 'unknown'">
                            {{ c.result.puzzleF }}
                        </td>
                        <td ng-if="c.result.videoUrl">
                            <a href="{{ c.result.videoUrl | encodeURI }}" target="_blank"><i class="fa fa-video-camera"></i></a>
                        </td>
                        <td ng-if="!(c.result.videoUrl)"></td>
                    </tr>
                </tbody>
            </table>
        </div></div>

        @* <!--<p>@id -> thisUserData:</p>
        <pre>{{ thisUserData | json }}</pre>
        <p>@id -> thisUsername:</p>
        <pre>{{ thisUsername | json }}</pre>--> *@

        @* <!--<p>history:</p>
        <pre>{{ history | json }}</pre>--> *@

        @* <!--<p>historyInProgress:</p>
        <pre>{{ historyInProgress | json }}</pre>--> *@

        @* <!--<p>tocHtml:</p>
        <pre>{{ tocHtml | json }}</pre>--> *@

        @* <!--<p>videoUrlInput:</p>
        <pre>{{ videoUrlInput | json }}</pre>--> *@

        @* <!--<p>events:</p>
        <pre>{{ events | json }}</pre>--> *@

        @* <!--<p>inProgress:</p>
        <pre>{{ inProgress | json }}</pre>--> *@

        @* <!--<p>inProgressContest:</p>
        <pre>{{ inProgressContest | json }}</pre>--> *@

        @* <!--<p>contests:</p>
        <pre>{{ contests | json }}</pre>--> *@

        @* <!--<p>authData:</p>
        <pre>{{ authData | json }}</pre>
        <p>userData:</p>
        <pre>{{ userData | json }}</pre>
        <p>usersecretData:</p>
        <pre>{{ usersecretData | json }}</pre>--> *@

    </div></div></div></div>

    @bodyfooter(contestName)

@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('UserCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.thisUserData = null;
    $scope.thisUsername = null;
    $scope.userLoaded = false;
    $scope.existsUser = false;

    $scope.events = null;
    $scope.inProgress = null;
    $scope.inProgressContest = null;
    $scope.contests = null;
    $scope.contestsArray = [];

    $scope.history = {};
    $scope.historyInProgress = {};
    $scope.sumSeasonPoint = {};
    $scope.videoUrlInput = {};
    $scope.tocHtml = [];
    $scope.tocMyHtml = [];

    contestRef.child('usernames').child('@id').once('value', function(snapUsername) {
        if (snapUsername.exists() && snapUsername.val().uid != null && snapUsername.val()._dummy == null && !(snapUsername.val().disabledAt)) {
            var userId = snapUsername.val().uid;

            contestRef.child('users').child(userId).once('value', function(snapUser) {
                var user = snapUser.val();

            contestRef.child('events').once('value', function(snapEvents) {
                var events = snapEvents.val();

            contestRef.child('inProgress').once('value', function(snapInProgress) {
                var inProgress = snapInProgress.val();

            contestRef.child('contests').once('value', function(snapContests) {
                var contests = snapContests.val();

            contestRef.child('userhistories').child(userId).once('value', function(snapUserhistories) {
                var userHistories = snapUserhistories.val();

                // 最新のコンテスト
                var inProgressContest = contests[inProgress.contest];
                // 最新のコンテストの参加有無
                var authData = contestRef.getAuth();
                if (authData && authData.uid == userId) {
                    Object.keys(events).forEach(function(eid) {
                        contestRef.child('results').child(inProgress.contest).child(eid).child(userId).once('value', function(snapResult) {
                            $timeout(function() {
                                if (snapResult.exists() && snapResult.val().endAt) {
                                    var r = snapResult.val();
                                    $scope.historyInProgress[eid] = r;
                                    if (eid != "e333fm") {
                                        $scope.historyInProgress[eid].resultF = TriboxContest.formatResult(r, eid, events);
                                    } else {
                                        $scope.historyInProgress[eid].resultF = 'コンテスト終了時に発表';
                                    }
                                    $scope.videoUrlInput[eid] = r.videoUrl;
                                } else {
                                    $scope.historyInProgress[eid] = null;
                                }
                            });
                        });
                    });
                }

                // 各競技のシーズンポイント初期化
                Object.keys(events).forEach(function(eid) {
                    $timeout(function() {
                        $scope.sumSeasonPoint[eid] = 0;
                        $scope.tocMyHtml.push({ 'eid': eid, 'name': events[eid].name });
                    });
                });

                Object.keys(events).forEach(function(eid) {
                    Object.keys(contests).forEach(function(cid) {
                        // 現在のシーズンのコンテストのみ
                        if (inProgressContest.year == contests[cid].year && inProgressContest.season == contests[cid].season) {
                            // ユーザが完了済みのコンテストのみ
                            if (userHistories && cid in userHistories && eid in userHistories[cid] && userHistories[cid][eid].hasCompeted == true) {
                                // 必要な分の結果だけ読み込む
                                contestRef.child('results').child(cid).child(eid).child(userId).once('value', function(snapResult) {
                                    var result = snapResult.val();
                                    if (!(result._dummy) && result.endAt) {
                                        result.resultF = TriboxContest.formatResult(result, eid, events);
                                        result.detailsF = TriboxContest.formatDetails(result, eid, events);
                                        result.puzzleF = TriboxContest.formatPuzzle(result);
                                        $timeout(function() {
                                            if (!(eid in $scope.history)) {
                                                $scope.history[eid] = [];
                                                $scope.tocHtml.push({ 'eid': eid, 'name': events[eid].name });
                                            }
                                            $scope.history[eid].push({ 'contestId': contests[cid].contestId, 'contest': contests[cid], 'result': result });
                                            if (result.seasonPoint) {
                                                $scope.sumSeasonPoint[eid] += result.seasonPoint;
                                            }
                                        });
                                    }
                                });
                            }
                        }
                    });
                });

                $timeout(function() {
                    $scope.thisUserData = snapUser.val();
                    $scope.thisUsername = snapUsername.val();
                    $scope.events = events;
                    $scope.inProgress = inProgress;
                    $scope.inProgressContest = inProgressContest;
                    $scope.contests = contests;
                    $scope.userLoaded = true;
                    $scope.existsUser = true;
                    Object.keys(contests).forEach(function(cid) {
                        $scope.contestsArray.push(contests[cid]);
                    });
                });

            });
            });
            });
            });
            });

        } else {
            console.error('Invalid username: @id');
            $scope.userLoaded = true;
        }
    }, function(error) {
        console.error(error);
    });

    $scope.showDetail = function(contestId) {
        var r;
        $scope.history['e333fm'].forEach(function(c) {
            if (c.contestId == contestId) {
                r = c.result;
                return;
            }
        });
        var html = '<tr id="fmc-detail-' + contestId + '" class="fmc-detail"><td colspan="6">'
                 + '<p><b>解答:</b><br>' + TriboxContest.escapeHTML(r.details[0].solution) + '</p>'
                 + '<p><b>コメント:</b><br>' + TriboxContest.escapeHTML(r.details[0].note) + '</p>';
        angular.element(document.getElementById('e333fm-' + contestId)).after(html);
        angular.element(document.getElementById('e333fm-' + contestId + '-show')).text('表示済み');
        fadeIn(document.getElementById('fmc-detail-' + contestId));
    };

    $scope.updateVideoUrl = function(contestId, eventId) {
        var successDOM = document.getElementById('update-video-success-' + eventId);
        var errorDOM = document.getElementById('update-video-error-' + eventId);

        angular.element(successDOM).addClass('hide');
        angular.element(errorDOM).addClass('hide');
        angular.element(successDOM).removeClass('block');
        angular.element(errorDOM).addClass('block');

        if (!($scope.videoUrlInput[eventId])) {
            angular.element(errorDOM).text('URLを入力してください。');
            angular.element(errorDOM).addClass('block');
            angular.element(errorDOM).removeClass('hide');
            return;
        }
        if (TriboxContest.INPUT_LENGTH.videoUrl.max < $scope.videoUrlInput[eventId].length) {
            angular.element(errorDOM).text('URLは' + TriboxContest.INPUT_LENGTH.videoUrl.max + '文字以下で入力してください。');
            angular.element(errorDOM).addClass('block');
            angular.element(errorDOM).removeClass('hide');
            return;
        }

        var authData = contestRef.getAuth();
        if (authData && authData.uid == $scope.thisUsername.uid) {
            contestRef.child('results').child(contestId).child(eventId).child(authData.uid).update({
                'videoUrl': $scope.videoUrlInput[eventId]
            }, function(error) {
                if (error) {
                    console.error(error);
                } else {
                    angular.element(successDOM).addClass('block');
                    angular.element(successDOM).removeClass('hide');
                }
            });
        }
    };
}]);

TriboxContest.Products = [];
@for(product:Product <- products) {
    TriboxContest.Products[@product.product_id] = '@product.product_name';
}
</script>

</div></body>
</html>

}
}
