@(userId: String, customerId: Int, contestName: String, contestDescription: String, contestUrl: String, firebaseappContest: String, firebaseappContestApikey: String, firebaseappContestMessagingsenderid: String, message: String = "", errorMessage: String = "")

@defining("Verify Click") { title =>

<!DOCTYPE html>
<html lang="ja" ng-app="contestApp">
<head>
    @header(title=title, description=contestDescription, sitename=contestName)

@basejs(firebaseappContest, firebaseappContestApikey, firebaseappContestMessagingsenderid)
@authjs(redirectLogin="", redirectLogout="", checkFirst=true)
<script>
app.controller('VerifyClickCtrl', ['$scope', '$timeout', function($scope, $timeout) {
    $scope.error = null;
    $scope.verifyClickLoaded = false;

    @if(message != "") {
        firebase.auth().onAuthStateChanged(function(authData) {
        if (authData) {
            if (authData.uid == '@{userId}') {
                // 認証アカウントをセットする
                contestRef.child('users').child(authData.uid).update({
                    'isTriboxCustomer': true
                }, function(error) {
                    if (error) {
                        console.error(error);
                    } else {
                        contestRef.child('usersecrets').child(authData.uid).update({
                            'triboxStoreCustomerId': @{customerId}
                        }, function(error) {
                            if (error) {
                                console.error(error);
                            } else {
                                $timeout(function() {
                                    $scope.verifyClickLoaded = true;
                                });
                            }
                        });
                    }
                });
            } else {
                $timeout(function() {
                    //$scope.error = 'ログインしなおしてください。';
                    $scope.error = '無効なURLです。';
                    $scope.verifyClickLoaded = true;
                });
            }
        } else {
            $timeout(function() {
                $scope.error = 'ログイン済みのPC・スマートフォン・タブレット端末等で、再度このURLにアクセスしてください。';
                $scope.verifyClickLoaded = true;
            });
        }
        }); // onAuthStateChange
    } else {
        $timeout(function() {
            $scope.verifyClickLoaded = true;
        });
    }
}]);
</script>
</head>
<body><div class="container">
    @bodyheader(title, contestName)

    <div ng-controller="AuthCtrl"><div ng-controller="VerifyClickCtrl">
    <div ng-hide="authLoaded && verifyClickLoaded">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
        Loading...
    </div>
    <div ng-show="authLoaded && verifyClickLoaded">

        @authinfo()

        <h2>アカウント認証確認</h2>

        @if(message != "") {
            <div class="notice-success margin-bottom-20" ng-if="!error">
                <i class="fa fa-check"></i>
                @message
            </div>
        }
        @if(errorMessage != "") {
            <div class="color-error margin-bottom-20">
                エラー: @errorMessage
            </div>
        }
        <div class="color-error margin-bottom-20" ng-if="error">
            エラー: {{ error }}
        </div>

    </div></div></div>

    @bodyfooter(contestName)
</div></body>
</html>

}
